<template>
  <main class="clinics main pos-relative" v-if="content">
<!--    <BaseTitle :title="getPage && getPage.meta && getPage.meta.seo && getPage.meta.seo.title" :level="2" class="h2" />-->
    <custom-section v-if="content && content[0]" :title="content[0].attributes.title" is-title-center>
    <div class="clinics__text text text--main" v-html="content[0].attributes.description"></div>
    <template v-slot:right>
      <div class="clinics__right">
        <stripped-container >
          <div class="img-wrap">
            <base-image  :image-desktop="content[0].attributes.image" :imageMobile="content[0].attributes.image_mobile && content[0].attributes.image_mobile.src? content[0].attributes.image_mobile : content[0].attributes.image"/>
          </div>
        </stripped-container>
      </div>
    </template>
    </custom-section>
    <custom-section background v-if="content && content[1] && content[1].attributes.items">
      <numbers :numbers="content[1].attributes.items" :title="content[1].attributes.title"/>
    </custom-section>
<!--    <custom-section v-if="blockSEO"-->
<!--                    v-animate-->

<!--    >-->
<!--      <component class="sector__title" v-if="blockSEO.title" :is="`h${blockSEO.title.level || 2}`" >{{blockSEO.title.text}}</component>-->
<!--      <div class="separator" v-if="blockSEO.title"></div>-->
<!--      <div v-html="blockSEO.content"></div>-->
<!--    </custom-section>-->
    <news-section v-if="content && content[2] && content[2].attributes.items"
                  :title="content[2].attributes.title"
                  :load-link="content[2].attributes.items._links.next.href"
                  :info="content[2].attributes.items.items" />
  </main>
  <Loading v-else />
</template>

<script>
    import 'swiper/css/swiper.css'
    import {mapGetters, mapMutations} from 'vuex'
    import Panels from "@/components/main-page/Panels";
    import CustomSection from "@/components/common/section/CustomSection";
    import StrippedContainer from "@/components/common/stripped-container/StrippedContainer";
   import Numbers from "@/components/numbers/Numbers";
    import NewsSection from "@/components/news/News";
    import resizeMixin from "@/mixins/resizeMixin";

    import BaseImage from "@/components/common/base/BaseImage";
    import BaseTitle from "@/components/common/base/BaseTitle";
    import Loading from "@/components/Loading";


    export default {
        name: 'sector',
        // transition: "page",
        layout: 'collaboration',
        mixin:[ resizeMixin ],
        components: {
          Loading,
          BaseTitle,
            NewsSection,
            Numbers,
            StrippedContainer,
            CustomSection,
            Panels,
            BaseImage
        },

      computed: {
        ...mapGetters(['getLang', 'getNamedPage' , 'getLoading']),
        getPage(){
          return this.getNamedPage && this.getNamedPage(this.$route.params.sector)
        },
        content() {
          return this.getPage && this.getPage.blocks
        },
        blockSEO(){
          let block = this.content && this.content.find(el => el.id=== 'BlockSeotext')
          return block ? block.attributes : undefined
        }
      },
      watch:{
        getLang: function (){
          this.loadPage()
        }
      },
    methods: {
      async loadPage() {
        {
          let lang = this.$i18n.locale;
          await this.fetchData({url: 'global/data', lang});
          await this.fetchPageData({url: `/${this.$route.params.sector}`, lang});
        }
      }
    ,
    },
      async fetch ({ store, redirect, params }) {
        try {
          let lang = params === 'uk'? 'ua' : params;
                await store.dispatch('fetchData', {url: 'global/data',lang});
                await store.dispatch('fetchPageData', {url: `/${params.sector}`,  lang});
            } catch (error) {
                redirect(this.localeRoute({ name: 'error' }))
            }
        }
    }
</script>

<style lang="scss" scoped>
  .clinics {
    &__right {
      margin-top: 20px;
      min-width: 100%;
      min-height: 245px;
      @include respond-from('xsmall') {
        margin-top: 30px;
      }
      @include respond-from('large') {
        min-width: unset;
        min-height: unset;
        flex: 0 0 635px;
        margin-top: 40px;
      }
    }



    &__text {
      @include respond-from('large') {
        max-width: 445px;
        margin-right: 30px;
      }
    }
  }
  .sector__title{
    text-align: left;
    margin-bottom: 20px;
  }
</style>

