<template>
  <main class="collaboration" v-if="getPage && content && getPage.id === 'collaboration' ">
    <custom-section :title="title" is-title-center>
      <div class="collaboration__grid">
        <panel-element v-for="(el, index) in content[0].attributes.items"
                       :key="`colaboration-`+index"
                       :title="el.title"
                       :image="el.image"
                       :color="el.color"
                       :imageMobile="el.imageMobile ? el.imageMobile : el.image"
                       :link="`/collaboration/${el.is_medical ? 'medical': el.link.split('/')[1]}`"
                       type2
                       show-more
        />
      </div>
    </custom-section>
  </main>
  <Loading v-else/>
</template>
<script>
import CustomSection from "@/components/common/section/CustomSection";
import PanelElement from "@/components/panel/PanelElement";
import {mapActions, mapGetters} from "vuex";
import BaseTitle from "@/components/common/base/BaseTitle";
import Loading from "@/components/Loading";

export default {
  name: 'collaboration-page',
  // transition: "page",
  components: {Loading, BaseTitle, CustomSection, PanelElement},

  computed: {
    ...mapGetters(['getLang', 'getNamedPage' , 'getLoading']),
    getPage(){
      return this.getNamedPage && this.getNamedPage('collaboration')
    },
    content() {
      return this.getPage && this.getPage.blocks && this.getPage.blocks
    },
    title() {
      return this.content && this.content[0] && this.content[0].attributes && this.content[0].attributes.title
    }
  },
  watch: {
    getLang: function () {
      this.loadPage()
    }
  },
  methods: {
    ...mapActions(['fetchData', 'fetchPageData']),
    async loadPage() {
      try {
        let lang = this.$i18n.locale;
        await this.fetchData({url: 'global/data', lang});
        await this.fetchPageData({url: '/collaboration', lang});
      } catch (error) {
        this.$router.replace(this.localeRoute({name: 'error'}))
      }
    },
  },
  async fetch({store, redirect, params}) {
    try {
      let lang = params === 'uk' ? 'ua' : params;
      await store.dispatch('fetchData', {url: 'global/data', lang});
      await store.dispatch('fetchPageData', {url: '/collaboration', lang});
    } catch (error) {
      redirect(this.localeRoute({name: 'error'}))
    }
  }
}
</script>

<style lang="scss" scoped>
.collaboration {
  margin-top: 0;
  margin-bottom: 50px;
  @include respond-to('medium') {
    align-items: center;
  }

  &__grid {
    display: grid;
    grid-row-gap: 20px;
    justify-content: center;
    max-width: 350px;
    width: 80%;
    grid-template-columns: 1fr;
    margin: 0 auto;

    @include respond-from('medium') {
      max-width: none;
      width: 100%;
      grid-template-columns: 330px 330px;
      grid-column-gap: 30px;
    }

    @include respond-from('large') {
      grid-row-gap: 30px;
      grid-template-columns: 540px 540px;
    }
  }
  /deep/ .h2 {
    margin-bottom: 30px;
    margin-top: 0 !important;
    padding-top: 0;
    @include respond-from('small'){
      margin-top: 30px;

    }
  }
}
</style>
