<template>
  <custom-section :title="title" with-separator background class="section">
    <template v-if="width && width < 768 && $route.name !== 'production'">
      <swiper ref="mySwiper" :options="swiperOptions">
        <swiper-slide v-for="(el, index) in items" :key="el.link">
          <panel
            :key="index"
            :image="
              el.imageDesktop && el.imageDesktop.src
                ? el.imageDesktop
                : el.imageMobile
            "
            :image-mobile="
              el.imageMobile && el.imageMobile.src
                ? el.imageMobile
                : el.imageDesktop
            "
            :title="el.title"
            :link="{
              name: 'products-catalogue',
              params: { catalogue: el.link.split('/')[2] }
            }"
            :color="el.color"
            show-more
          />
        </swiper-slide>
      </swiper>
      <div class="swiper-pagination"></div>
    </template>
    <div class="grid" v-else-if="width">
      <panel
        v-for="(el, index) in items"
        :key="index"
        :image="
          el.imageDesktop && el.imageDesktop.src
            ? el.imageDesktop
            : el.imageMobile
        "
        :image-mobile="
          el.imageMobile && el.imageMobile.src
            ? el.imageMobile
            : el.imageDesktop
        "
        :title="el.title"
        :link="{
          name: 'products-catalogue',
          params: { catalogue: el.link.split('/')[2] }
        }"
        :color="el.color"
        show-more
      />
    </div>
  </custom-section>
</template>

<script>
import Panel from '@/components/panel/PanelElement';
import CustomSection from '@/components/common/section/CustomSection';
import resizeMixin from '@/mixins/resizeMixin';
import { Swiper, SwiperSlide } from 'vue-awesome-swiper';
import 'swiper/css/swiper.css';

export default {
  name: 'panels',
  components: { CustomSection, Panel, Swiper, SwiperSlide },
  mixins: [resizeMixin],
  data() {
    return {
      swiperOptions: {
        slidesPerView: 1,
        slidesPerColumn: 3,
        spaceBetween: 20,
        pagination: {
          el: '.swiper-pagination',
          clickable: true
        }
      }
    };
  },
  props: {
    items: {
      default: () => []
    },
    title: {
      type: String,
      default: ''
    }
  }
};
</script>

<style lang="scss" scoped>
.section {
  padding-top: 20px;

  @include respond-from('small') {
    padding-top: 0;
  }
}

.swiper-container {
  height: 185vw;
  width: 100%;
  margin: auto;
}
/deep/.swiper-pagination-bullet {
  @media (min-width: 768px) {
    display: none !important;
  }
}
/deep/.swiper-wrapper {
  height: 100%;
  flex-direction: column;
  flex-wrap: wrap;
}
/deep/.swiper-slide {
  text-align: center;
  height: calc((100% - 40px) / 3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 20px;
  grid-column-gap: 10px;
  @include respond-from('large') {
    grid-row-gap: 30px;
    grid-column-gap: 30px;
  }
}
</style>
