<template>
  <div class="langs d-flex a-center">
    <nuxt-link v-for="el in langs"
               :key="el.code"
               :to="switchLocalePath(el.locale)"
    >
      <div class="langs__lang"
           :class="{active: el.locale === $i18n.locale}"
           @click.stop="changeLang(el)"
      >{{ el.name }}
      </div>
    </nuxt-link>
  </div>
</template>

<script>
import {mapGetters, mapMutations} from "vuex";
import resizeMixin from "@/mixins/resizeMixin";

export default {
  name: 'LangBar',
  mixins: [resizeMixin],
  computed: {
    ...mapGetters(['getLang', 'getMenu', 'getAllPage', 'getGlobalData']),
    langs() {
      return this.getGlobalData && this.getGlobalData.locales
      // return this.getAllPage && this.getAllPage.meta && this.getAllPage.meta.languages
    },
  },
  methods: {
    ...mapMutations(['setLang']),
    onUpdateWidth() {
    },
    changeLang(el) {
      this.setLang(el.langCode);
      // this.$router.push({ name: this.$route.name, params:{ ...this.$route.params}})
    }

  }
}
</script>

<style lang="scss" scoped>
.langs {
  justify-content: center;
  //flex-direction: row-reverse;
  @include respond-from('large') {
    justify-content: space-between;
  }

  a, /deep/ a {
    text-decoration: none
  }

  &__lang {
    font-family: $font-main-regular;
    color: $dark-text-color;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    margin-left: 15px;

    &.active {
      font-weight: bold;
      font-family: $font-main-bold;
    }
  }
}
</style>
