@mixin object-fit($fit: fill, $position: null){
  -o-object-fit: $fit;
  object-fit: $fit;
  @if $position {
    -o-object-position: $position;
    object-position: $position;
    font-family: 'object-fit: #{$fit}; object-position: #{$position}';
  } @else {
    font-family: 'object-fit: #{$fit}';
  }
}
@mixin fully() {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin transition($duration) {
  transition-timing-function: cubic-bezier(0.6, 0, 0.41, 1);
  transition-duration: $duration + s;
}

@mixin hover {
  .has-mouse &:hover {
    @content;
  }
}

