
@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;
    src: url('/fonts/#{$file-path}.ttf')format('truetype');
   }
}

@include font-face('OpenSans-Regular', 'OpenSans-Regular', 500)
@include font-face('OpenSans-Bold', 'OpenSans-Bold', 600)
@include font-face('OpenSans-Light', 'OpenSans-Light', 200)
@include font-face('Exo2-Bold', 'Exo2-Bold', 600)
@include font-face('Exo2-Regular', 'Exo2-Regular', 400)
