<template>
  <header class="header  b-box"
  :class="{open: show}"
  >
    <div class="header__wrap d-flex a-center j-between container">
      <div class="header__burger"
           :class="{open: show}"
           @click.stop="toggle"
      >
        <span></span>
        <span></span>
        <span></span>
      </div>
      <nuxt-link :to="localePath('/')">
      <div class="header__logo">
        <img v-if="getLogo" :src="generateImageUrl(getLogo)" alt="Logo">
        <img v-else src="/about-page/vista.png" />
      </div>
      </nuxt-link>
      <nav class="header__menu container b-box">
        <menu-main-item v-for="(el, index) in getMenu"
                        :key="`menu-block-`+ index"
                        :main-link="el.slug"
                        :main-caption="el.label"
                        :submenu="el.items"
                        header
                        :use-main="index === 2 || index === 3"
                        @close="close"
        />
        <lang-bar v-if="isMobile" />
      </nav>
      <lang-bar v-if="isTablet || isDesktop" />
    </div>
  </header>
</template>

<script>
  import {mapGetters, mapMutations} from "vuex";
  import resizeMixin from "@/mixins/resizeMixin";
  import logo from  "~/assets/img/vector/logo.svg?raw";
  import MenuMainItem from "./common/main-menu/MenuMainItem";
  import LangBar from "@/components/common/lang-bar/LangBar";

  export default {
      name: 'Header',
      data(){
          return {
            show: false,
              logo
          }
      },
      components: {
        LangBar,
        MenuMainItem
      },
      mixins: [resizeMixin],
      computed: {
        ...mapGetters(['getLang', 'getMenu', 'getLogo']),
      },
      methods:{
        ...mapMutations(['setLang']),
        onUpdateWidth(){
          this.show = false
        },
        close(){
          this.show = false;
        },
        toggle(){
          this.show = !this.show;
        },
      }
  }
</script>

<style lang="scss" scoped>
  $header-height-mobile: 70px;
  .header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #fff;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    height: 70px;
    &__wrap {
      justify-items: center;
      padding-top: 10px;
      padding-bottom: 10px;
      height: 100%;
    }

    &__burger {
      width: 17px;
      height: 12px;
      position: relative;
      transform: rotate(0deg);
      transition: .5s ease-in-out;
      cursor: pointer;

      @include respond-from('large'){
        display: none;
      }

      span {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: $dark-text-color;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
      }
    }
    &__burger span:nth-child(1) {
      top: 0;
      transform-origin: left center;
    }

    &__burger span:nth-child(2) {
      top: 50%;
      margin-top: -1px;
      transform-origin: left center;
    }

    &__burger span:nth-child(3) {
      bottom: 0;
      transform-origin: left center;
    }

    &__burger.open span:nth-child(1) {
      transform: rotate(45deg);
      top: -1px;
    }

    &__burger.open span:nth-child(2) {
      transform: scaleX(0);
    }

    &__burger.open span:nth-child(3) {
      transform: rotate(-45deg);
      bottom: -1px;
    }

    &__logo {
      fill: $dark-text-color;
      color: #E9B421;
      margin-left: -10px;
      max-height: 55px;
      overflow: hidden;
      @include respond-to('large'){
        position: absolute;
        left: 50%;
        top: 10px;
        margin-left: -50px;

      }@include respond-from('large'){
      margin-right: 40px;
      margin-left: 7px!important;
      }
      img {
        max-height: 55px;
        max-width: 100px;
        border-radius: 0;
        object-fit: contain;
      }
    }
    &__menu {
      background: $dark-text-color;
      @include respond-from('large'){
        background: $light-color;
        display: flex;
        margin: 0;
        flex-grow: 0;
        width: fit-content;
        padding: unset;
      }
      @include respond-to('large'){
        position: fixed;
        left: 0;
        top: $header-height-mobile;
        z-index: 1000;
        width: 100vw;
        height: calc(100vh - 70px);
        transform: translateX(-100vw);
        transition: all .3s ease-in-out;
      }
      /deep/.langs {
        margin: auto;
        @include respond-to('small'){
          margin-top: 15px;
        }
        &__lang {
          color: $light-color;
          &:first-child{
            margin-left: 0;
          }
        }
      }

    }

    /deep/ .menu__link, /deep/.menu-item {
      color: $light-color;
      @include respond-from('large'){
        color: $dark-text-color;
        font-size: 14px;
        line-height: 2.3 !important;
        font-family: $font-main-regular;
        font-weight: normal;
      }

    }
    /deep/ .menu__link {
      @include respond-from('large'){
        &:last-child {

        }
      }
    }
    /deep/ .menu:nth-child(4) /deep/ .menu-item:last-child {
    white-space: nowrap
    }
    /deep/ .menu-item {
      font-size: 14px !important;
      font-weight: normal;
      font-family: $font-main-regular;
      max-width: 100%;
      @include respond-to('large'){
        text-align: center;
      }
      @include respond-from('large'){
        line-height: 2.1 ;
      }

      /deep/ .menu-item__link{
        &:hover {
          text-decoration: underline;
          font-family: $font-main-bold;
          font-weight: bold;
        }
      }
    }
    /deep/ .menu{
      @include respond-from('large'){
        margin-right: 40px;
        &:last-of-type {
          margin-right: 0;
        }
        &:nth-child(2) .menu__block {
          padding: 15px 45px 18px 37px;
        }
      }

    }
    /deep/.plus svg {
      color: $secondary-text-color;
      @include respond-from('large') {
        display: inline-block !important;
        margin-left: 40px;
      }
    }
    /deep/ .menu__block {
      max-height: 0;
      opacity: 0;
      visibility: hidden;

      &.open  {
        max-height: 1000px;
        opacity: 1;
        visibility: visible;
      }

      @include respond-from('large') {
        position: absolute;
        top: 100%;
        left: calc(50% - 20px);
        transform: translateX(-50%);
        background: #FFFFFF;
        min-width: 230px;
        box-sizing: border-box;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
        padding: 15px 15px 18px;
        margin-top: 10px;
        font-weight: normal;
        font-size: 14px;
        line-height: 30px
      }
    }

    &.open {
      .header__menu{
        @include respond-to('large'){
          transform: translateX(0);
        }
      }
    }
  }
</style>
