<template lang="html">
  <div class="loading-page" v-if="loading">
  </div>
</template>

<script>
export default {
  data: () => ({
    loading: true
  }),
  methods: {
    start() {
      this.loading = true
      this.finish()
    },
    finish() {
      setTimeout(()=>this.loading = false, 1000)
    }
  },
  mounted() {
    this.start()
    this.finish()
  },
  // beforeRouteEnter(from, to){
  //   if(!from) {
  //     this.start()
  //   } else if(from.name !== to.name) {
  //     this.start()
  //   } else {
  //     this.loading = false
  //   }
  // }
}
</script>

<style scoped>
.loading-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  text-align: center;
  padding-top: 200px;
  font-size: 30px;
  font-family: sans-serif;
  z-index: 20000;
}
</style>
