<template>
  <nuxt-link v-on="$listeners" v-bind="props">
    <slot></slot>
  </nuxt-link>
</template>

<script>
  import { mapGetters } from "vuex";

  export default {
    name: "locale-link",
    props: {
      to: {
        required: true,
        type: [String, Object]
      }
    },
    computed: {
      ...mapGetters(['getLanguageCode']),
      link() {
        if(this.$props.to === '/'){
          return  '/';
        }
        return this.localePath(`/${this.$props.to}`)
      },
      props() {
        return {
          ...this.$props,
          to: this.link
        }
      }
    }
  }
</script>

