<template>
  <div class="menu pos-relative text"
    @click.stop="(e)=>set(e,!open)"
    @mouseenter="(e)=>set(e,true)"
    @mouseleave="(e)=>set(e,false)"
  >
    <div class="d-flex j-between a-center menu__item">
      <p
        class="menu__link"
        :class="{margin: !(submenu && submenu.length) }"
      >
        <nuxt-link
          v-if="mainLink"
          class="close" :to="localePath(`/${mainLink.split('/').pop()}`.replace('/ru', '/').replace('/en', '/'))"
          @click="(e)=>set(e,!open)"
        >
          {{ captionFinal }}
        </nuxt-link>
        <span v-else>{{ captionFinal }}</span>
      </p>
      <div
        v-if="submenu && submenu.length"
        class="menu__sign menu__sign--opened"
      >
        <span class="menu__sign-line menu__sign-line--horizontal"></span>
        <span class="menu__sign-line menu__sign-line--vertical" :class="{'menu__sign-line--opened': open}"></span>
      </div>
    </div>
    <div v-if="submenu && submenu.length" class="menu__block" :class="{open: open}">
      <menu-item
        v-for="(item, index) in shownItems"
        :key="'menu-item'+index"
        :link="`${mainLink && mainLink.split('/')[mainLink.split('/').length-1] !== 'about' && item.slug.split('/')[mainLink.split('/').length-1] !=='privacy'? '/'+ mainLink.split('/')[mainLink.split('/').length-1]+ '/'  : '/'}${item.slug.split('/')[item.slug.split('/').length-1]}`.replace('//', '/')"
        :caption="item.label"
        @click.native="(e)=>set(e,!open)"
      />
    </div>
  </div>
</template>

<script>
    import rawPlus from "~/assets/img/vector/+.svg?raw";
    import rawMinus from "~/assets/img/vector/-.svg?raw";
    import MenuItem from "./MenuItem";
    import {mapGetters} from "vuex";
    export default {
        name: 'menu-block',
        components: {MenuItem},
        data(){
            return{
              rawPlus,
              rawMinus,
              open: false,
            }
        },
        props: {
            mainLink: {
                type: String,
                default: ''
            },
            mainCaption: {
                type: String,
                default: ''
            },
          useMain: {
            type: Boolean,
            default: false
          },
          header: {
              type: Boolean,
            default: false
          },
            submenu:{
                type: Array,
                default: () => []
            },
          max: {
              type: Number | null,
            default: null
          }
        },
        methods:{
            set(e, value){
              if((this.is_touch_enabled && e.type === 'mouseenter') || (e.type === 'click' && !this.is_touch_enabled)) {return }
              this.open = value;
              if (e.target.classList.contains('close')) {
                this.$emit('close')
              }
            }
        },
        computed: {
          ...mapGetters(['getLang']),
          captionFinal(){
            return this.mainCaption.toLowerCase().charAt(0).toUpperCase() + this.mainCaption.toLowerCase().slice(1)
          },
          shownItems(){
            let list =  (!this.max || this.max > this.submenu.length)? this.submenu : Object.assign(this.submenu).slice(0, this.max )
            return this.header? list.filter(el => el.slug !== '/privacy') : list
          },
          is_touch_enabled() {
            return ( 'ontouchstart' in window ) ||
              ( navigator && navigator.maxTouchPoints > 0 ) ||
              ( navigator && navigator.msMaxTouchPoints > 0 );
          }
        }
    }
</script>

<style lang="scss" scoped>
  .menu {
    font-family: $font-main-regular;
    cursor: pointer;
    line-height:2.86;
    color: $light-color;
    align-self: center;

    &__sign {
      display: flex;
      position: relative;
      width: 10px;
      height: 10px;
      margin-left: 15px;
    }

    &__sign-line {
      background: $secondary-text-color;
      width: 2px;
      top: 0;
      bottom: 0;
      left: 4px;
      transition: transform 0.4s;

      &--horizontal {
        transform: rotate(90deg);
      }

      &--vertical {
        margin-left: -2px;
      }

      &--opened {
        transform: rotate(90deg);
      }
    }

    &__link {
      color: $secondary-text-color;
      font-family: $font-main-bold;
      font-size: 14px;
      white-space: nowrap;

      a {
        color: inherit;
        text-decoration: none
      }

      @media (min-width: 500px) {
        font-size: 16px;
      }
    }
    &__block {
      transition: all .3s ease-in-out;
      max-height: 0;
      opacity: 0;
      visibility: hidden;

      &.open  {
        max-height: 1000px;
        opacity: 1;
        visibility: visible;
      }

      @include respond-from('large') {
        max-height: 1000px;
        opacity: 1;
        visibility: visible;
      }
    }
    &__item {
        /deep/svg {
          @include respond-from('large') {
            display: none;
          }
        }
    }
    @include respond-to('large'){
      &:not(:last-child) .menu__item {
        border-bottom: 1px solid #DADADA;
      }
    }
  }
  .plus {
    flex-shrink: 0;
  }
</style>
