<template>
  <div class="text menu-item close">
    <nuxt-link :to="localePath(link)"  class="menu-item__link close">{{captionFinal}}</nuxt-link>
  </div>
</template>

<script>
  export default {
      name: 'menu-item',
      props: {
          link: {
              type: String,
              default: ''
          },
          caption: {
              type: String,
              default: ''
          }
      },
    computed:{
        captionFinal(){
            return this.caption.toLowerCase().charAt(0).toUpperCase() + this.caption.toLowerCase().slice(1)
        }
    }
  }
</script>

<style lang="scss" scoped>
.menu-item {
  font-family: $font-main-bold;
  line-height: 2.86 !important;
  color: $light-color;
  align-self: center;

  &:not(:last-of-type) {
    white-space: nowrap;
  }

  &__link {
    color: inherit;
    text-decoration: none;
  }
}
</style>
