<template>
  <button
    class="btn"
    :class="finalClass"
  >
    <span class="loading" v-if="loading"></span>
    <span  v-else>{{ buttonText }}</span>
  </button>
</template>

<script>
  export default{
      name: 'loading-button',
      props:{
          loading: {
              type: Boolean,
              default: false
          },
          type2: {
              type: Boolean,
              default: false
          },
          type3: {
              type: Boolean,
              default: false
          },
          buttonText: {
              type: String,
              default: ''
          },
          btnClass: {
              type: String,
              default: ''
          }
      },
      computed:{
          finalClass(){
              return `${this.type2? 'type2 ':''}${this.type3? 'type3 ':''}${this.btnClass? this.btnClass:''}`
          }
      }
  }
</script>
<style lang="scss" scoped>
  .loading {
    height: 10px;
    width: 10px;
    border: 3px solid currentColor;
    border-radius: 50%;
    border-left: 3px solid transparent;
    transition: all .3s ease-in-out;
    animation: 1s linear 0s infinite rotation;
    cursor: pointer;
    &:hover {
      background: $secondary-text-color;
      color: $light-color;
    }
  }
  @keyframes rotation { from { transform: rotate(0deg); } to { transform: rotate(360deg); }  }
</style>
