<template>
  <div class="strip pos-relative w-100"  :class="{large: large, xsmall: xsmall}">
    <slot></slot>
    <div class="strip__bg pos-absolute"
      :class="{gradient: gradient, left: left, full: full, small: small, xsmall: xsmall}"
    ></div>
  </div>
</template>

<script>
  export default {
      name: 'stripped-container',
      props: {
          full: {
              type: Boolean,
              default: false
          },
          left: {
              type: Boolean,
              default: false
          },
          large:{
              type: Boolean,
              default: false
          },
          small:{
              type: Boolean,
              default: false
          },
          xsmall:{
              type: Boolean,
              default: false
          },
          gradient: {
              type: Boolean,
              default: false
          },
          maxHeight: {
              type: String,
               default: 'unset'
          }
      }
  }
</script>


<style lang="scss" scoped>
  .strip {
    border-radius: $border-radius;
    //height: calc(74.25vw - 30*.7425px);
    //max-height: 470px !important;
    &.large {
      //height: calc(128vw - 77px);
      //height: unset !important;
      //max-height: unset !important;
    }
    &.xsmall {
      min-height: unset;
      //max-height: unset !important;
      height: unset;
      @include respond-from('xsmall'){
        @include respond-to('large'){
          margin: auto;
        }
      }
      @include respond-from('large'){
        width: min-content !important;
      }
    }
    @include respond-from('xsmall'){
      //height: calc(74.25vw - 80*.7425px);
      &.large {
        //height: calc(128vw - 77px);
      }
    }
    @include respond-from('large'){
      width: 635px;
      //min-height: 470px;
      //flex-basis: 635px;
      &.large {
          width: 725px;
          flex-basis: 725px;
       }
    }
    img, video {
      width: 100%;
      //height: auto;
    }
    &.large {
      .strip__bg {
        @include respond-from('large') {
          left: 170px;
        }
      }
    }
    &__bg {
      background: $secondary-text-color;
      top: 50%;
      height: 44.90%;
      transform: translateY(-50%);
      left: 0;
      z-index: -1;
      width: calc(100% + 30px);
      @include respond-from('special')  {
          //margin-top: -142px;
          height: 285px;
          width: calc(100% + 40px);
        }
      @include respond-from('large')  {
        left: 80px;
        width: calc(100% + 85px);
      }
      &.small {
        @include respond-to('special'){
          height: 44.897%;
          //margin-top: -55px;
        }
        @include respond-from('xlarge') {
          width: calc(100% + 165px);
        }
      }

      &.full {
        @include respond-from('xlarge') {
          width: 50vw;
          max-width: unset;
        }
      }

      &.left {
        right: 0 !important;
        left: unset !important;
        @include respond-from('large')  {
          right: 80px;
          width: calc(100% + 85px);
        }
        &.full {
          @include respond-from('large') {
            width: calc(50vw + 85px);
          }
        }
        &.xsmall {
          height: 100px;
          top:50%;
          //margin-top: 0;
          transform: translateY(-50%);
          width: calc(50 + 30px)!important;
          right: 50% !important;
          left: unset !important;
          @include respond-from('xsmall') {

            width: 50vw !important;
          }@include respond-from('large') {
             right: 50% !important;
             width: calc(50% + 130px)!important;
           }
        }
        &.gradient {
          transform: rotateY(180deg);

        }
      }
      &.gradient {
        background: $golden-gradient;
        @include respond-to('large'){
          height: 285px !important;
          width: calc(165px + 40px);
          right: -40px;
          left: unset;
        }
        @include respond-to('small'){
          width: calc(165px + 30px);
          right: -30px;
        }
      }
    }
  }
</style>
