<template>
  <div>
      <BlockCatalogProduct
        v-if="products && products.items"
        :dynamic-items="products.items.items"
        :tabs="products && products.tabs"
        :request-url="requestUrl"
        :with-tabs="withTabs"
        :search-url="searchUrl"
        :search-label="searchLabel"
      />

  </div>
</template>

<script>
  import {mapGetters} from 'vuex'
  import BlockCatalogProduct from "@/components/common/base/BlockCatalogProduct";
  import Vue from "vue";
  import LoadingButton from "@/components/common/stripped-container/LoadingButton";
  export default {
    name: 'catalogueList',
    scrollToTop: true,
    components: {
      BlockCatalogProduct,

    },
    computed: {
      ...mapGetters(['getLang', 'getNamedPage' , 'getLoading']),
      getPage(){
        return this.getNamedPage && this.getNamedPage('recept-category-one')
      },

      content() {
        return this.getPage && this.getPage.blocks
      },
      products() {
        return this.content && this.content[1] && this.content[1].attributes
      },
      requestUrl() {
        return this.products && this.products.requestUrl
      },
      searchUrl(){
        return this.products && this.products.searchUrl
      },
      searchLabel(){
          return this.products && this.products.searchLabel
      },
      withTabs() {
        return this.products && this.products.withTab
      }
    },
    methods:{
      setLoading(value) {
        this.loading = value;
      },
      async loadMore() {
        try {
          this.setLoading(true)
          this.$axios.setHeader("Accept-Language", this.$i18n.locale)
          let res = await this.$axios.get(this.nextLink)
          let { data } = res
          this.setLoading(false)
          this.page = this.isSector? data._meta.currentPage: data._meta.currentPage;
          this.maxLength = this.maxLength + 9;
          Vue.set(this, 'news', [...this.news, ...data.items])
          Vue.set(this, 'nextLink', data._links.next ? data._links.next.href : '')
        } catch (e) {
          console.log(e)
        }
      }
    },

  }
</script>

<style lang="scss" scoped>
</style>

