<template>
  <div class="snake-item pos-relative text text--light">
    <div class="year pos-absolute ">
     <p>{{year}}</p>
      <div class="white b-box">
        <div class="yellow"></div>
      </div>
    </div>
    <div v-html="text"></div>
  </div>
</template>
<script>
  export default {
    name: 'snake-item',
    props: {
        text: {
            type: String,
            default: ''
        },
        year: {
            type: Number | String,
            default: 2000
        }
    }
  }
</script>
<style lang="scss" scoped>
  .snake-item {
    width: auto;
    margin-left: 75px;
    margin-right: 15px;

    @include respond-to('small'){
      margin-bottom: 12px;
    }
    @include respond-to('large'){
      margin-bottom: 16px;
    }

    @include respond-from('small'){
      margin-left: 114px;
    }
    @include respond-from('large') {
      width: unset;
      margin-left: 0;
      flex: 0 0 350px;
      margin-top: 25px;
      margin-bottom: 50px;
      font-size: 14px;
    }
  }
  .yellow {
    height: 100%;
    width: 100%;
    background: $secondary-text-color;
    border-radius: 50%;
  }
  .year  {
    bottom: calc(100% + 20px);
    left: 50%;
    margin-left: -20px;
    font-size: 16px;
    @include respond-from('small'){
      font-size: 24px;
    }
    @include respond-from('large'){
      p {
        margin-bottom: 10px;
      }
    }
    @include respond-to('large'){
        transform: translateY(5px);
      display: flex;
      position: absolute;
      top: 0;
      bottom: unset;
      left: unset;
      margin-left: 0;

      right:  calc(100% + 53px);
      z-index: 2;
      p {
        margin-right: 16px;
      }
    }
    @include respond-to('small'){
      right: calc(100% + 28px);
      p {
        margin-right: 8px;
      }
    }
  }
  .white {
    height: 22px;
    width: 22px;
    padding: 4px;
    margin: auto;
    border-radius: 50%;
    background: $light-color;
    flex-shrink: 0;
    flex-grow: 0;
    @include respond-to('small'){
      height: 12px;
      width: 12px;
      padding: 2px;
    }

  }
</style>
