<template>
  <section class="snake" v-if="image && content" :style="{background: `center / cover no-repeat url(${generateImageUrl(image.src)}) rgba(0,0,0,.3)`}">
    <div class="container snake__container pos-relative" v-if="rows">
      <div class="snake__row pos-relative" v-for="(row, i) in rows" :key="i" :style="{transform: isDesktop?`translate(${i%2? '-100px' : '0'},${-10*i}px)`: 'translate(0)'}">
        <snake-item v-for="(item, index) in row" :text="item.text" :year="item.title" :key="'item-'+index" />
      </div>
    </div>
  </section>
</template>

<script>
import SnakeItem from "@/components/snake/SnakeItem";
import resizeMixin from "@/mixins/resizeMixin";
export default {
    name: 'snake',
    components: {SnakeItem},
    mixins: [resizeMixin],
    props: {
        content: {
            default: ()=> []
        },
        image:{
            type: Object,
            default: ()=>{}
        }
    },
    computed:{
        rows (){
            let rows = [], row = [];
            let i = 0;
            if(this.content){
              while(i< this.content.length){
                  row.push(this.content[i]);
                  if (row.length === 3){
                      rows.push(Object.assign(row));
                      row = []
                  };
                  if (i === this.content.length - 1 && row.length){
                      rows.push(Object.assign(row));
                  }
                  i++;
              }
            }
            return rows
        }
    }
}
</script>

<style lang="scss" scoped>
  .snake {
    margin-top: -35px;
    @include respond-from('small') {
      margin-top: -30px;
    }

    @include respond-from('large') {
      margin-top: -70px;
    }
    &__container {
      position: relative;
      z-index: 1;
      @include respond-to('large'){
        &::after {
          z-index: -1;
          position: absolute;
          content: '';
          width: 5px;
          height: calc(100% - 30px);
          background: $secondary-text-color;
          border-radius: $border-radius;
          top: 15px;
          left: 87px;
          @include respond-from('small'){
            height: calc(100% - 80px);
            top: 40px
          }
          @include respond-to('small'){
            left: 54px;
          }
        }
    }
    @include respond-from('large'){
      padding: 94px 0 45px 0;
    }

    }
    &__row {

      @include respond-to('large'){
        width: auto;
      }
      @include respond-from('large'){
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        width: 100%;
        border: 10px solid $secondary-text-color;
        &:nth-child(odd){
           .snake-item:nth-child(3) {
            flex: 0 0 247px;
          }
           .snake-item {
            transform: translateX(-32px);

          }
          border-left: none;
          margin-left: auto;
          width: calc(100% - 100px);
          border-radius: 0  200px 200px 0;
          /deep/ .snake-item {
            transform: translateX(-95px);
          }
          &:last-child {
            border: 10px solid transparent;
          }

          &:last-child::before {
            position: absolute;
            content: '';
            top: -10px;
            right: 205px;
            width: 95px;
            height: 10px;
            border-radius: 0 10px 10px 0;
            background: $secondary-text-color;
          }
        }
        &:first-child::after {
          position: absolute;
          content: '';
          top: -10px;
          left: -85px;
          width: 95px;
          height: 10px;
          border-radius: 10px 0 0 10px;
          background: $secondary-text-color;
        }
        &:nth-child(even){
          transform: translateX(-100px);
          border-right: none;
          border-radius: 200px  0 0 200px;
          flex-direction: row-reverse;
          width: calc(100% - 100px);
          .snake-item {
            transform: translateX(180px);
            &:last-child {
              transform: translateX(130px);
            }
            &:nth-child(3) {
              flex: 0 0 247px;
            }}
          &:last-child::before {
            position: absolute;
            content: '';
            top: -10px;
            left: 95px;
            width: 95px;
            height: 10px;
            border-radius: 10px 0 0 10px;
            background: $secondary-text-color;

          }
          &:nth-child(2):last-child::before{
            left: 95px;
          }
          /deep/ .snake-item:first-of-type .year {
            transform: translateX(-45px);
          }
        }
        &:last-child {
          border: 10px solid transparent;
          .snake-item:nth-child(3) {
            flex: 0 0 350px
          }
          &:nth-child(even){
            .snake-item:nth-child(3){
              transform: translateX(180px);
            }

          }
          &:nth-child(odd){
            .snake-item:nth-child(3){
              transform: translateX(-130px);
            }
            @include respond-from('large') {
              &:last-child {
                margin-left: 100px;
                width: 100%;
              }
            }
          }
          &:nth-child(even) {
             justify-content: flex-start;
           }
          &:nth-child(odd) {
            justify-content: flex-start;
          }
        }
      }

    }
  }
</style>
