<template>
  <main class="news-one" v-if="content && getPage && getPage.id === 'news-one'">
    <div class="container news-one__container">
      <div class="news-one__content pos-relative" v-if="content[0] && content[0].attributes && content[1] && content[1].attributes">
        <div class="news-one__img">
          <base-image
            :image-desktop="content[0].attributes.imageDesktop && content[0].attributes.imageDesktop.src ? content[0].attributes.imageDesktop : content[0].attributes.imageMobile"
            :image-mobile="content[0].attributes.imageMobile && content[0].attributes.imageMobile.src ? content[0].attributes.imageMobile : content[0].attributes.imageDesktop"/>
        </div>
        <div class="news-one__meta text--meta">{{ content[0].attributes.date }}</div>
        <h3 class="h3">{{content[0].attributes.title}}</h3>
        <template v-for="(el, index) in newsContent" >
          <div class="video__wrap pos-relative"  v-if="el && el.id === 'BlockVideo'"  :key="index">
            <BaseVideo :video="{src:{youtube: el.attributes.video}}"/>
          </div>
          <template v-if="el && el.id === 'BlockContentWithImage'"  >
            <div class="container apparat__content text text--main "
                 :key="index"
                 v-html="el.attributes.content"
            />
            <div class="img-wrap" :key="index+`img`">
              <BaseImage
                         :image-mobile="el.attributes.image"
                         :image-desktop="el.attributes.image"
              />
            </div>
          </template>
          <div class="video__wrap pos-relative"  v-if="el && el.id === 'BlockVideoFile'"  :key="index">
            <BaseVideo :video="{src: {video: {'mp4': el.attributes.video.src}}}" :lazy="false"/>
          </div>
          <template v-if="el && el.id === 'BlockImage'">
            <div class="img-wrap" :key="index+`img`">
              <BaseImage
                :image-mobile="el.attributes.image"
                :image-desktop="el.attributes.image"
              />
            </div>
          </template>
          <div :key="index" class="news-one__content text text--meta"
               v-if="el.id = 'BlockContent'"
               v-html="getLinks(el.attributes.content)"
          >
          </div>
        </template>
      </div>
      <aside class="news-one__aside aside">
        <h4 class="aside__title b-box text-center">{{ content[1].attributes.title }}</h4>
        <div class="aside__news  d-flex col j-between">
          <!--          <base-image  :image-desktop="img" :image-mobile="img"/>-->
          <nuxt-link
            v-if="content[1]"
            v-for="(el, index) in content[1].attributes.items"
            :key="'news-'+index"
            :to="`${el.link}`"
          >
            <div class="news d-flex j-between">
              <div v-if="el.image && el.image.src" class="news__img-preview pos-relative">
                <base-image :image-desktop="el.image" :imageMobile="el.image_mobile"/>
              </div>
              <div class="news__fake-img" v-else></div>
              <div class="news__container d-flex col j-between">
                <h5 class="news__title">{{el.title}}</h5>
                <div class="news__meta text--meta">{{ getTime(el.date) }}</div>
              </div>
            </div>
          </nuxt-link>
          <nuxt-link :to="localeRoute({name: 'news'})" class="btn type3 aside__link">{{translation[this.getLang]['all_news']}}</nuxt-link>
        </div>
      </aside>
    </div>
  </main>
  <Loading v-else />
</template>
<script>
import LazyImg from "@/components/common/LazyImg/LazyImg";
import {mapActions, mapGetters} from "vuex";
import translation from 'static/lang';
import moment from 'moment';

import BaseImage from "@/components/common/base/BaseImage";
import BaseTitle from "@/components/common/base/BaseTitle";
import Loading from "@/components/Loading";
export default {
  name: 'article-one',
  // transition: "page",
  components: {Loading, BaseTitle, BaseImage, LazyImg },
  data(){
    return {
      translation
    }
  },
  computed: {
    ...mapGetters(['getLang', 'getNamedPage' , 'getLoading']),
    getPage(){
      return this.getNamedPage && this.getNamedPage('news-one')
    },
    content(){
      return this.getPage && this.getPage.blocks && this.getPage.blocks
    },
    newsContent(){
      return [...this.content].splice(1).filter(el=> el.id !== 'otherNews')
    },
    otherNews(){
      return this.content && this.content.find(el=> el.id === 'otherNews')
    }
  },
  watch:{
    getLang: function (){
      this.loadPage()
    }
  },
  methods: {
    ...mapActions(['fetchData', 'fetchPageData']),
    getTime(timestamp) {
      return moment(timestamp).format("DD.MM.YYYY")
    },
    async loadPage() {
      try {
        let lang = this.$i18n.locale;
        await this.fetchData({url: 'global/data', lang});
        await this.fetchPageData({url: this.$router.path, lang});
      } catch (error) {
        this.$router.replace(this.localeRoute({name: 'error'}))
      }
    },
  },
  async fetch ({ store, redirect, params }) {
    try {
      let lang = params.lang === 'uk'? 'ua' : params.lang;
      await store.dispatch('fetchData', {url: 'global/data',lang});
      await store.dispatch('fetchPageData', {url: `/articles/${params.slug}`,  lang});
    } catch (error) {
      redirect(this.localeRoute({ name: 'error' }))
    }
  }
}
</script>

<style lang="scss" scoped>
.news-one {
  a, /deep/ a {
    text-decoration: none;
  }
  &__content {
    padding:30px 0 90px 0;
    flex-grow: 1;
  }
  &__img {
    width: 100%;
    min-height: 208px;
    position: relative;
    @include respond-from('xsmall') {
      min-height: 435px;
    }
    @include respond-from('xsmall') {
      min-height: 435px;
    }@include respond-from('large') {
       min-height: 490px;
     }
  }
  &__meta {
    padding: 10px 0;
    border-bottom: 1px solid $border-color;
    font-family: $font-main-regular;
    margin-bottom: 15px;
  }
  &__container {
    @include respond-from('medium'){
      display: flex;
      justify-content: space-between;
    }
  }
}
.aside {
  @include respond-from('medium'){
    margin: 30px 0 0 30px;
    flex: 0 0 350px;
  }
  &__link {
    @media (min-width: 400px )and (max-width: 992px){
      width: 210px;
      flex-grow: 0;
      margin: 30px auto 0 auto;
      text-decoration: none;
    }
  }
  &__title {
    padding: 13px;
    color: $dark-text-color;
    background: $secondary-text-color;
    font-family: $font-main-bold;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 20px;
  }
}
.news {
  text-decoration: none;
  margin-bottom: 22px;
  border-bottom: 1px solid $border-color;
  padding-bottom: 10px;
  &__container {
    flex-grow: 1;
  }
  &__title {
    font-family: $font-secondary-bold;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    color:$dark-text-color;
    @include respond-from('xsmall'){
      font-size: 16px;
    }
  }
  &__meta {
    font-size: 12px;
    margin-left: auto;
    text-align: right;
    margin-top: 10px;
    font-family: $font-main-regular;
  }
  img, &__fake-img{
    flex: 0 0 96px;
    margin-right: 23px;
  }
}
</style>
