<template>
  <section class="news-one" v-if="content">
    <div class="v-container news-one__container">
      <div class="news-one__content pos-relative"
           v-if="content[0] && content[0].attributes && content[1] && content[1].attributes">
        <div class="news-one__img">
          <base-image
            :image-desktop="content[0].attributes.imageDesktop && content[0].attributes.imageDesktop.src ? content[0].attributes.imageDesktop : content[0].attributes.imageMobile"
            :image-mobile="content[0].attributes.imageMobile && content[0].attributes.imageMobile.src ? content[0].attributes.imageMobile : content[0].attributes.imageDesktop"/>
        </div>
        <div class="news-one__meta text--meta">{{ newsDate }}</div>
        <h3 class="h3 news-one__title">{{content[0].attributes.title}}</h3>
        <template v-for="(el, index) in newsContent">
          <template v-if="el && el.attributes">
            <div class="news-one__cms-content text text--main "
                 :key="index"
                 v-html="el.attributes.content"
            />
            <div
              v-if="el.attributes && el.attributes.image"
              class="img-wrap"
              :key="index"
            >
              <BaseImage
                :image-mobile="el.attributes.image"
                :image-desktop="el.attributes.image"
              />
            </div>
          </template>
          <div v-if="el && el.attributes && el.attributes.video" class="video__wrap pos-relative" :key="index">
            <BaseVideo :video="{src: {video: {'mp4': el.attributes.video.src}}}" :lazy="false"/>
          </div>
        </template>
      </div>
      <aside class="news-one__aside aside" v-if="otherNews && otherNews.attributes">
        <h4 class="aside__title b-box text-center" v-if="otherNews.attributes">{{ otherNews.attributes.title }}</h4>
        <div class="aside__news  d-flex col j-between">
          <nuxt-link
            v-for="el in otherNews.attributes.items"
            :key="el.id"
            :to="`${el.link}`"
          >
            <div class="news d-flex j-between">
              <div v-if="el.image || el.imageMobile" class="news__img-preview pos-relative">
                <base-image
                  :image-desktop="el.image && el.image.src ? el.image : el.imageMobile"
                  :image-mobile="el.imageMobile && el.imageMobile.src ? el.imageMobile : el.image"
                />
              </div>
              <div class="news__fake-img" v-else></div>
              <div class="news__container d-flex col j-between">
                <h5 class="news__title">{{el.title}}</h5>
                <div class="news__meta text--meta">{{ getTime(el.date) }}</div>
              </div>
            </div>
          </nuxt-link>
          <nuxt-link :to="localeRoute({name: 'news'})" class="btn type3 aside__link">
            {{translation[this.getLang]['all_news']}}
          </nuxt-link>
        </div>
      </aside>
    </div>
  </section>
  <Loading v-else/>
</template>

<script>
  import LazyImg from "@/components/common/LazyImg/LazyImg";
  import {mapActions, mapGetters} from "vuex";
  import translation from 'static/lang';
  import moment from 'moment';
  import BaseImage from "@/components/common/base/BaseImage";
  import Loading from "@/components/Loading";
  import BaseVideo from "@/components/common/base/BaseVideo";

  export default {
    name: 'news-single',
    // transition: "page",
    components: {Loading, BaseImage, LazyImg, BaseVideo},
    data() {
      return {
        translation
      }
    },
    computed: {
      ...mapGetters(['getLang', 'getNamedPage' , 'getLoading']),
      getPage(){
        return this.getNamedPage && this.getNamedPage('news-one')
      },
      content() {
        return this.getPage && this.getPage.blocks && this.getPage.blocks
      },
      newsContent() {
        return [...this.content].splice(1).filter(el => el.id !== 'otherNews')
      },
      otherNews() {
        return this.content && this.content.find(el => el.id === 'otherNews')
      },
      newsDate() {
        const date = this.content[0]?.attributes?.date
        if(!date) return ''

        return date.split('.').map(value => +value <= 9 ? `0${value}` : value).join('.')
      }
    },
    watch: {
      getLang: function () {
        this.loadPage()
      }
    },
    methods: {
      getLinks(string) {
        return string && string.replace(/\/uploads\//g, `${process.env.BASE_URL}/uploads/`) || ''
      },
      getTime(timestamp) {
        return moment(timestamp * 1000).format("DD.MM.YYYY")
      },
      ...mapActions(['fetchData', 'fetchPageData']),
      async loadPage() {
        try {
          let lang = this.$i18n.locale;
          await this.fetchPageData({url: `/news/${this.$route.params.slug}`, lang});
          await this.fetchData({url: 'global/data', lang});
        } catch (error) {
          this.$router.replace(this.localeRoute({name: 'error'}))
        }
      }
    },
    async fetch({store, redirect, params}) {
      try {
        let lang = params && params.lang === 'uk' ? 'ua' : params && params.lang;
        await store.dispatch('fetchData', {url: 'global/data', lang});
        await store.dispatch('fetchPageData', {url: `/news/${params.slug}`, lang});
      } catch (error) {
        redirect(this.localeRoute({name: 'error'}))
      }
    }
  }
</script>

<style lang="scss" scoped>
  .news-one {
    flex-grow: 1;

    a, /deep/ a {
      text-decoration: none;
    }

    &__title {
      margin-top: 20px !important;

      @include respond-from('small') {
        margin-top: 30px !important;
      }
    }

    &__cms-content {
      margin-top: 15px;
      color: $meta-color;

      ::v-deep {
        ul {
          padding-left: 15px;
        }

        a {
          color: inherit;
          text-decoration: underline;
        }
      }
    }

    &__content {
      flex-grow: 1;
      margin-bottom: 30px;
    }

    &__img {
      width: 100%;
      min-height: 208px;
      position: relative;

      @include respond-from('xsmall') {
        min-height: 435px;
      }

      @include respond-from('xsmall') {
        min-height: 435px;
      }

      @include respond-from('large') {
        min-height: 490px;
      }
    }

    &__meta {
      padding: 10px 0;
      font-family: $font-main-regular;
      font-size: 12px !important;
      border-bottom: 1px solid $border-color;
      margin-bottom: 15px;

      @include respond-from('small') {
        padding: 15px 0;
      }
    }

    &__container {
      padding-bottom: 60px;
      @include respond-from('medium') {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  .aside {
    @include respond-from('medium') {
      margin-left: 30px;
      flex: 0 0 350px;
    }

    &__link {
      width: 100%;
      text-decoration: none;
      flex-grow: 0;

      @include respond-from('special') {
        width: 210px;
        margin: 30px auto 0 auto;
      }

      @include respond-from('medium') {
        width: 100%;
        margin-top: 5px;
      }
    }

    &__title {
      padding: 13px;
      color: $dark-text-color;
      font-family: $font-main-bold;
      background: $secondary-text-color;
      font-size: 13px;
      font-weight: bold;
      margin-bottom: 20px;
    }
  }

  .news {
    text-decoration: none;
    margin-bottom: 22px;
    border-bottom: 1px solid $border-color;
    padding-bottom: 10px;

    &__container {
      flex-grow: 1;
    }

    &__title {
      font-family: $font-secondary-bold;
      font-weight: bold;
      font-size: 13px;
      line-height: 16px;
      text-transform: uppercase;
      color: $dark-text-color;
      @include respond-from('xsmall') {
        font-size: 16px;
        line-height: 19px;
      }
    }

    &__meta {
      font-size: 12px;
      margin-left: auto;
      text-align: right;
      margin-top: 10px;
      font-family: $font-main-regular;
    }

    &__img-preview {
      margin-right: 15px;
      height: 64px;
      width: 96px;
      flex-shrink: 0;

      ::v-deep .lazy-image {
        border-radius: 0 !important;
      }
    }

    img, &__fake-img {
      flex: 0 0 96px;
      margin-right: 23px;
    }
  }

  .wrap {
    position: relative;
  }

  .video__wrap, .img-wrap {
    margin: 20px 0;
  }
</style>
