<template>
  <main class="main-news pos-relative" v-if="getPage && getPage.id === 'news-page'">
    <news-section
      v-if="content[0] && content[0].attributes && content[0].attributes.items"
      :title="getPage && getPage.meta && getPage.meta.seo && getPage.meta.seo.title"
      :info="content[0].attributes.items.items"
      :load-link="nextPage"
      :btn-text="btnText"
    />
  </main>
  <Loading v-else />
</template>

<script>
    import 'swiper/css/swiper.css'
    import {mapActions, mapGetters, mapMutations} from 'vuex'
    import NewsSection from "@/components/news/News";
    import resizeMixin from "@/mixins/resizeMixin";
    import Loading from "@/components/Loading";
    export default {
        name: 'news',
        // transition: "page",
        mixin:[ resizeMixin ],
        components: {
          Loading,
            NewsSection,
        },
        computed: {
          ...mapGetters(['getLang', 'getNamedPage' , 'getLoading']),
          getPage(){
            return this.getNamedPage && this.getNamedPage('news-page')
          },
          content(){
            return this.getPage && this.getPage.blocks && this.getPage.blocks
          },
          btnText(){
            return this.content && this.content[0] && this.content[0].attributes && this.content[0].attributes.button &&
              this.content[0].attributes.button.label
          },
          nextPage(){
            return this.getPage && this.getPage.blocks && this.getPage.blocks[0] &&
              this.getPage.blocks[0].attributes && this.getPage.blocks[0].attributes.items &&
              this.getPage.blocks[0].attributes.items._links && this.getPage.blocks[0].attributes.items._links.next &&
              this.getPage.blocks[0].attributes.items._links.next.href
          },
        },
      watch:{
        getLang: function (){
          this.loadPage()
        }
      },
      methods: {
        ...mapActions(['fetchData', 'fetchPageData']),
        async loadPage(){
          try {
            let lang = this.$i18n.locale;
            await this.fetchData({url: 'global/data',lang});
            await this.fetchPageData({url: '/news-page?page=1&per-page=9',  lang});
          } catch (error) {
            this.$router.replace(this.localeRoute({ name: 'error' }))
          }
        }
      },
      async fetch ({ store, redirect, params }) {
        try {
          let lang = params === 'uk'? 'ua' : params;
                await store.dispatch('fetchData', {url: 'global/data',lang});
                await store.dispatch('fetchPageData', {url: '/news-page?page=1&per-page=9',  lang});
            } catch (error) {
                redirect(this.localeRoute({ name: 'error' }))
            }
        }
    }
</script>

<style lang="scss" scoped>
  .main-news {
    //padding-top: 0;

    @include respond-from('small'){
      padding-top: 15px;
    }

    /deep/ section:first-of-type .section__container {
      @include respond-from('xsmall'){
        display: flex;
      }
    }

    /deep/ .h2 {
      margin-bottom: 30px;
      margin-top: 0 !important;
      padding-top: 0;

      @include respond-from('small'){
        margin-top: 30px;

      }
    }

    /deep/.swiper-wrapper {
      width: 100%;
    }

    .swiper-slide {
      flex: 0 0 330px;
      max-width: 100%;
    }

    /deep/.swiper__container {
      margin-top: 30px;
    }

    &__right {
      & > img, .col {
        width: calc(50% - 25px);
        flex-basis: calc(50% - 25px);
      }

      .col {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 25px;
      }

      img {
        border-radius: $border-radius;
        display: block;
      }
    }

    &__left {
      @include respond-from('small'){
        width: 330px;
        margin-right: 10px;
      }

      @include respond-from('large'){
        width: 350px;
      }
    }

    &__collage{
      .col {
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 25px;
      }

      @include respond-from('xsmall'){
        flex: 0 0 330px;
        max-width: 100%;

      }
    }
  }
</style>

