<template>
  <div class="number">
    <h4 class="number__title text-center" v-html="title"></h4>
    <div class="separator"></div>
    <div class="number__text text--main text-center">{{ text }}</div>
  </div>
</template>
<script>
  export default {
      name: 'number',
      props: {
          title: {
              type: String,
              default: ''
          },
          text: {
              type: String,
              default: ''
          }
      }
  }
</script>
<style lang="scss" scoped>
.number {
  display: flex;
  align-items: center;
  flex: 0 0 100%;
  margin: 5px 0;


  @include respond-from('xsmall'){
    flex-direction: column;
    justify-content: center
  }

  @include respond-from('small'){
    flex:  1 0 40%;
    flex-direction: column;
    justify-content: center;
  }

  @include respond-from('large'){
    flex:  0 0 250px;
    &:nth-child(n+5),  &:nth-child(n+6),  &:nth-child(n+7){
      flex:  0 0 350px;
      margin-top: 30px;
    }
  }

  &__title {
    position: relative;
    font-family: $font-secondary-bold;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    width: 50px;
    flex-shrink: 0;
    color: $secondary-text-color;
    padding-right: 10px;

    @include respond-from('xsmall'){
      margin: 0 10px;
      white-space: nowrap;
      font-size: 16px;
      width: auto;
      padding-right: 0;
    }

    @include respond-from('large') {
      font-size: 24px;
    }

    /deep/ span {
      font-size: 22px;
      display: block;
      line-height: 1.5;

      @include respond-from('xsmall'){
        font-size: 48px;
        display: inline-block;
        line-height: 1;
      }

      @include respond-from('large'){
        font-size: 64px;
        line-height: 77px;
      }
    }
  }

  &__text {
    display: flex;
    align-items: center;
    position: relative;
    max-width: 100%;
    font-family: $font-main-regular;
    text-align: left;
    font-size: 12px;
    padding: 5px 0 5px 12px;
    min-height: 50px;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 3px;
      height: 100%;
      background: $secondary-text-color;
    }

    @include respond-from('xsmall'){
      display: block;
      text-align: center;
      text-transform: uppercase;
      font-size: inherit;
      min-height: 0;

      &::after {
        display: none;
      }
    }
  }

  .separator {
    display: none !important;

    @include respond-from('xsmall'){
      display: block !important;
    }

    @include respond-from('small'){
      margin: 15px 0;
    }

    @include respond-from('large'){
      margin: 15px 0;
    }
  }
}
</style>
