<template>
  <div class="numbers">
    <BaseTitle :title="title" v-if="title" level="3" class="h3 numbers__title" />
    <div class="numbers__wrap ">
      <number-item
        v-for="el in numbers"
        :key="el.title"
        :title="`${el.title}`"
        :text="el.text"
      />
    </div>
  </div>
</template>
<script>
  import NumberItem from "./NumberItem";
    export default {
        name: 'numbers',
        components:{
            NumberItem
        },
        props: {
            title: {
                type: String,
              default: ''
            },
            numbers: {
                default: []
            }
        }
    }
</script>
<style lang="scss" scoped>
  .numbers {
    &__wrap {
      align-items: flex-start;
      flex-wrap: wrap;
      margin-bottom: 45px;
      @include respond-from('xsmall') {
        margin-bottom: 30px;
      }
      @include respond-from('large') {
        margin: 25px 0 15px 0;
        display: flex;
        justify-content: space-between;
      }
      @include respond-to('large'){
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 30px;
        grid-row-gap: 10px;
      }
      @include respond-to('xsmall'){
        grid-template-columns: 1fr;
      }

    }
    &__title {
      margin: 25px auto;
      text-align: center;
      @include respond-from('xsmall') {
        margin: 30px auto 10px auto;
      }
      @include respond-from('large') {
        margin: 45px auto 25px auto;
      }
      @include respond-from('xlarge') {
        margin: 45px auto 25px auto;
      }
    }
  }
</style>
