<template>
  <div class="cms-content" v-html="html"></div>
</template>

<script>
  export default {
    name: "CmsContent",
    props: {
      html: {
        type: String,
        default: ''
      }
    }
  }
</script>

<style lang="scss" scoped>
.cms-content {
  line-height: 1.5;

  ::v-deep {
    ul {
      list-style: none;
    }

    p {
      margin-bottom: 0.6em;
    }

    h2, h3, h4, h5, h6 {
      margin-bottom: 0.8em;
    }
  }
}
</style>
