<template>
  <div class="intersection-observer">
    <slot></slot>
  </div>
</template>

<script>
  export default {
    name: 'IntersectionObserver',
    props: {
      options: Object,
      once: {
        type: Boolean,
        default: true
      }
    },
    data () {
      return {
        observer: null
      }
    },
    computed: {
      intersectionOptions () {
        return {
          rootMargin: '0px 0px -150px 0px',
          threshold: 0,
          ...this.options
        }
      }
    },
    mounted () {
      this.addIntersectionObserver()
    },
    beforeDestroy () {
      this.observer.disconnect()
    },
    methods: {
      addIntersectionObserver () {
        if (window.IntersectionObserver) {
          this.observer = new IntersectionObserver(this.onIntersection, this.intersectionOptions)
          this.observer.observe(this.$el)
        } else {
          this.emitIntersection()
        }
      },
      onIntersection (entries, observer) {
        if (!entries[0].isIntersecting) return this.$emit('outOfView')

        this.emitIntersection()
        this.once && this.observer.disconnect()
      },
      emitIntersection () {
        this.$emit('inView')
      }
    }
  }
</script>

<style scoped>

</style>
