<template>
  <IntersectionObserver
    class="reveal-animation"
    :options="{rootMargin: '0px 0px 0px 0px'}"
    @inView="setInView"
  >
    <div
      class="reveal-animation__overlay"
      :class="isInView && 'reveal-animation__overlay--animation'"
    ></div>
    <div
      class="reveal-animation__content"
      :class="isInView && 'reveal-animation__content--animation'"
    >
      <slot></slot>
    </div>
  </IntersectionObserver>
</template>

<script>
  import IntersectionObserver from '@/components/common/IntersectionObserver'

  export default {
    name: "RevealAnimation",
    components: {
      IntersectionObserver
    },
    data: () => ({
      isInView: false
    }),
    methods: {
      setInView() {
        this.isInView = true
      }
    }
  }
</script>

<style lang="scss" scoped>
.reveal-animation {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255,255, .6);
    transition: transform 1s;
    z-index: 1;
    pointer-events: none;
    transform-origin: 0 0;

    &--animation {
      transform: scaleX(0);
    }
  }

  &__content {
    transform: translateX(8%);
    transition: transform 1s;
    height: 100%;
    width: 100%;
    transform-origin: 0 0;

    &--animation {
      transform: translateX(0);
    }
  }
}
</style>
