<template>
  <custom-section :title="title" :with-separator="!isNewsPage" :is-title-center="isNewsPage">
    <div class="news__grid">
      <news-panel v-for="(el, index) in shownNews"
                  :key="`news-`+index"
                  :image="el.imageDesktop && el.imageDesktop.src ? el.imageDesktop : el.imageMobile"
                  :link="el.link"
                  :image-mobile="el.imageMobile && el.imageMobile.src? el.imageMobile: el.imageDesktop"
                  :title="el.title || el.label"
                  :timestamp="el.date"
      />
    </div>

    <loading-button v-if="((isNewsPage && nextLink) || isSector && nextLink)"
                    :loading="loading"
                    :button-text="btnText? btnText : buttonText"
                    type3
                    :btn-class="`news_button${isNewsPage? ' fix': ''}`"
                    @click.native="loadMore"
    />
    <a :href="btnLink ? localePath(`/${btnLink}`) : localePath(`/news`)"
       v-else-if="!isNewsPage && !isSector">
      <button class="btn type3 news__button">
        {{btnText ? btnText : translation[this.$i18n.locale]['more_news']}}
      </button>
    </a>

  </custom-section>

</template>

<script>
  import Panel from "@/components/panel/PanelElement";
  import CustomSection from "@/components/common/section/CustomSection";
  import resizeMixin from "@/mixins/resizeMixin";
  import NewsPanel from "@/components/news/NewsPanel";
  import translation from 'static/lang';
  import {mapGetters} from "vuex";
  import LoadingButton from "@/components/common/stripped-container/LoadingButton";
  import axios from "axios";
  import Vue from 'vue';

  export default {
    name: 'news-section',
    components: {LoadingButton, NewsPanel, CustomSection, Panel},
    mixins: [resizeMixin],
    data() {
      return {
        maxLength: 1,
        isShownMore: false,
        totalNews: 9,
        currentPage: 0,
        lastPage: 2,
        translation,
        loading: false,
        page: 1,
        nextPage: '',
        news: [],
        nextLink: ''
      }
    },
    props: {
      info: {
        type: Array,
        default: () => []
      },

      title: {
        type: String,
        default: ''
      },
      btnText: {
        type: String,
        default: ''
      },
      btnLink: {
        type: String,
        default: ''
      },
      loadLink: {
        type: String,
        default: ''
      },
    },
    mounted() {
      this.setLength();
      if (this.isNewsPage) {
        this.page = this.info.length % 3;
      }
      Vue.set(this, 'news', [...this.info])
      Vue.set(this, 'nextLink', this.loadLink)
    },
    methods: {
      setLength() {
        if (this.isNewsPage) {
          if (this.width < 690) {
            this.maxLength = 7
          } else if (this.width < 1200) {
            this.maxLength = 7
          } else {
            this.maxLength = 9
          }
        } else {
          if (this.width < 690) {
            this.maxLength = 1
          } else if (this.width < 1200) {
            this.maxLength = 2
          } else {
            this.maxLength = 3
          }
        }
      },
      onUpdateWidth() {
        if (!this.isShownMore) {
          this.setLength()
        }
      },
      setLoading(value) {
        this.loading = value;
      },
      async loadMore() {
        try {
          this.setLoading(true)
          // let lang = this.getLang === 'uk' ? 'ua' : this.getLang
          let url = !this.isSector ? this.nextLink :
             this.nextLink;
          this.$axios.setHeader("Accept-Language", this.$i18n.locale)
          let res = await this.$axios.get(url)
          let { data } = res
          this.setLoading(false)
          this.page = this.isSector? data._meta.currentPage: data._meta.currentPage;
          this.maxLength = this.maxLength + 9;
          Vue.set(this, 'news', [...this.news, ...data.items])
          Vue.set(this, 'nextLink', data._links.next ? data._links.next.href : '')
        } catch (e) {
          console.log(e)
        }
      }
    },
    computed: {
      ...mapGetters(['getLang']),
      isNewsPage() {
        return this.$route && this.$route.name.split('__')[0] === 'news'
      },
      isSector() {
        return this.$route && this.$route.name === 'collaboration-sector'
      },
      shownNews() {
        return this.news && (this.news.length > this.maxLength ? this.news.slice(0, this.maxLength) : this.news)
      },
      buttonText() {
        return this.$router.name === 'index' || this.$router.name === 'news' ? this.translation[this.getLang]['more_news'] : this.translation[this.getLang]['load-more']
      },
    }
  }
</script>

<style lang="scss" scoped>
  .news {
    &__grid {
      display: grid;
      grid-gap: 20px;
      width: 100%;
      margin-bottom: 30px;

      @media (max-width: 690px) {
        justify-content: center;
      }

      @media (min-width: 690px) {
        grid-template-columns: 330px 330px;
        grid-column-gap: calc(100% - 660px);
        grid-row-gap: 30px;
      }

      @media (min-width: 1200px) {
        grid-template-columns: 350px 350px 350px;
        grid-column-gap: 30px;
        margin-bottom: 50px;
      }
    }

    &__button, /deep/ .news_button {
      background: none;
      margin: 30px auto;

    }
  }

  ::v-deep .fix {
    @media (max-width: 690px) {
      width: 100%;
    }
  }

  .news_button, .btn.type3.news_button, a:hover .news_button {
    background: none;
    margin: 30px auto;
    cursor: pointer !important;
  }

  /deep/ a {
    text-decoration: none;
  }
</style>
