<template>
  <div class="news-panel d-flex j-between h-100 col">
    <a :href="link" class="pos-relative news-panel__img">
      <BaseImage :image-mobile="imageMobile" :image-desktop="image" />

    </a>
    <a :href="link" class="news-panel__link">
      <h3 class="news-panel__title">{{title}}</h3>
    </a>
    <div class="news-panel__meta text text--meta d-flex" v-if="$route.name !== 'collaboration-sector'">
      <div v-html="clock"></div>
      <div class="news-panel__time">{{shownDate}} <span class="news-panel__hours">{{shownHours}}</span></div>
    </div>
  </div>
</template>
<script>
  import clock from  "~/assets/img/vector/clock.svg?raw";
    import LazyImg from "@/components/common/LazyImg/LazyImg";
  import {mapGetters} from "vuex";
  import moment from 'moment';
  import BaseImage from "@/components/common/base/BaseImage";

    export default {
        components: {
            BaseImage,
            LazyImg
        },
        data(){
            return {
                clock
            }
        },
        props: {
            image: {
                default: ()=>{}
            },
            imageMobile: {
                default: ()=>{}
            },
            title: {
                type: String,
                default: ''
            },
            link: {
              type: String,
              default: ''
            },
            timestamp: {
                type: Number,
                default: 0
            }
        },
        computed: {
            ...mapGetters(['getLang']),
            shownDate(){
                let lang = this.getLang === 'ua'? 'uk' : this.getLang;
                moment.locale(lang);
                return moment(this.timestamp*1000).format("DD MMMM")
            },
            shownHours(){
              let lang = this.getLang === 'ua'? 'uk' : this.getLang;
              moment.locale(lang);
              return moment(this.timestamp*1000).format("hh:mm")
            },

        }
    }
</script>

<style lang="scss" scoped>
  .news-panel {
    height: 100%;

    &__time {
        margin-left: 30px;
     }
    &__hours {
      margin-left: 30px;
    }
    &__img {
      min-height: 208px;
      box-shadow: 0px 2px 20px rgba(0, 0, 0, 0);
      &:hover {
        transition: all .3s ease-in-out;
       box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2)
      }
      @media (min-width: 1200px) {
        min-height: 220px;
      }
    }
    &__link {
      text-decoration: none;
      justify-self: flex-start;
      margin-bottom: auto;
    }

    &__title {
      font-size: 18px;
      margin-bottom: 30px;
      margin-top: 30px;
      line-height: 1.35;
      font-family: $font-secondary-bold;
      text-transform: none;

      @include respond-from('xsmall'){
        font-size: 24px;
        @include respond-to('large'){
          margin-bottom: 10px;
        }
      }
    }
  }
</style>
