<template>
  <ul class="product-tabs">
    <li
      v-for="(item, index) in items"
      :key="item.title"
      class="product-tabs__item"
    >
      <button
        class="product-tabs__btn"
        :class="{ 'product-tabs__btn--active': index === activeIndex }"
        @click="$emit('tabClick', index)"
      >
        {{ capitalize(item.title) }}
      </button>
    </li>
  </ul>
</template>

<script>
  export default {
    name: "ProductTabs",
    props: {
      items: {
        type: Array,
        default: () => []
      },
      activeIndex: {
        type: Number,
        default: 0
      }
    },
    methods: {
      capitalize(text) {
        if(!text) return

        return text[0].toUpperCase() + text.toLowerCase().slice(1)
      }
    }
  }
</script>

<style lang="scss" scoped>
  $tablet-width: 1020px;

  .product-tabs {
    color: $dark-text-color;
    background: #F5F5F5;
    list-style: none;
    font-size: 16px;
    border-radius: $border-radius;

    @media (min-width: $tablet-width) {
      display: flex;
    }

    &__item {
      flex-grow: 1;
      flex-shrink: 1;
    }

    &__btn {
      width: 100%;
      padding: 10px 25px;
      cursor: pointer;
      border-radius: $border-radius;
      border: 1px solid transparent;
      font-size: inherit;
      transition: 0.4s background-color, opacity 0.4s;
      background: none;

      &:hover:not(.product-tabs__btn--active) {
        opacity: 0.5;
      }

      &--active {
        font-weight: 700;
        background: $secondary-text-color;
      }
    }
  }
</style>
