<template>
  <div class="custom-input" :class="type==='textarea'? 'textarea' : ''">
    <component
      :is="type"
      v-on="gteListeners()"
      v-bind="$attrs"
      class="custom-input__value text"
      v-mask="field==='phone' ? `+38 (0##) ###-##-##`: ''"
      :value="value"
    />
    <div v-if="!isValid" class="custom-input__error error pos-absolute">
      {{ message }}
    </div>
  </div>
</template>

<script>
import VueMask from 'v-mask'
import Vue from 'vue'
Vue.use(VueMask)
  export default {
    name: 'CustomInput',
    data: () => ({
      isValid: true,
      firstInput: true
    }),
    props: {
      message: {
        type: String,
        default: ''
      },
      field: {
        type: String,
        default: ''
      },
      type: {
        type: String,
        default: 'input'
      },
      value: {
        type: String,
        default: ''
      },
      rules: {
        type: Array,
        default: () => []
      }
    },
    watch: {
      value(value) {
        if(!this.firstInput) this.validate()
      }
    },
    methods: {
      gteListeners(){
        return {
          ...this.$listeners,
          input: (event) => {
            const { value } = event.target

            this.$emit('input', value)
          },
          blur: () => {
            this.enableValidationAfterFirstInput()
          }
        }
      },
      async validate() {
        await this.$nextTick()
        this.firstInput = false

        if(!this.rules.length) {
          this.isValid = true
          return true
        }
        this.isValid = this.rules.every(rule => {
          return rule(this.value)
        })
        return this.isValid
      },
      enableValidationAfterFirstInput() {
        if(this.firstInput)
        this.validate()
      },
      async clear() {
        await this.$nextTick()
        this.$emit('input', '')
        this.firstInput = true
      }
    }
  }
</script>

<style lang="scss" scoped>
  .custom-input {
    width: 100%;
    position: relative;
    padding-bottom: 20px;

    &__value {
      border-radius: $border-radius;
      border: 2px solid #D5D5D5;
      font-size: 12px;
      padding: 13px 18px;
      width: 100%;
      background: transparent;
      box-sizing: border-box;
      resize: none;
      display: block;
      color: $main-text-color;
      box-shadow: none;
      -webkit-appearance: none;
      &::placeholder {
        color: $main-text-color;
      }

      @include respond-from('xsmall'){
        font-size: 14px !important;
      }
    }

    &__error {
      bottom: 0;
      left: 0;
      font-family: inherit;
    }

    &__textarea {
      resize: none;
      margin-bottom: 20px;
    }
  }
</style>
