<template>
  <div
    v-if="itemListElement.length > 1"
    class="breadcrumbs"
  >
    <div class="v-container">
      <ul class="breadcrumbs__list">
        <li
          v-for="(item, id) in finalList"
          :key="id"
          class="breadcrumbs__item"
        >
          <nuxt-link v-if="item && item.item && item.item.name"
            :to="`${item.item['@id']}`"
            :aria-label="item.item.name"
            class="tag-small breadcrumbs__link"
          >
            <span >
              {{ captionFinal(item.item.name) }}
              <i v-if="id !== finalList.length - 1 && finalList[id + 1] && finalList[id + 1].item && finalList[id +1].item.name">|</i>
            </span>
          </nuxt-link>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
/* eslint-disable vue/prop-name-casing */

  export default {
    name: 'BlockBreadcrumbs',
    props: {
      '@context': String,
      '@type': String,
      'itemListElement': {
        type: Array,
        default: () => ([])
      }
    },
    methods: {
      captionFinal(val){
        return val.toLowerCase().charAt(0).toUpperCase() + val.toLowerCase().slice(1)
      },
    },
    computed: {
      finalList(){
        return this.itemListElement /*&& this.itemListElement.filter(el => el.item  && !!el.item.name)*/
      }
    }
  }
</script>

<style lang="scss" scoped>
.breadcrumbs {
  position: relative;
  padding: 100px 0 25px 0 !important;

  @include respond-from('large'){
    display: block;
  }

  &__list {
    position: relative;
    z-index: 999;
    list-style: none;

    @include respond-from('small') {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__item {
    position: relative;
    margin-right: 0;
    display: inline;

    @include respond-from('small') {
      display: block;
    }

    &:last-child {
      margin-right: 0;
      font-weight: bold;
      font-family: $font-main-bold;
      span {
        font-weight:bold;
        font-family: $font-main-bold;
        cursor: default;
      }

      .breadcrumbs__link {
        pointer-events: none;
      }
    }
  }

  &__link {
    text-decoration: none;

    @include respond-from('small') {
      display: block;
    }

    span {
      width: 100%;
      overflow: hidden;
      font-family: $font-main-regular;
      font-size: 12px;
      font-weight: 400;
      line-height: 1.5;
      color: #4A4A4A;
      text-align: left;
      max-width: 400px;

      @include respond-from('small') {
        max-width: none;
        text-overflow: initial;
        display: block;
      }

      @include respond-from('small') {
        font-size: 14px;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

     transition: all .3s ease-in-out;

      i {
        padding: 0 3px 0 3px;
        font-style: normal;
      }
    }
  }
}
</style>
