<template>
  <div class="page d-flex col j-between">
    <Header/>
    <block-breadcrumbs v-if="getMeta && getMeta.breadcrumbs" :item-list-element="getMeta.breadcrumbs.itemListElement"
                       :@context="getMeta.breadcrumbs['@context']"
                       :@type="getMeta.breadcrumbs['@type']"
    />
    <nuxt/>
    <modal name="info"
           width="100%"
           height="100%"
           classes="transparent"
    >
      <div class="modal d-flex j-center a-center">
        <div class="modal__inner pos-relative d-flex col j-center a-center">
          <div class="modal__close pos-absolute " @click="hideModal" v-html="close"></div>
          <div class="modal__caption">{{ thank1 }}</div>
          <div class="modal__caption small">{{ thank2 }}</div>
          <div class="modal__button btn type3 textarea submit" @click="hideModal">OK</div>
        </div>
      </div>
    </modal>
    <custom-section background>
      <div class="form-container">
        <h2 class="form__title" v-if="form">{{ form.title }}</h2>
        <MyForm :info="form" v-if="form && form.form" show-organization/>
      </div>
    </custom-section>
    <Footer v-animate/>
<!--    <Loading v-if="firstLoading"/>-->
  </div>
</template>

<script>
import Header from "../components/Header";
import Footer from "../components/footer/Footer";
import MyForm from "@/components/form/Form";
import CustomSection from "@/components/common/section/CustomSection";
import translation from 'static/lang'
import seoMixin from '~/mixins/logic/seo-mixin'
import {mapGetters} from "vuex";
import appLoadedMixin from '~/mixins/logic/app-loaded-mixin'
import BlockBreadcrumbs from "@/components/common/bread-crumbs/BreadCrumbs";
import Loading from "@/components/Loading";
import close from '~/assets/svg/close.svg?raw'

export default {
  name: 'collaborationLayout',
  data() {
    return {
      translation,
      close
    }
  },
  mixins: [
    seoMixin,
    appLoadedMixin],
  computed: {
    ...mapGetters(['getLang', 'getNamedPage' , 'getLoading', 'getMeta']),
    getPage(){
      return this.getNamedPage && this.getNamedPage(this.getPageName)
    },
    getPageName(){
      switch (this.$route.name.split('__')[0]){
        case 'collaboration-medical-id':
          return 'medical-equipment-one';
        case 'collaboration-sector':
          return this.$route.params.sector
        default: return ''
      }
    },
    content() {
      return this.getPage && this.getPage.blocks
    },
    thank1() {
      return translation[this.getLang]['thank1']
    },
    thank2() {
      return translation[this.getLang]['thank2']
    },
    form() {
      return (this.content && this.content.filter(el => el.id === 'callbackForm') &&
        this.content.filter(el => el.id === 'callbackForm')[0] &&
        this.content.filter(el => el.id === 'callbackForm')[0].attributes) || (this.content && this.content.find(el => el.id === 'medical-form') &&
        this.content.find(el => el.id === 'medical-form'))  || (this.content && this.content[2])
    }
  },
  methods: {
    showModal() {
      this.$modal.show('info')
    },
    hideModal() {
      this.$modal.hide('info')
    },

  },
  mounted() {
    this.$nuxt.$on('show', () => {
      this.showModal()
    })
    if (this.getGlobalData && this.getGlobalData.scripts) {
      importScripts(this.getGlobalData.scripts)
    }
  },
  components: {
    Loading,
    CustomSection,
    MyForm,
    Footer,
    Header,
    BlockBreadcrumbs
  },


}
</script>

<style lang="scss" scoped>
.page {
  min-height: 100vh;
}

.form-container {
  @include respond-from('xsmall') {
    padding: 20px 0;
  }
  @include respond-from('large') {
    padding: 40px 0;
  }
}

/deep/ textarea {
  min-height: 120px;
}

/deep/ .submit {
  @include respond-from('large') {
    min-width: 350px !important;
  }
}
.form__title {
  @include respond-to('xsmall') {
    margin: 10px auto 25px auto;
    font-size: 24px;
  }
}

.modal {
  position: fixed;
  background: $background;
  top: 0;
  left: 0;
  z-index: 11000;
  width: 100%;
  height: 100vh;

  &__close {
    top: 10px;
    right: 10px;
    height: 14px;
    width: 14px;
  }

  &__inner {
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    background: $light-color;
    width: 570px;
    max-width: 90%;
    min-height: 270px;
    border-radius: $border-radius;

  }

  &__caption {
    font-family: $font-secondary-bold;
    font-size: 24px;
    line-height: 48px;
    color: $main-text-color;
    text-align: center;
    &.small {
      font-size: 16px;
      line-height: 45px;
      color: #323232;
    }
  }

  &__button {
    background: $secondary-text-color;
    color: $light-color;
    margin-top: 40px;
    &:hover{
      color: $secondary-text-color;
    }
  }
}
 /deep/ .transparent {
  background: transparent;
  box-shadow: unset;
}
</style>

