<template>
  <div class="page d-flex col j-between">
    <Header/>
    <block-breadcrumbs
      v-if="getMeta && getMeta.breadcrumbs"
      :item-list-element="getMeta.breadcrumbs.itemListElement"
      :@context="getMeta.breadcrumbs['@context']"
      :@type="getMeta.breadcrumbs['@type']"
    />
    <nuxt />
    <modal name="info"
           classes="transparent"
    >
      <div class="modal d-flex j-center a-center">
        <div class="modal__inner pos-relative d-flex col j-center a-center">
          <div class="modal__close pos-absolute " @click="hideModal" v-html="close"></div>
          <div class="modal__caption">{{ thank1 }}</div>
          <div class="modal__caption small">{{ thank2 }}</div>
          <div class="modal__button btn type3 textarea submit" @click="hideModal">OK</div>
        </div>
      </div>
    </modal>
    <img
      class="radius-none"
      v-animate
      v-if="disclamer && (isMobile || isTablet)" :src="generateImageUrl(disclamer.imageMobile.src)" />
    <img
      class="radius-none"
      v-animate
      v-else-if="disclamer && isDesktop" :src="generateImageUrl(disclamer.imageDesktop.src)" />
    <Footer v-animate/>
<!--    <Loading v-if="firstLoading && $route.name !== 'products-catalogue'"/>-->
  </div>
</template>

<script>
import Header from "../components/Header";
import Footer from "../components/footer/Footer";
import appLoadedMixin from '~/mixins/logic/app-loaded-mixin'
import seoMixin from '~/mixins/logic/seo-mixin'
import {mapGetters} from "vuex";
import BlockBreadcrumbs from "@/components/common/bread-crumbs/BreadCrumbs";
import Loading from "@/components/Loading";
// import close from "assets/svg/close.svg";
import close from '~/assets/svg/close.svg?raw'
import translation from 'static/lang'
import BaseImage from "@/components/common/base/BaseImage";
import resizeMixin from "@/mixins/resizeMixin";

export default {
  name: 'layoutDefault',
  mixins: [
    seoMixin,
    appLoadedMixin,
    resizeMixin
  ],
  components: {
    BaseImage,
    BlockBreadcrumbs,
    Footer,
    Header,
    Loading
  },
  data() {
    return {
      translation,
      close
    }
  },
  computed: {
    ...mapGetters(['getMeta', 'getLang', 'getLoading', 'firstLoading', 'getPage']),
    disclamer(){
      return this.getPage && this.getPage.blocks &&
        this.getPage.blocks.find(el => el.id === 'BlockDisklamer') &&
        this.getPage.blocks.find(el => el.id === 'BlockDisklamer').attributes
    },

    thank1() {
      return translation[this.getLang]['thank1']
    },
    thank2() {
      return translation[this.getLang]['thank2']
    },
  },
  mounted() {
    this.$nuxt.$on('show', () => {
      this.showModal()
    })
    if (this.getGlobalData && this.getGlobalData.scripts) {
      importScripts(this.getGlobalData.scripts)
    }
  },
  methods: {
    showModal() {
      this.$modal.show('info')
    },
    hideModal() {
      this.$modal.hide('info')
    },

  }
}
</script>

<style lang="scss" scoped>
.page {
  min-height: 100vh;
  background-color: #FDFDFD;
}

.modal {
  position: fixed;
  background: $background;
  top: 0;
  left: 0;
  z-index: 11000;
  width: 100%;
  height: 100vh;

  &__close {
    top: 10px;
    right: 10px;
    height: 14px;
    width: 14px;
  }

  &__inner {
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    background: $light-color;
    width: 570px;
    max-width: 90%;
    min-height: 270px;
    border-radius: $border-radius;

  }

  &__caption {
    font-family: $font-secondary-bold;
    font-size: 24px;
    line-height: 48px;
    color: $main-text-color;
    text-align: center;
    &.small {
      font-size: 16px;
      line-height: 45px;
      color: #323232;
    }
  }

  &__button {
    background: $secondary-text-color;
    color: $light-color;
    margin-top: 40px;
    &:hover{
      color: $secondary-text-color;
    }
  }
}
/deep/ .transparent {
  background: transparent;
  box-shadow: unset;
}
.radius-none {
  border-radius: 0 !important;
}
</style>

