<template>
  <RevealAnimation class="video-viewer" @click.native="pauseOthersVideos">
    <YoutubeVideo
      ref="video"
      v-if="isYoutube"
      :link="video.youtube"
      :poster="posterLink"
      @playing="pauseOthersVideos"
    />
    <VimeoVideo
      ref="video"
      v-if="isVimeo"
      :link="video.vimeo"
      :poster="posterLink"
    />
    <StoredVideo
      ref="video"
      v-if="isStoredVideo"
      :poster="posterLink"
      :videos-format="video.video"
    />
  </RevealAnimation>
</template>

<script>
  import IntersectionObserver from '@/components/common/IntersectionObserver'
  import VimeoVideo from '@/components/common/video-viewer/VimeoVideo'
  import YoutubeVideo from '@/components/common/video-viewer/YoutubeVideo'
  import StoredVideo from '@/components/common/video-viewer/StoredVideo'
  import RevealAnimation from '@/components/common/RevealAnimation'

  let activeVideos = []

  export default {
    name: "VideoViewer",
    components: {
      IntersectionObserver,
      VimeoVideo,
      YoutubeVideo,
      StoredVideo,
      RevealAnimation
    },
    props: {
      video: {
        type: Object,
        required: true,
      },
      poster: {
        type: Object,
        default: null
      }
    },
    computed: {
      isYoutube() {
        return !!this.video.youtube
      },
      isVimeo() {
        return !!this.video.vimeo
      },
      isStoredVideo() {
        return !this.isYoutube && !this.isVimeo
      },
      posterLink() {
        if(!this.poster) return ''

        return this.poster.src.includes('/uploads')
          ? process.env.API_URL + this.poster.src
          : this.poster.src
      }
    },
    methods: {
      pause() {
        this.$refs.video.pause()
      },
      pauseOthersVideos() {
        // using one ref for all kind of videos

        activeVideos
          .filter(videoEl => videoEl !== this)
          .forEach(videoEl => videoEl.pause())
      }
    },
    mounted() {
      activeVideos.push(this)
    },
    beforeDestroy() {
      activeVideos = activeVideos.filter(videoEl => videoEl !== this)
    }
  }
</script>

<style scoped lang="scss">
.video-viewer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: $border-radius;
  overflow: hidden;
}
</style>
