<template>
  <button class="play-button" v-on="$listeners"></button>
</template>

<script>
  export default {
    name: "PlayButton"
  }
</script>

<style scoped lang="scss">
.play-button {
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: rgba(#fff, 0.6);
  border: none;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 36%;
    transform: translate(0, -50%);
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left-color: #000;
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(0, -50%);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-left-color: #fff;
  }
}
</style>
