<template>
  <div
    tabindex="0"
    class="poster"
    @click="$emit('click')"
    :style="backgroundStyle"
  >
    <PlayButton class="poster__button" />
  </div>
</template>

<script>
  import PlayButton from '@/components/common/video-viewer/PlayButton'

  export default {
    name: "PosterWithPlayButton",
    components: {
      PlayButton
    },
    props: {
      src: {
        type: String,
        default: ''
      }
    },
    computed: {
      backgroundStyle() {
        return `background-image: url(${this.src});`
      }
    }
  }
</script>

<style lang="scss" scoped>
.poster {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &:hover {
    .poster__button {
      transform: scale(1.05);
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__button {
    position: relative;
    z-index: 2;
    transition: transform 0.4s;
  }
}
</style>
