<template>
  <div class="video">
    <PosterWithPlayButton
      class="video__poster"
      :class="isPlaying && 'video__poster--hidden'"
      :src="posterSrc"
      @click="play"
    />
    <video
      ref="video"
      :controls="controls"
      preload="auto"
      class="video__player"
      @click="isPlaying = false"
      muted
    >
      <source
        v-for="[videoFormat, value] in Object.entries(videosFormat)"
        :key="videoFormat"
        :src="generateVideoSrc(value)"
        :type="`video/${videoFormat}`"
      >
    </video>
  </div>
</template>

<script>
  import PosterWithPlayButton from '@/components/common/video-viewer/PosterWithPlayButton'

  export default {
    name: "StoredVideo",
    components: {
      PosterWithPlayButton
    },
    props: {
      videosFormat: {
        type: Object,
        default: null
      },
      posterSrc: {
        type: String,
        default: ''
      },
      controls: {
        type: Boolean,
        default: true
      }
    },
    data: () => ({
      isPlaying: false
    }),
    methods: {
      async play () {
        await this.$nextTick()
        this.$refs.video.play()
        this.isPlaying = true
      },
      async pause () {
        await this.$nextTick()
        this.$refs.video.pause()
        this.isPlaying = false
      },
      generateVideoSrc(src) {
        const regexp = /\/uploads/g
        return regexp.test(src) ? `${process.env.BASE_URL}${src}` : src
      }
    }
  }
</script>

<style lang="scss" scoped>
.video {
  width: 100%;
  height: 100%;

  &__poster {
    transition: opacity 0.4s;
    z-index: 2;
    pointer-events: auto;

    &--hidden {
      opacity: 0;
      pointer-events: none;
    }
  }

  &__player {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
</style>
