<template>
<div class="vimeo">
  <iframe
    :src="vimeoLink"
    iframeborder="0"
    class="iframe w-100 h-100"
    allowfullscreen="allowfullscreen"
    mozallowfullscreen="mozallowfullscreen"
    msallowfullscreen="msallowfullscreen"
    oallowfullscreen="oallowfullscreen"
    webkitallowfullscreen="webkitallowfullscreen"
  ></iframe>
</div>
</template>

<script>
  export default {
    name: "VimeoVideo",
    props: {
      link: {
        type: String,
        required: true
      },
      poster: {
        type: String,
        default: ''
      }
    },
    computed: {
      vimeoLink() {
        let regExp = /^.*(vimeo.com\/)((channels\/[A-z]+\/)|(groups\/[A-z]+\/videos\/))?([0-9]+)/
        let parseUrl = regExp.exec(this.link)

        return parseUrl && `https://player.vimeo.com/video/${parseUrl[5]}?background=1&tarnsparent=0&controls=1`
      }
    },
    methods: {
      pause() {
      }
    }
  }
</script>

<style scoped>
.vimeo {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
</style>
