<template>
  <div class="youtube-video">
    <div v-if="isLoading" class="youtube-video__preloader">
      <svg class="preloader-icon" height="100" width="100">
        <circle cx="50" cy="50" r="40" stroke-width="5" fill="none" />
      </svg>
    </div>
    <PosterWithPlayButton
      v-if="!isVideoLoaded"
      :src="posterLink"
      @click="loadVideo"
    />
    <div class="pos-absolute w-100 h-100 full" v-if="isVideoLoaded" @click.prevent="togglePlay"></div>
    <client-only>
      <youtube
        v-if="isUsed"
        ref="youtube"
        :video-id="videoId"
        width="100%"
        height="100%"
        @ready="videoLoadedHandler"
        @playing="$emit('playing')"
      />
    </client-only>
  </div>
</template>

<script>
  import PosterWithPlayButton from '@/components/common/video-viewer/PosterWithPlayButton'

  export default {
    name: "YoutubeVideo",
    components: {
      PosterWithPlayButton
    },
    props: {
      link: {
        type: String,
        required: true
      },
      poster: {
        type: String,
        default: ''
      }
    },
    data: () => ({
      isUsed: false,
      isVideoLoaded: false,
      isLoading: false,
      isPaused: false
    }),
    computed: {
      youtubeLink() {
        const queryParams = '?showinfo=0&controls=2&modestbranding=1&enablejsapi=1&autoplay=1';
        const domain = 'https://youtube.com/embed/';

        return `${domain}${this.videoId}${queryParams}`
      },
      videoId() {
        const regExp = /.*(?:youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=)([^#\&\?]*).*/;
        const match = this.link.match(regExp);

        return (match&&match[1].length === 11) ? match[1] : false;
      },
      posterLink() {
        return this.poster || `https://img.youtube.com/vi/${this.videoId}/hqdefault.jpg`
      },
      player() {
        return this.$refs.youtube.player
      }
    },
    methods: {
      loadVideo() {
        this.isUsed = true
        this.isLoading = true
      },
      videoLoadedHandler() {
        this.isLoading = false
        this.isVideoLoaded = true
        this.player.playVideo()
      },
      togglePlay(){
        if(this.isPaused){
          this.player.playVideo();
          this.isPaused = false
        } else {
          this.player.pauseVideo();
          this.isPaused = true;
        }
      },
      pause() {
        if(!this.isVideoLoaded) return
        this.player.pauseVideo()
      }
    }
  }
</script>

<style scoped lang="scss">
  .youtube-video {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    &__preloader {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 3;
      stroke: $secondary-text-color;
      stroke-dasharray: 0 250;
      animation: preloader 4.0s infinite;
    }

    &__poster {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }

  .poster {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: cover;
    object-position: center;
  }

  @keyframes preloader {
    0% {
      stroke-dasharray: 0 250;
      transform: rotate(0);
    }

    50% {
      stroke-dasharray: 255 250;
      transform: rotate(650deg);
    }

    100% {
      stroke-dasharray: 0 250;
      transform: rotate(0);
    }
  }
  .full {
    top: 0;
    left: 0;
  }
</style>
