<template>
  <section class="section " :class="{background: !!background}">
    <BaseTitle v-if="title && isTitleCenter" :title="title" level="3" class="h2 section__main-title" />
    <div class="container section__container pos-relative" :class="{reverse: reverse, tablet: flexTablet, start: aStart , margin: margin}" >
      <div class="section__left"  v-animate>
        <BaseTitle v-if="title && !isTitleCenter" :title="title" level="3" class="h3" />
        <div v-if="withSeparator" class="separator"></div>
        <slot></slot>
      </div>
      <slot name="right"  v-animate></slot>
    </div>
    <div class="container section__container" v-animate :class="{reverse: reverse, tablet: flexTablet, start: aStart}"  v-if="!!$slots.bottom || !!$slots.bottomRight">
      <slot name="bottom"  v-animate></slot>
      <slot name="bottom-right"  v-animate></slot>
    </div>
  </section>
</template>

<script>
  export default {
      name: 'custom-section',
      props: {
          title: {
              type: String,
              default: ''
          },
          isTitleCenter: {
              type: Boolean,
              default: false
          },
          reverse: {
              type: Boolean,
              default: false
          },
          withSeparator: {
              type: Boolean,
              default: false
          },
          flexTablet: {
              type: Boolean,
              default: false
          },
          background: {
              type: Boolean,
              default: false
          },
          aStart: {
              type: Boolean,
              default: false
          },
          margin:{
              type: Boolean,
              default: false
          }
      }
  }
</script>

<style lang="scss" scoped>
  .section {
    position: relative;
    z-index: 1;
    overflow: hidden;

    &:not(:first-of-type) .section__container{
      @include respond-from('large') {
        margin: 20px auto;
      }
    }

    &__container {
      padding-bottom: 20px;

      @include respond-from('large') {
        padding-bottom: 30px;
      }
    }

    &.background {
      &::before,
      &::after {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }

      &::before {
        background: #edeeef;
      }

      &::after {
        background: center / cover no-repeat url(~assets/img/raster/bg_desk.png);
      }
    }

    .tablet {
      @include respond-from('special'){
        display: flex;
      }
    }

    .h3 {
      margin-top: 0;
      line-height: 1.3;
    }

    &__container {
      @include respond-from('large') {
        display: flex;
        align-items: center;
      }
    }

    &__left, &__right, .bottom, .bottom-right {
      flex-grow: 1;
      flex-shrink: 1;
    }

    .start {
      align-items: flex-start;
    }

    .margin{
      margin-top: -25px!important;
      margin-bottom: -25px!important;

      @include respond-to('large'){
        margin-top: 0 !important;
        margin-bottom: 0 !important;
      }
    }

  }
</style>
