<template>
  <section class="map" v-if="image || imageMobile" >
    <div class="container" v-if="image || imageMobile">
     <BaseTitle :title="title" :level="2" class="h2" />
      <div class="separator"></div>
      <div class="pos-relative w-100 map__container" ref="map">
        <img v-animate :src="getSrc" v-if="getSrc" :alt="imageMobile && imageMobile.alt || image && image.alt">
<!--        <BaseImage :image-mobile="image"  :image-desktop="imageMobile && imageMobile.src? imageMobile : image" :lazy="false"/>-->
        <div class="map__point pos-absolute d-flex"
             v-animate
            v-for="(el, index) in marks"
            :key="index"
            :style="{top: el.coord_y+'%', left: el.coord_x + '%'}"
        >
          <div v-html="point" class="map__mark"></div>
          <div  class="map__content">{{el.state}}<img class="map__img" v-if="el.image" :src="generateImageUrl(el.image)"/> </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
    import point from "~/assets/img/vector/point.svg?raw";
    import LazyImg from "@/components/common/LazyImg/LazyImg";
    import resizeMixin from "@/mixins/resizeMixin";
    import BaseTitle from "@/components/common/base/BaseTitle";

    export default {
        name: 'map-svg',
        data(){
            return {
                point
            }
        },
      mixins:[resizeMixin],
        computed:{
          refs(){
            return this.$refs
          },
          map(){
            return this.refs && this.refs.map
          },
          height(){
            return this.map && this.map.offsetWidth && this.map.offsetWidth*153/330
          },
          getSrc(){
            let url = this.isDesktop? this.imageMobile && this.imageMobile.src? this.imageMobile.src : this.image.src: this.image.src;
            return process.env.BASE_URL + url
          }
        },
        props:{
            image: {
                type: Object,
                default: ()=>{}
            },imageMobile: {
                type: Object,
                default: ()=>{}
            },
            title: {
                type: String,
                default: ''
            },
            marks: {
                default: []
            }
        },
        components: {
          BaseTitle,
            LazyImg
        }
    }
</script>
<style lang="scss" >
.map {
  padding-bottom: 50px!important;
  @include respond-from('small'){
    padding-bottom: 40px !important;
  }@include respond-from('large'){
    padding-bottom: 120px !important;
  }

  &__img{
    display: block;
    max-width: 100%;
  }
  .separator {
    margin-left: auto;
    margin-right: auto;
  }
  &__container {

    width: 100%;
    overflow: hidden;
  }
  &__point {
    min-width: 118px;
    max-width: 170px;
    box-sizing: border-box;
    padding: 5px 15px;
    background: #FFF;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    @include respond-to('large'){
      display: none !important;
    }
  }
  &__mark, &__content {
    display: inline-block;
  }
  &__mark {
    line-height: 24px;
  }
  &__content {
    font-size: 14px;
    line-height: 24px;
    font-family: $font-main-regular;
    color: $main-text-color;

  }
  &__content {
    margin-left: 5px;
  }
}
</style>
