<template>
  <intersection-observer @intersect-enter="onUpdateWidth" :threshold="[0, 0.1, 1]">
  <div class="video pos-relative w-100 h-100">
    <video :poster="poster" :src="video" v-if="src" class="w-100 h-100"></video>
    <iframe :src="video"  v-else frameborder="0" class="w-100 h-100"></iframe>
  </div>

  </intersection-observer>
</template>

<script>
    import IntersectionObserver from "@/components/common/intersection-observer/IntersectionObserver";
export default {
    name: 'lazy-video',
    components: {IntersectionObserver},
    data(){
        return {
            video: null
        }
    },
    props: {
        poster: {
            type: String,
            default: ''
        },
        src: {
            type: String,
            default: ''
        },
        youtube: {

        }
    },
    methods: {
        onUpdateWidth(){
            this.video = this.src
        }
    }
}
</script>


<style>

</style>
