<template>
  <form
    ref="form"
    @submit.prevent="submit"
    :class="{grid: showOrganization }"
    method="post"
    class="form d-flex col  text text--main"
  >

    <CustomInput
      v-for="el in fields"
      :ref="el.name"
      :key="el.name"
      :type="el.name === 'question'? 'textarea': 'input'"
      v-model="formData[el.name]"
      :field="el.name"
      :rules="rulesFactory(el)"
      :message="translation[getLang].wrong"
      :placeholder="el.placeholder"
      :class="el.type==='textarea'? 'textarea': ''"
    />
    <button type="button" class="form__submit-btn btn type3 textarea submit" @click="submit">{{ buttonName }}</button>

  </form>
</template>

<script>
  import translation from 'static/lang'
  import {mapGetters} from "vuex";
  import close from '~/assets/svg/close.svg?raw'
  import CustomInput from '@/components/common/inputs/CustomInput'
  import axios from "axios";
  import Vue from 'vue';
  export default {
    name: 'my-form',
    components: {
      CustomInput
    },
    data() {
      return {
        formData: {

        },
        isLoading: false,
        // isModalShown: true,
        translation,
        close
      }
    },
    props: {
      showOrganization: {
        type: Boolean,
        default: false
      },
      info: {
        type: Object,
        default: ()=> {}
      }
    },
    mounted() {
      let keys = this.fields.map(el => el.name)
      let formData = {}
      keys.forEach(key => {formData[key] = ''})
      Vue.set(this, 'formData', formData)
    },
    computed: {
      ...mapGetters(['getLang']),
      buttonName() {
        return  this.info && this.info.form && this.info.form.submit && this.info.form.submit.label
      },

      submitSlug(){
        return this.info && this.info.form && this.info.form.submit && this.info.form.submit.slug
      },
      fields (){
        return this.info && this.info.form && this.info.form.fields || []
      }
    },
    methods: {
      rulesFactory(inputData) {
        const { name, required } = inputData
        const fieldRules = {
          email: [this.emailValidation],
          phone: [this.phoneValidation]
        }
        const rules = fieldRules[name] || []

        return required
          ? [...rules, this.required]
          : rules
      },
      validate() {
        return Object.keys(this.formData).reduce((acc, key) => {
          if(!this.$refs[key][0]) return true
          const isValid = this.$refs[key][0].validate()
          return acc && isValid
        }, true)
      },
      async clearForm() {
        Object.keys(this.formData).forEach(key => {
          if(!this.$refs[key][0]) return
          this.$refs[key][0].clear()
        })
        this.$refs.form.reset()
      },
      phoneValidation(value) {
        return value.replace(/[-+() ]/g, '').match(/[0-9]{12}/)
      },
      emailValidation(value) {
        return value.match(/^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-z]{2,}$/)
      },
      required(value) {
        return !!value
      },
      async submit() {
        if(! await this.validate() || this.isLoading) return;
        this.isLoading = true

        try {
          const result = await axios.post(process.env.API_URL + this.submitSlug, {...this.formData, url: this.$route.name})
          this.clearForm();
          this.$nuxt.$emit('show')
          this.$emit('close')

        } catch (e) {
          console.log(e)
        } finally {
          this.isLoading = false
        }
      },
      getPlaceholder(name) {
        const ast = !this.showOrganization ? '*' : '';
        const label = name ? this.translation[this.getLang][name] : 'E-mail';
        return label + ast;
      }
    }
  }
</script>

<style lang="scss" scoped>
  input, textarea {
    border-radius: $border-radius;
    font-size: 12px;
    padding: 13px 18px;
    width: 100%;
    background: transparent;

    &:not([type='submit']) {
      margin-bottom: 25px;
    }

    @include respond-from('xsmall') {
      font-size: 14px !important;
    }
  }

  textarea {
    resize: none;
    margin-bottom: 20px;
    border: 2px solid #D5D5D5
  }

  .grid.form {
    display: grid !important;
    margin: 25px auto 0 auto;

    width: 100%;
    max-width: 750px;
    flex-shrink: 0;
    flex-grow: 0;

    @include respond-from('xsmall') {
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px 30px;
      margin: 50px auto 0 auto;
      input, textarea {
        margin-bottom: unset;
      }
      /deep/.textarea {
        grid-column-start: 1;
        grid-column-end: 3;
      }
    }

    .submit {
      @include respond-from('small') {
        max-width: 350px;
        margin: auto;
      }
    }
  }

  .form {
    width: 100%;
    @include respond-from('xsmall') {
      @include respond-to('large') {
        max-width: 450px;
        margin: auto;

      }
    }
    @include respond-from('large') {
      max-width: 350px;
    }

    &.background {
      background: center / cover no-repeat url(~assets/img/raster/bg_desk.png);
    }

    &__error {
      bottom: 8px;
      left: 0;
    }

    &__submit-btn {
      width: 100%;

      @include respond-from('xsmall') {
        width: auto;
        min-width: 300px;
      }
    }
  }

  .submit.type3.btn {
    color: $light-color;
    background: $secondary-text-color;
    font-size: 16px;

  }


</style>
