<template>
  <main class="v-container privacy" v-if="content && content[0]">
    <h2 class="privacy__title">{{ content[0].attributes.title}}</h2>
    <custom-section :title="content[0].attributes.subtitle" with-separator>
      <div v-html="content[0].attributes.description" class="text text--main"></div>
    </custom-section>
  </main>
  <Loading v-else />
</template>
<script>
  import CustomSection from "@/components/common/section/CustomSection";
  import Loading from "@/components/Loading";
  import {mapActions, mapGetters} from "vuex";
  export default {
    name: 'CustomPage',
    components: { CustomSection, Loading},
    transition: "page",
    computed: {
      ...mapGetters(['getLang', 'getNamedPage' , 'getLoading']),
      getPage(){
        return this.getNamedPage && this.getNamedPage('page-one')
      },
      content(){
        return this.getPage && this.getPage.blocks
      },
    },
    // watch:{
    //   getLang: function (){
    //     this.loadPage()
    //   }
    // },
    methods: {
      ...mapActions(['fetchData', 'fetchPageData']),
      async loadPage({ params }){
        try {
          let lang = this.$i18n.locale;

          await this.fetchPageData({ url: `/page/${params.name}`,  lang });
        } catch (error) {
          this.$router.replace(this.localeRoute({ name: 'error' }))
        }
      }
    },
    async fetch ({ store, redirect, params }) {
      try {
        const { name } = params
        await store.dispatch('fetchPageData', { url: `/page/${name}`});
      } catch (error) {
        // redirect({ name: 'error' })
      }
    }
  }
</script>

<style lang="scss" scoped>
  .privacy{
    &__title {
      margin-top: 0 !important;
      font-size: 24px;

      @include respond-from('small') {
        font-size: 36px;
      }
    }
  }
</style>
