<template>
  <main class="about pos-relative" v-if="content && getPage.id === 'about'">
    <BaseTitle
      :title="getPage && getPage.meta && getPage.meta.seo && getPage.meta.seo.title"
      :level="2"
      class="h2 about__main-title"
    />
    <custom-section v-if="content[0]" :title="content[0].attributes.title" with-separator>
      <div class="about__text  text text--main" v-html="content[0].attributes.description"></div>
      <template v-slot:right>
        <div class="about__right ">
          <stripped-container full>
            <div class="img-wrap">
              <BaseImage :image-mobile="content[0].attributes.image" :image-desktop="content[0].attributes.image"/>
            </div>
          </stripped-container>
        </div>
      </template>
    </custom-section>
    <custom-section v-if="content && content[1]" :title="content[1].attributes.title" with-separator margin>
      <div class="about__list  text text--main" v-html="content[1].attributes.description"></div>
    </custom-section>
    <custom-section v-if="content && content[2]" :title="content[2].attributes.title" margin>
      <stripped-container xsmall left>
        <div class="about__vista pos-relative ">
          <img :src="generateImageUrl(image)" alt=""/>
        </div>
      </stripped-container>
      <template v-slot:right>
        <div class="about__right m-0 wide-text  text text--main">
          <div class="text text--main" v-html="content[2].attributes.description"></div>
        </div>
      </template>
    </custom-section>
    <custom-section
      v-animate v-if="content && content[3]"
      :title="content[3].attributes.title"
      with-separator
    />
    <snake
      v-if="content && content[3]"
      :content="content[3].attributes.items"
      :image="content[3].attributes.image"
    />
    <custom-section v-if="content && content[4] && content[4].attributes">
      <stripped-container full left>
        <div class="img-wrap">
          <BaseImage
            :image-mobile="content[4].attributes.imageMobile && content[4].attributes.imageMobile.src? content[4].attributes.imageMobile : content[4].attributes.image"
            :image-desktop="content[4].attributes.image"
          />
        </div>
      </stripped-container>
      <template v-slot:right>
        <div class="about__right about__text about__text--right  text text--main">
          <h2 class="h2 about__title">{{content[4].attributes.title}}</h2>
          <div class="separator "></div>
          <div class="" v-html="content[4].attributes.description"></div>
        </div>
      </template>
    </custom-section>
    <map-svg
      v-if="content[5]"
      v-animate
      :marks="content[5].attributes.points"
      :image="{src: content[5].attributes.image}"
      :image-mobile="{src: content[5].attributes.image}"
      :title="content[5].attributes.title"
    />
  </main>
  <main v-else/>
</template>

<script>
  import 'swiper/css/swiper.css'
  import {mapActions, mapGetters} from 'vuex'
  import Snake from "@/components/snake/Snake";
  import CustomSection from "@/components/common/section/CustomSection";
  import StrippedContainer from "@/components/common/stripped-container/StrippedContainer";
  import LazyImg from "@/components/common/LazyImg/LazyImg";
  import MapSvg from "@/components/map/MapSvg";
  import BaseTitle from "@/components/common/base/BaseTitle";
  import Loading from "@/components/Loading";

  export default {
    // name: 'aboutPage',
    transition: "page",
    components: {
      Loading,
      BaseTitle,
      MapSvg,
      LazyImg,
      StrippedContainer,
      CustomSection,
      Snake,
    },
    data() {
      return {}
    },
    computed: {
      ...mapGetters(['getLang', 'getNamedPage' , 'getLoading']),
      getPage(){
        return this.getNamedPage && this.getNamedPage('about')
      },
      content() {
        return this.getPage && this.getPage.blocks && this.getPage.blocks
      },
      image() {
        return this.content && this.content[2] &&
        this.content[2].attributes &&
        this.content[2].attributes.logo ?
          this.content[2].attributes.logo :
          {src: '/about-page-page/vista.png', alt: '', title: ''}
      }

    },
    watch: {
      getLang: function () {
        this.loadPage()
      }
    },
    methods: {
      ...mapActions(['fetchData', 'fetchPageData']),
      async loadPage() {
        try {
          let lang = this.$i18n.locale;
          await this.fetchData();
          await this.fetchPageData({url: '/about', lang});
        } catch (error) {
          this.$router.replace(this.localeRoute({name: 'error'}))
        }
      },
    },
    async fetch({store, redirect, params}) {

      try {
        let lang = params === 'uk' ? 'ua' : params.lang;
        await store.dispatch('fetchData');
        await store.dispatch('fetchPageData', {url: '/about', lang});
      } catch (error) {
        redirect(this.localeRoute({name: 'error'}))
      }
    }
  }
</script>

<style lang="scss" scoped>
  .about {
    /deep/ img, .strip, .img-wrap {
      border-radius: 0 !important;
    }

    &__title {
      text-align: left;
    }

    .h2 {
      margin-top: 0;
    }

    &__right {
      margin-top: 20px;

      &.m-0 {
        margin-top: 0;
      }

      @include respond-from('xsmall') {
        margin-top: 30px;
      }
      @include respond-from('large') {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 0 0 635px;
        margin-top: 40px;
      }
    }

    &__vista {
      width: 100%;
      height: 130px;
      background: #f9f9f9;
      display: flex;
      justify-content: center;
      align-items: center;

      @include respond-from('xsmall') {
        width: 329px;
        height: 210px;
        margin: 0 auto;
      }

      @include respond-from('large') {
        width: 350px;
        height: 210px;
        margin: 0;
      }

      img {
        max-height: 70px;
        max-width: 145px;

        @include respond-from('xsmall') {
          max-height: 109px;
          max-width: 221px;
        }

        @include respond-from('large') {
          max-height: 141px;
          max-width: 285px;
        }
      }
    }

    &__text {
      @include respond-from('large') {
        max-width: 445px;
        margin-right: 30px;
        &--right {
          h2 {
            text-align: left;
          }

          margin-right: 0 !important;
          margin-left: 30px !important;
          max-width: 445px;
          @include respond-from('large') {
            margin-top: 0;
          }
        }
      }

    }

    &__list {
      /deep/ ul {
        list-style: none;
        padding: 0;
      }

      /deep/ li {
        margin-bottom: 20px;
        position: relative;
        display: flex;
      }

      /deep/ li:before {
        content: url("~assets/img/vector/check_yellow.svg");
        margin-right: 30px;
        display: inline-block;
        height: 30px;
        width: 30px;
        margin-top: 5px;
      }

      /deep/ strong {
        font-family: $font-main-bold;
      }
    }

    .wide-text {
      @include respond-from('large') {
        flex: 1 1 730px;
      }
      @include respond-to('large') {
        margin-top: 30px;
      }
      @include respond-to('xsmall') {
        margin-top: 15px;
      }
    }

  }

  .about__main-title {
    @include respond-from('large') {
      margin-bottom: -25px;
    }
  }
</style>

