<template>
  <main class="contacts" v-if="getPage && getPage.id === 'contacts' && contacts">
    <custom-section :title="getPage && getPage.meta && getPage.meta.seo && getPage.meta.seo.title" is-title-center>
      <div class="row">
        <div class="col form_container">
          <h3 class="contacts__head">{{ translation[this.getLang]['feedback']}}</h3>
          <my-form :info="formInfo"/>
        </div>
        <template>
          <div class="contacts__right">
            <div class="h3 contacts__sub-title text--secondary">{{contacts.title}}</div>
            <div class="separator"></div>
            <div class="contacts__wrap">
              <div class="">
                <p class="text text--secondary">
                  {{ translation[getLang]['address'] }}: <span class="text text--meta">{{ contacts.address }}</span>
                </p>
                <p class="text text--secondary" v-if="contacts.email_1">
                  E-mail:
                  <a target="_blank" :href="`mailto:${contacts.email_1}`"  rel="nofollow" class="text text--meta" v-html="contacts.email_1"> </a>
                </p>
                <p class="text text--secondary" v-if="contacts.phoneSecond">
                  {{ translation[getLang]['phone'] || translation['uk']['phone']}}:
                  <a target="_blank" :href="`tel:${contacts.phoneSecond}`" class="text text--meta" v-html="contacts.phoneSecond"> </a>
                </p>
              </div>
              <div class="">
                <h4 class="text text--secondary">{{contacts.qualityTitle}}</h4>
                <p class="text text--secondary" v-if="contacts.phone">
                  {{ translation[getLang]['pho'] }}:
                  <a target="_blank" :href="`tel:${contacts.phone}`" class="text text--meta" v-html="contacts.phone"  rel="nofollow"></a>
                </p>
                <p class="text text--secondary" v-if="contacts.email_2">
                  E-mail:
                  <a
                    target="_blank"
                    :href="`mailto:${contacts.email_2}`"
                    class="text text--meta"
                    v-if="contacts.email_2"
                    v-html="contacts.email_2"
                    rel="nofollow"
                  ></a>
                </p>
              </div>
            </div>

            <div ref="map" id="map">
              <GMap
                ref="gMap"
                language="en"
                :zoom="13"
                :center="uluru"
              >
                <GMapMarker
                  :position="uluru"
                  :options="{icon: markerIcon}"
                />
              </GMap>
            </div>
          </div>
        </template>
      </div>
    </custom-section>
  </main>
  <Loading v-else/>
</template>
<script>
  import CustomSection from "@/components/common/section/CustomSection";
  import MyForm from "@/components/form/Form";
  import translation from 'static/lang'
  import {mapActions, mapGetters} from "vuex";
  import Loading from "@/components/Loading";

  const icon = {
    path: 'M4.70312 14.4766C4.8125 14.668 5.00391 14.75 5.25 14.75C5.46875 14.75 5.66016 14.668 5.79688 14.4766L7.62891 11.8516C8.53125 10.5391 9.13281 9.66406 9.43359 9.19922C9.84375 8.54297 10.1172 7.99609 10.2812 7.55859C10.418 7.12109 10.5 6.60156 10.5 6C10.5 5.07031 10.2539 4.19531 9.78906 3.375C9.29688 2.58203 8.66797 1.95312 7.875 1.46094C7.05469 0.996094 6.17969 0.75 5.25 0.75C4.29297 0.75 3.41797 0.996094 2.625 1.46094C1.80469 1.95312 1.17578 2.58203 0.710938 3.375C0.21875 4.19531 0 5.07031 0 6C0 6.60156 0.0546875 7.12109 0.21875 7.55859C0.355469 7.99609 0.628906 8.54297 1.06641 9.19922C1.33984 9.66406 1.94141 10.5391 2.87109 11.8516C3.60938 12.918 4.21094 13.793 4.70312 14.4766ZM5.25 8.1875C4.64844 8.1875 4.12891 7.99609 3.69141 7.55859C3.25391 7.12109 3.0625 6.60156 3.0625 6C3.0625 5.39844 3.25391 4.90625 3.69141 4.46875C4.12891 4.03125 4.64844 3.8125 5.25 3.8125C5.85156 3.8125 6.34375 4.03125 6.78125 4.46875C7.21875 4.90625 7.4375 5.39844 7.4375 6C7.4375 6.60156 7.21875 7.12109 6.78125 7.55859C6.34375 7.99609 5.85156 8.1875 5.25 8.1875Z',
    fillColor: '#E3AF06',
    fillOpacity: 1,
    scale: 2,
    strokeColor: '#E3AF06',
    strokeWeight: 0
  };

  export default {
    // transition: "page",
    name: 'contacts',
    components: {MyForm, CustomSection, Loading},
    data() {
      return {
        translation,
      }
    },
    computed: {
      ...mapGetters(['getLang', 'getNamedPage' , 'getLoading']),
      getPage(){
        return this.getNamedPage && this.getNamedPage('contacts')
      },
      markerIcon() {
        return icon
      },
      formInfo() {
        return this.content && this.content[0] && this.content[0].attributes
      },
      contacts() {
        return this.content && this.content[1] && this.content[1].attributes
      },
      content() {
        return this.getPage && this.getPage.blocks
      },
      uluru() {
        if (!this.contacts.map) return null

        return {lat: +this.contacts.map.lat, lng: +this.contacts.map.lng};
      }
    },
    watch: {
      getLang: function () {
        this.loadPage()
      }
    },
    methods: {
      ...mapActions(['fetchData', 'fetchPageData']),
      async loadPage() {
        try {
          let lang = this.$i18n.locale;
          await this.fetchData({url: 'global/data', lang});
          await this.fetchPageData({url: '/contacts', lang});
        } catch (error) {
          this.$router.replace(this.localeRoute({name: 'error'}))
        }
      }

    },
    async fetch({store, redirect, params}) {
      try {
        let lang = params === 'uk' ? 'ua' : params;
        await store.dispatch('fetchData', {url: 'global/data', lang});
        await store.dispatch('fetchPageData', {url: '/contacts', lang});
      } catch (error) {
        redirect(this.localeRoute({name: 'error'}))
      }
    }
  }
</script>

<style lang="scss" scoped>
  #map {
    position: relative;
    height: 282px;
    border-radius: $border-radius;
    color: $dark-text-color;
    fill: $secondary-text-color;
    margin-top: 10px;
    overflow: hidden;

    ::v-deep {
      .GMap,
      .GMap__Wrapper {
        height: 100%;
      }
    }
  }

  .separator {
    @include respond-from('large') {
      margin: 20px 0 !important;
    }
  }

  .contacts {
    a {
      text-decoration: none
    }

    /deep/ .h3, h3 {
      text-transform: none;
      @include respond-from('large') {
        font-size: 24px;
        line-height: 1;
      }
    }

    &__right {
      @include respond-to('large') {
        margin-top: 40px;
      }
      @include respond-from('large') {
        margin-left: 30px;
      }
    }

    &__head {
      margin-bottom: 14px;
      @include respond-from('xsmall') {
        @include respond-to('large') {
          max-width: 450px;
          margin: auto;
          margin-bottom: 14px;
        }
      }
      @include respond-from('large') {
        max-width: 350px;
      }
    }

    &__wrap {
      flex-grow: 1;
      @include respond-from('small') {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 25px;
        min-width: 730px;
      }
    }

    &__sub-title {
      line-height: 1;
    }
  }

  .h3 {
    margin-top: 0;

  }

  .row {
    @include respond-from('large') {
      display: flex;
      justify-content: space-between;
    }

    .col {
      flex-shrink: 0;

      &.form_container {
        flex: 1 0 350px;
      }
    }
  }
/deep/ .section__container {
  position: static !important;
}
.text--meta {
  /deep/ a {
    color: $meta-color;
    text-decoration: none;
  }
}
</style>
