<template>
  <main class="specialists main pos-relative" v-if="content">
    <custom-section
      v-if="content[0]"
      :title="getPage && getPage.meta && getPage.meta.seo && getPage.meta.seo.title"
      is-title-center
    >
      <h3 class="h3 text--begin">{{content[0].attributes.title}}</h3>
      <div class="separator"></div>
      <div class="text text--main specialists__text text--begin " v-html="content[0].attributes.description"></div>

      <template v-slot:right>
        <div
          v-if="content[0] && content[0].attributes && content[0].attributes.image"
          class="specialists__right img__right"
        >
          <stripped-container full>
            <div class="img-wrap">
            <base-image
              :lazy="false"
              :image-mobile="content[0].attributes.image"
              :image-desktop="content[0].attributes.image"
              :alt="content[0].attributes.image.alt"
              :title="content[0].attributes.image.title"
            />
            </div>
          </stripped-container>
        </div>
      </template>
      <template v-slot:bottom v-if="description">
        <div class="text text--main" v-html="description"></div>
      </template>
    </custom-section>
    <section
      v-if="content[0] && content[1] && content[1].attributes && content[1].attributes.videos"
      class="specialists__row container"
    >
      <div
        v-if="content[1].attributes.videos[0].video"
        class="specialists__left pos-relative"
      >
        <div
          class="video__wrap pos-relative"
          :class="{youtube: content[1].attributes.videos[0].video.youtube || content[1].attributes.videos[0].video.vimeo}"
          v-animate
        >
          <VideoViewer
            :video="content[1].attributes.videos[0].video"
            :poster="content[1].attributes.videos[0].image"
          />
        </div>
      </div>
      <div v-if="content[1].attributes.videos[1].video" class="specialists__right pos-relative">
        <div
          class="video__wrap"
          :class="{youtube: content[1].attributes.videos[1].video.youtube || content[1].attributes.videos[1].video.vimeo}"
          v-animate
        >
          <VideoViewer
            :video="content[1].attributes.videos[1].video"
            :poster="content[1].attributes.videos[1].image"
          />
        </div>
      </div>
    </section>

    <custom-section v-if="content[2] && content[2].attributes"  background>
      <template >
      <stripped-container left full>
        <div class="video-left">
          <div
            v-if="content[2].attributes.video"
            class="video__wrap pos-relative"
            :class="{youtube: content[2].attributes.video.youtube || content[2].attributes.video.video.vimeo}"
          >
            <VideoViewer
              :video="content[2].attributes.video"
              :poster="content[2].attributes.image"
            />
          </div>
          <div class="img-wrap pos-relative" v-else-if="content[3].attributes.videos[0].image">
            <BaseImage
              v-if="content[2].attributes.image"
              :image-mobile="content[2].attributes.image"
              :image-desktop="content[2].attributes.image"
            />
          </div>
        </div>
      </stripped-container>
      </template>
      <template v-slot:right>
        <div class="specialists__right text">
          <h3 class="h3">{{ content[2].attributes.title}}</h3>
          <div class="separator"></div>
          <div class="text text--main" v-html="content[2].attributes.description"></div>
        </div>
      </template>
    </custom-section>

    <custom-section v-if="content[3] && content[3].attributes && content[3].attributes.videos"  :title="block3.attributes.title" with-separator a-start flex-tablet>
      <template v-slot:bottom>
        <div
          v-if="content[3].attributes && content[3].attributes.videos && content[3].attributes.videos[0]"
          class="specialists__left m-top"
        >
          <div
            v-if="isVideoNotEmpty(content[3].attributes.videos[0].video)"
            class="video__wrap pos-relative"
            :class="{youtube: content[3].attributes.videos[0].video.video.youtube || content[3].attributes.videos[0].video.video.vimeo}"
          >
            <VideoViewer
              v-if="isVideoNotEmpty(content[3].attributes.videos[0].video)"
              :video="content[3].attributes.videos[0].video"
              :poster=" content[3].attributes.videos[0].image"
            />
          </div>
          <div class="video__wrap pos-relative" v-else-if="content[3].attributes.videos[0].image">
            <BaseImage
              v-if="content[3].attributes.videos[0].image"
              :image-mobile="content[3].attributes.videos[0].image"
              :image-desktop="content[3].attributes.videos[0].image"
            />
          </div>
          <div class="text text--main  specialists__caption" v-html="content[3].attributes.videos[0].description"></div>
        </div>
      </template>
      <template v-slot:bottom-right>
        <div class="specialists__right m-top" v-if="content[3].attributes && content[3].attributes.videos && content[3].attributes.videos[1] ">
          <div
            v-if="isVideoNotEmpty(content[3].attributes.videos[1].video)"
            class="video__wrap pos-relative"
            :class="{youtube: content[3].attributes.videos[1].video.video.youtube || content[3].attributes.videos[1].video.video.vimeo}"
            v-animate
          >
            <VideoViewer
              v-if="isVideoNotEmpty(content[3].attributes.videos[1].video)"
              :poster="content[3].attributes.videos[1].image"
              :video="content[3].attributes.videos[1].video" />
          </div>
          <div class="video__wrap pos-relative" v-else-if="content[3].attributes.videos[1].image">
            <BaseImage
              v-if="content[3].attributes.videos[1].image"
              :image-mobile="content[3].attributes.videos[1].image"
              :image-desktop="content[3].attributes.videos[1].image"
            />
          </div>
          <div class="text text--main specialists__caption" v-html="content[3].attributes.videos[1].description"></div>
        </div>
      </template>
    </custom-section>

    <custom-section v-if="content[4]" :title="content[4].attributes.title" with-separator flex-tablet>
      <div class="text text--main" v-html="content[4].attributes.description"></div>
      <template v-if="isMobile ">
        <swiper ref="mySwiper"  :options="swiperOptions">
          <swiper-slide
            v-for="(el,index) in content[4].attributes.media_object"
            :key="index"
          >
            <VideoViewer
              v-if="el.video"
              :poster="el.image"
              :video="el.video"
            />
            <base-image
              v-else-if="el.image && el.image.src"
              :image-mobile="el.image"
              :image-desktop="el.image"
            />
          </swiper-slide>
        </swiper>
        <div class="swiper-pagination" v-if="isMobile"></div>
      </template>
      <div class="grid" v-else-if="width">
        <div
          v-for="(el,index) in content[4].attributes.media_object"
          :key="index"
          class="img-container"
          v-animate
        >
          <div class=" wrapper">
            <VideoViewer
              v-if="isVideoNotEmpty(el.video)"
              :poster="el.image"
              :video="el.video"
            />
            <base-image
              v-else-if="el.image && el.image.src"
              :image-mobile="el.image"
              :image-desktop="el.image"
            />
          </div>
        </div>
      </div>
    </custom-section>
  </main>
</template>
<Loading v-else />
<script>
  import 'swiper/css/swiper.css'
  import {mapActions, mapGetters, mapMutations} from 'vuex'
  import Panels from "@/components/main-page/Panels";
  import CustomSection from "@/components/common/section/CustomSection";
  import StrippedContainer from "@/components/common/stripped-container/StrippedContainer";
  import Numbers from "@/components/numbers/Numbers";
  import NewsSection from "@/components/news/News";
  import resizeMixin from "@/mixins/resizeMixin";
  import BaseImage from "@/components/common/base/BaseImage";
  import BaseVideo from "@/components/common/base/BaseVideo";
  import VideoViewer from "@/components/common/video-viewer";
  import { Swiper, SwiperSlide } from 'vue-awesome-swiper'
  import Loading from "@/components/Loading";

  export default {
    name: 'development',
    // transition: "page",
    mixins:[ resizeMixin ],
    components: {
      BaseVideo,
      NewsSection,
      Numbers,
      StrippedContainer,
      CustomSection,
      Panels,
      BaseImage,
      Swiper,
      SwiperSlide,
      Loading,
      VideoViewer
    },
    data(){
      return {
        swiperOptions: {
          noSwiping: false,
          slidesPerView: 1,
          slidesPerColumn: 1,
          spaceBetween: 25,
          pagination: {
            el: '.swiper-pagination',
            clickable: true,
          },
        }
      }
    },
    computed: {
      ...mapGetters(['getLang', 'getNamedPage' , 'getLoading']),
      getPage(){
        return this.getNamedPage && this.getNamedPage('development')
      },
      content(){
        return this.getPage && this.getPage.blocks && this.getPage.blocks
      },
      description(){
       return this.content && this.content[1] && this.content[1].attributes && this.content[1].attributes.description
      },
      block3(){
        return this.content && this.content[3]
      }
    },
    watch:{
      getLang: function (){
        this.loadPage()
      }
    },
    methods: {
      ...mapActions(['fetchData', 'fetchPageData']),
      isVideoNotEmpty(video){
        return video && (video.youtube || video.vimeo || !!(video.video && Object.values(video.video).filter(el=> !!el).length))
      },
      async loadPage() {
        try {
          let lang = this.$i18n.locale;
          await this.fetchData({url: 'global/data', lang});
          await this.fetchPageData({url: '/development', lang});
        } catch (error) {
          this.$router.replace(this.localeRoute({name: 'error'}))
        }
      },
    },
    async fetch ({ store, redirect, params }) {
      try {
        let lang = params === 'uk' ? 'ua' : params;
        await store.dispatch('fetchData', {url: 'global/data',lang});
        await store.dispatch('fetchPageData', {url: '/development',  lang});
      } catch (error) {
        redirect(this.localeRoute({ name: 'error' }))
      }
    }
  }
</script>

<style lang="scss" scoped>
  .specialists {
    .video-left{
      width: 100%;
    @include respond-from('large'){
      min-width: 635px;
    }
    }
    &__row {
      @include respond-from('special'){
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
      }
    }

    &__caption {
      margin-top: 20px;
    }
    &__left {
      @include respond-from('special') {
        flex: 1 1 50%;
      }

    }
    &__right {
      margin-top: 20px;
      @include respond-from('xsmall') {
        margin-top: 30px;
      }
      @include respond-from('special') {
        flex: 1 1 50%;
        margin: 0 0 30px 25px;
      }
      &.text {
        @include respond-to('large'){
          margin-left: 0;
        }
      }

    }

    &__text {

      @include respond-from('large') {
        max-width: 445px;
        margin-right: 30px;
      }
    }
  }

  /deep/ a {
    color: $secondary-text-color;
  }
  /deep/ .swiper-slide {
    position: relative;
    width: 100% !important;
    max-width: 100%;
    padding-top: 74.28%;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
    /deep/video, img, iframe {
      object-fit: cover;
    }
  }/deep/ .swiper-container {
    margin-top: 25px;
  }
  .grid {
   display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin-top: 25px;
    @include respond-from('large'){
     display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
  .img-container {
    width: 100%;
    border-radius: $border-radius;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.35);
    @include respond-from('large'){
      width: min-content;
      .wrapper {
        width: 540px;
      }
      &:nth-of-type(1) .wrapper, &:nth-of-type(2)  .wrapper, &:nth-of-type(3)  .wrapper{
        width: 350px;
      }

    }
    .wrapper {
      padding-top: 74.28%;
      position: relative;
      border-radius: $border-radius;
      overflow: hidden;
      box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
      /deep/ img, video, iframe {
        object-fit: cover;
      }
    }

  }

/deep/.swiper-pagination-bullet {
  @include respond-from('small'){
    display: none;
  }
}

.img__right {
  @include respond-from('large'){
    flex: 0 0 635px;
  }
  @include respond-to('large'){
    margin-left: 0;
  }
}

  .text--begin {
    @include respond-from('large'){
      flex: 1 1 445px;
    }
  }
  .m-top {
    @include respond-to('special'){
      &:first-of-type{
        margin-top: -40px;
      }
    }
    @include respond-from('small'){
      margin-top: -50px;
    }
  }
  /deep/.section:last-of-type .section__container {
    margin-top: 0;
  }
  /deep/.section:nth-last-of-type(2) .section__container {
    padding-bottom: 0;
  }
</style>

