<template>
  <div class="error d-flex col j-between a-center w-100">
    <main class="container d-flex col j-center a-center">
      <h3 class="h3">{{translation[this.getLang]['not_found']}}</h3>
      <div class="div" v-html="svgError"></div>
      <nuxt-link :to="localePath('/')" class="btn type3 error__link">{{translation[this.getLang]['return']}}
      </nuxt-link>
    </main>
  </div>
</template>

<script>
import {mapActions, mapGetters} from "vuex";
import svgError from "~/assets/img/vector/404.svg?raw";
import translation from 'static/lang'
import LocaleLink from "@/components/LocaleLink";

export default {
  name: 'error',
  components: {
    LocaleLink
  },
  computed: {
    // ...mapGetters(['getLang'])
    getLang() {
      return this.$i18n.locale
    }
  },
  data() {
    return {
      svgError,
      translation
    }
  },
  watch: {
    getLang: function () {
      this.loadPage()
    }
  },
  methods: {
    ...mapActions(['fetchData', 'fetchPageData']),
    async loadPage() {
      try {
        let lang = this.$i18n.locale;
        await this.fetchData({url: 'global/data', lang});
      } catch (error) {
        this.$router.replace(this.localeRoute({name: 'error'}))
      }
    }
  },
  async fetch ({ store, redirect, params }) {
    try {
      let lang = params === 'uk' ? 'ua' : params;
      await store.dispatch('fetchData', {url: 'global/data', lang});
    } catch (error) {
      redirect({name: 'error'})
    }
  }
}
</script>
<style lang="scss" scoped>
.error {
  /deep/ svg {
    max-width: 100%;
  }

  &__link {
    background: $secondary-text-color;
    color: $light-color !important;
    text-decoration: none;
    font-size: 14px;
    margin: 80px auto 60px auto;
  }

  .h3 {
    margin: 60px auto;
    @include respond-to('small') {
      margin-top: 30px;
    }
  }
}
</style>
