<template>
  <main
    class="main pos-relative"
    v-if="getPage && getPage.id === 'home' && getPage.blocks && !getLoading"
  >
    <title-section v-if="titleSection" :title-data="titleSection" />
    <custom-section
      v-if="aboutSection && aboutSection.images"
      :title="aboutSection.title"
      with-separator
      flex-tablet
      class="about-section"
    >
      <template>
        <div class="main__left ">
          <div
            class="main__text text text--main"
            v-html="aboutSection.description"
          ></div>
          <nuxt-link
            :to="localeRoute({ name: 'about' })"
            class="text text--main more"
            v-html="aboutSection.btn_text"
          ></nuxt-link>
        </div>
      </template>
      <template v-slot:right>
        <div class="main__collage pos-relative collage">
          <stripped-container gradient large full>
            <template v-if="isMobile || isTablet">
              <Swiper
                ref="mySwiper"
                :options="swiperOptions"
                v-if="aboutSection.images"
              >
                <SwiperSlide>
                  <div class="collage__img">
                    <BaseImage
                      v-if="aboutSection.images[0]"
                      :image-mobile="aboutSection.images[0].image"
                      :image-desktop="aboutSection.images[0].image"
                      :lazy="false"
                    />
                  </div>
                </SwiperSlide>
                <swiper-slide>
                  <div
                    class="collage__img col h-100 d-flex j-between pos-relative"
                  >
                    <div class="collage__img-small pos-relative">
                      <BaseImage
                        v-if="aboutSection.images[1]"
                        :image-mobile="aboutSection.images[1].image"
                        :image-desktop="aboutSection.images[1].image"
                        :lazy="false"
                      />
                    </div>
                    <div class="collage__img-small pos-relative">
                      <BaseImage
                        v-if="aboutSection.images[2]"
                        :image-mobile="aboutSection.images[2].image"
                        :image-desktop="aboutSection.images[2].image"
                        :lazy="false"
                      />
                    </div>
                  </div>
                </swiper-slide>
              </Swiper>
            </template>
            <div
              class="main__right d-flex j-between pos-relative w-100"
              v-else-if="width && aboutSection.images"
            >
              <div class="collage__img pos-relative">
                <BaseImage
                  v-if="aboutSection.images[0]"
                  :image-mobile="aboutSection.images[0].image"
                  :image-desktop="aboutSection.images[0].image"
                  :lazy="false"
                />
              </div>
              <div class="col h-100 d-flex j-between pos-relative">
                <div class="collage__img-small pos-relative ">
                  <BaseImage
                    v-if="aboutSection.images[1]"
                    :image-mobile="aboutSection.images[1].image"
                    :image-desktop="aboutSection.images[1].image"
                    :lazy="false"
                  />
                </div>
                <div class="collage__img-small pos-relative w-100">
                  <BaseImage
                    v-if="aboutSection.images[2]"
                    :image-mobile="aboutSection.images[2].image"
                    :image-desktop="aboutSection.images[2].image"
                    :lazy="false"
                  />
                </div>
              </div>
            </div>
          </stripped-container>
          <div
            class="swiper-pagination-collage"
            v-if="isMobile || isTablet"
          ></div>
        </div>
      </template>
    </custom-section>
    <Panels
      :title="production.title"
      :items="production.items"
      v-if="production && production.items"
    />
    <news-section
      :title="newsTitle"
      :info="news.items.items"
      :btn-text="newsBtn"
      v-if="news"
    />
  </main>
  <main v-else></main>
</template>

<script>
import 'swiper/css/swiper.css';
import { mapActions, mapGetters, mapMutations } from 'vuex';
import Panels from '@/components/main-page/Panels';
import CustomSection from '@/components/common/section/CustomSection';
import StrippedContainer from '@/components/common/stripped-container/StrippedContainer';
import TitleSection from '@/components/main-page/title-section/TitleSection';
import NewsSection from '@/components/news/News';
import resizeMixin from '@/mixins/resizeMixin';
import { Swiper, SwiperSlide } from 'vue-awesome-swiper';
import BaseImage from '@/components/common/base/BaseImage';
import loading from '@/components/Loading';

export default {
  name: 'index',
  transition: 'page',
  mixins: [resizeMixin],
  components: {
    BaseImage,
    NewsSection,
    TitleSection,
    StrippedContainer,
    CustomSection,
    Panels,
    Swiper,
    SwiperSlide,
    loading
  },
  data() {
    return {
      swiperOptions: {
        slidesPerView: 1,
        slidesPerColumn: 1,
        spaceBetween: 25,
        pagination: {
          el: '.swiper-pagination-collage',
          clickable: true
        }
      }
    };
  },
  computed: {
    ...mapGetters(['getLang', 'getNamedPage', 'getLoading']),
    getPage() {
      return this.getNamedPage && this.getNamedPage('home');
    },
    titleSection() {
      return (
        this.getPage &&
        this.getPage.blocks &&
        this.getPage.blocks[0] && {
          ...this.getPage.blocks[0].attributes,
          numbers: [...this.getPage.blocks[1].attributes.items],
          title: this.getPage.blocks[1].attributes.title
        }
      );
    },
    aboutSection() {
      return (
        this.getPage &&
        this.getPage.blocks &&
        this.getPage.blocks[2] &&
        this.getPage.blocks[2].attributes
      );
    },
    production() {
      return (
        this.getPage &&
        this.getPage.blocks &&
        this.getPage
          .blocks[3] /* &&  this.getPage.blocks.data[3].id === 'productCategories' */ &&
        this.getPage.blocks[3].attributes
      );
    },
    news() {
      return (
        this.getPage &&
        this.getPage.blocks &&
        this.getPage.blocks[4] &&
        this.getPage.blocks[4].attributes
      );
    },
    newsBtn() {
      return this.news && this.news.btn_text;
    },
    newsTitle() {
      return this.news && this.news.title;
    },
    newsItems() {
      return (this.news && this.news.items && this.news.items.items) || [];
    }
  },
  watch: {
    getLang: function() {
      this.loadPage();
    }
  },
  methods: {
    ...mapActions(['fetchData', 'fetchPageData']),
    async loadPage() {
      try {
        let lang = this.$i18n.locale;
        await this.fetchData({ url: 'global/data', lang });
        await this.fetchPageData({ url: '/main', lang });
      } catch (error) {
        this.$router.replace(this.localeRoute({ name: 'error' }));
      }
    }
  },
  async fetch({ store, redirect, params }) {
    try {
      let lang = params === 'uk' ? 'ua' : params;
      await store.dispatch('fetchData', { url: 'global/data', lang });
      await store.dispatch('fetchPageData', { url: '/main', lang });
    } catch (error) {
      redirect(this.localeRoute({ name: 'error' }));
    }
  }
};
</script>

<style lang="scss" scoped>
.about-section {
  margin-top: 20px;

  @include respond-from('xsmall') {
    margin-top: 0;
  }
}

/deep/ .swiper__container {
  margin-top: 30px;
  overflow-y: visible;
}

/deep/ .swiper-pagination-bullet {
  @media (min-width: 1200px) {
    display: none;
  }
}

.main {
  @include respond-from('large') {
    margin-top: 55px;
  }

  /deep/ section:first-of-type .section__container {
    @include respond-from('xsmall') {
      display: flex;
    }
  }

  /deep/ .swiper-wrapper {
    width: 100%;
  }

  .swiper-slide {
    width: 100%;
    max-width: 100%;
    border-radius: $border-radius;
  }

  &__right {
    & > img,
    .col {
      width: calc(50% - 25px);
      flex-basis: calc(50% - 25px);
    }

    .col {
      display: grid;
      grid-template-columns: 1fr;
      grid-row-gap: 25px;
    }

    img {
      border-radius: $border-radius;
      display: block;
    }
  }

  &__left {
    @include respond-from('small') {
      //width: 330px;
      margin-right: 10px;
    }

    @include respond-from('large') {
      width: 345px;
      margin-right: 35px;
    }
  }

  &__collage {
    flex: 0 0 100%;
    max-width: 100%;

    .col {
      max-width: 100%;
      //width: 350px;
      display: grid;
      grid-template-columns: 1fr;
      grid-row-gap: 30px;
    }

    @include respond-from('special') {
      flex: 0 0 50%;
      max-width: 50%;
    }

    @include respond-from('large') {
      flex: 0 0 725px;
      max-width: 725px;
    }
  }
}

.collage {
  @include respond-from('large') {
    margin-top: 25px;
  }

  &__img {
    width: auto;
    max-width: 100%;
    overflow: hidden;
    border-radius: $border-radius;

    &:not(.col) {
      padding-top: 128.484848%;
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
      @include respond-from('large') {
        height: 470px;
        width: 350px;
        padding-top: 0;
        overflow: hidden;
      }
    }
  }

  &__img-small {
    width: auto;
    max-width: 100%;
    overflow: hidden;
    border-radius: $border-radius;
    padding-top: 62.86%;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);

    @include respond-from('large') {
      height: 220px;
      width: 350px;
      padding-top: 0;
      overflow: hidden;
    }
  }
}

/deep/ .news__button {
  font-size: 18px;
}
</style>
