<template>
  <main class="pharm main pos-relative" v-if="content">
    <custom-section
      v-if="content[0] && content[0].attributes"
      :title="content[0].attributes.title"
      is-title-center
      with-separator
    >
      <div class="text text--main pharm__text first" v-html="content[0].attributes.description"></div>
      <template v-slot:right>
        <div class="pharm__right" v-if="content[0].attributes.image">
          <stripped-container full>
            <div class="img-wrap">
              <base-image
                :image-mobile="content[0].attributes.image"
                :image-desktop="content[0].attributes.image"
                :alt="content[0].attributes.image.alt"
                :title="content[0].attributes.image.title"
              />
            </div>
          </stripped-container>
        </div>
      </template>
    </custom-section>
    <custom-section a-start v-if="content[1] && content[1].attributes && content[1].attributes.columns">
      <div v-if="content[1].attributes.columns[0]" class="pharm__title" >{{content[1].attributes.columns[0].title}}</div>
      <div class="text text--main  pharm__text" v-if="content[1].attributes.columns[0]" v-html="content[1].attributes.columns[0].text"></div>
      <template v-slot:right>
        <div class="pharm__right">
          <div class="pharm__title" v-if="content[1].attributes.columns[1]">{{content[1].attributes.columns[1].title}}</div>
          <div class="text text--main pharm__text" v-if="content[1].attributes.columns[1]" v-html="content[1].attributes.columns[1].text"></div>
        </div>
      </template>
    </custom-section>
    <custom-section v-if="content[1] && content[1].attributes">
      <div class="text text--main">{{ content[1].attributes.description}}</div>
    </custom-section>
    <custom-section a-start background v-if="content[2] && content[2].attributes && content[2].attributes.columns">
      <div class="pharm__title" v-if="content[2].attributes.columns[0]">{{content[2].attributes.columns[0].title}}</div>
      <div class="text text--main pharm__text" v-if="content[2].attributes.columns[0]" v-html="content[2].attributes.columns[0].description"></div>
      <template v-slot:right>
        <div class="pharm__right">
          <div class="pharm__title" v-if="content[2].attributes.columns[1]" >{{content[2].attributes.columns[1].title}}</div>
          <div class="text text--main pharm__text" v-if="content[2].attributes.columns[1]" v-html="content[2].attributes.columns[1].description"></div>
        </div>
      </template>
    </custom-section>
    <custom-section v-if="content[3] && content[3].attributes">
      <div class="pharm__description text text--main" v-html="content[3].attributes.description"></div>
    </custom-section>
  </main>
  <Loading v-else />
</template>

<script>
  import 'swiper/css/swiper.css'
  import {mapActions, mapGetters, mapMutations} from 'vuex'
  import Panels from "@/components/main-page/Panels";
  import CustomSection from "@/components/common/section/CustomSection";
  import StrippedContainer from "@/components/common/stripped-container/StrippedContainer";
  import Numbers from "@/components/numbers/Numbers";
  import NewsSection from "@/components/news/News";
  import resizeMixin from "@/mixins/resizeMixin";
  import BaseImage from "@/components/common/base/BaseImage";
  import Loading from "@/components/Loading";

  export default {
    name: 'pharmacological_control',
    // transition: "page",
    mixin:[ resizeMixin ],
    components: {
      NewsSection,
      Numbers,
      StrippedContainer,
      CustomSection,
      Panels,
      BaseImage,
      Loading
    },
    computed: {
      ...mapGetters(['getLang', 'getNamedPage' , 'getLoading']),
      getPage(){
        return this.getNamedPage && this.getNamedPage('pharma')
      },
      content(){
        return this.getPage && this.getPage.blocks
      },
    },
    watch:{
      getLang: function (){
        this.loadPage()
      }
    },
    methods: {
      ...mapActions(['fetchData', 'fetchPageData']),
      async loadPage() {
        try {
          await this.fetchData({url: 'global/data'});
          await this.fetchPageData({url: '/pharma'});
        } catch (error) {
          this.$router.replace(this.localeRoute({name: 'error'}))
        }
      },
    },
    async fetch ({ store, redirect }) {
      try {
        await store.dispatch('fetchData', {url: 'global/data'});
        await store.dispatch('fetchPageData', {url: '/pharma'});
      } catch (error) {
        redirect(this.localeRoute({ name: 'error' }))
      }
    }
  }
</script>

<style lang="scss" scoped>
  .pharm {
    &__right {
      margin-top: 20px;

      @include respond-from('xsmall') {
        margin-top: 30px;
      }

      @include respond-from('large') {
        flex: 0 0 635px;
        margin-left: 30px;
        margin-top: 0;
      }
    }
    &__description {
      margin-bottom: 25px;
      @include respond-from('xsmall'){
        margin-bottom: 40px;
      }
      @include respond-from('large'){
        margin-bottom: 5px;
      }
    }

    &__text {
      @include respond-from('large') {
        margin-right: 30px;
        width: 540px;
        flex: 0 0 540px;
        &.first{
          width: 465px;
          flex: 0 0 465px;
        }
      }
    }

    &__title{
      font-family: $font-secondary-bold;
      margin-bottom: 15px;
      font-size: 18px;

      @include respond-from('xsmall') {
        font-size: 24px;
      }
    }
  }

  /deep/ a {
    color: $secondary-text-color;
  }

  /deep/ strong, /deep/ b {
    font-weight: bold;
    font-family: $font-main-bold;
  }

  /deep/ h4 {
    @include respond-to('large'){
      @include respond-from('xsmall'){
        margin: 30px auto;
        text-align: center;
      }
    }

    @include respond-to('xsmall'){
      font-size: 18px;
      margin: 10px 0;
    }
  }

  /deep/.section:nth-of-type(3) .section__container {
    padding-top: 0;
    margin-top: 0;
  }
  /deep/.section:nth-of-type(2) .section__container {
    margin-bottom: 0;
  }
</style>

