<template>
  <main class="side-effect container" v-if="getPage && getPage.id === 'side-effect'">
    <custom-section :title="pageTitle" is-title-center>
      <form class="side-effect__form"  @submit.prevent="submit" ref="form"  method="post">
        <side-effect-section :title="titles.general">
          <div class="d-flex a-center j-between wrap">
            <SideEffectInput
              :ref="fields[0].name"
              :title="fields[0].label"
              v-model="formValues[fields[0].name]"
              :rules="rulesFactory(fields[0])"
              :required="fields[0].required"
              :message="translation[getLang].wrong"
            />
            <SideEffectInput
              :ref="fields[1].name"
              :title="fields[1].label"
              :rules="rulesFactory(fields[1])"
              v-model="formValues[fields[1].name]"
              :required="fields[1].required"
              :message="translation[getLang].wrong"
              type="date"
            />

            <SideEffectInput
              :ref="fields[2].name"
              :title="fields[2].label"
              :rules="rulesFactory(fields[2])"
              v-model="formValues[fields[2].name]"
              :required="fields[2].required"
              :message="translation[getLang].wrong"
            />
          </div>
          <p class="label text text--main">{{`${fields[3].label}${fields[3].required ? ' *' : ''}`}}</p>
          <div class="d-flex a-center">

            <SideEffectRadio
              v-for="(item, index) in gender.items"
              :key="fields[3].name +index"
              :label="item.value"
              :name="gender.name"
              v-model="formValues[gender.name]"
              :value="item.id"
            />
          </div>
          <SideEffectCheckboxGroup
            :ref="fields[4].name"
            :field="fields[4]"
            v-model="formValues[fields[4].name]"
          />

          <div class="d-flex a-center j-between wrap">
            <SideEffectInput
              :ref="fields[5].name"
              :title="fields[5].label"
              v-model="formValues[fields[5].name]"
              :rules="rulesFactory(fields[5])"
              :required="fields[5].required"
              :message="translation[getLang].wrong"
              type="date"
            />
            <SideEffectInput
              :ref="fields[6].name"
              :title="fields[6].label"
              :rules="rulesFactory(fields[6])"
              v-model="formValues[fields[6].name]"
              :required="fields[6].required"
              type="time"
              :message="translation[getLang].wrong"
            />

            <SideEffectInput
              :ref="fields[7].name"
              :title="fields[7].label"
              :rules="rulesFactory(fields[7])"
              v-model="formValues[fields[7].name]"
              :required="fields[7].required"
              :message="translation[getLang].wrong"
              type="date"
            />
            <SideEffectInput
              :ref="fields[8].name"
              :title="fields[8].label"
              :rules="rulesFactory(fields[8])"
              v-model="formValues[fields[8].name]"
              :required="fields[8].required"
              :message="translation[getLang].wrong"
              type="time"
            />

            <SideEffectTextarea
              :ref="fields[9].name"
              :placeholder="fields[9].placeholder"
              :rules="rulesFactory(fields[9])"
              v-model="formValues[fields[9].name]"
              :required="fields[9].required"
              :message="translation[getLang].wrong"
              :meta="fields[9].hint"
            />
          </div>
          <SideEffectCheckboxGroup
            :ref="fields[10].name"
            :field="fields[10]"
            v-model="formValues[fields[10].name]"
          />

        </side-effect-section>


        <side-effect-section :title="titles.product">
          <div class="d-flex j-between wrap">
            <SideEffectInput
              :ref="fields[11].name"
              :title="fields[11].label"
              :rules="rulesFactory(fields[11])"
              v-model="formValues[fields[11].name]"
              :required="fields[11].required"
              :message="translation[getLang].wrong"
              :meta="fields[11].hint"
            />
            <SideEffectInput
              :ref="fields[12].name"
              :title="fields[12].label"
              :rules="rulesFactory(fields[12])"
              v-model="formValues[fields[12].name]"
              :required="fields[12].required"
              :message="translation[getLang].wrong"
              :meta="fields[12].hint"
            />

            <SideEffectInput
              :ref="fields[13].name"
              :title="fields[13].label"
              :rules="rulesFactory(fields[13])"
              v-model="formValues[fields[13].name]"
              :required="fields[13].required"
              :message="translation[getLang].wrong"
              :meta="fields[13].hint"
            />
            <SideEffectInput
              :ref="fields[14].name"
              :title="fields[14].label"
              :rules="rulesFactory(fields[14])"
              v-model="formValues[fields[14].name]"
              :required="fields[14].required"
              :message="translation[getLang].wrong"
              :meta="fields[14].hint"
            />

            <SideEffectInput
              :ref="fields[15].name"
              :title="fields[15].label"
              :rules="rulesFactory(fields[15])"
              v-model="formValues[fields[15].name]"
              :required="fields[15].required"
              :message="translation[getLang].wrong"
              :meta="fields[15].hint"
            />
            <SideEffectInput
              :ref="fields[16].name"
              :title="fields[16].label"
              :rules="rulesFactory(fields[16])"
              v-model="formValues[fields[16].name]"
              :required="fields[16].required"
              :message="translation[getLang].wrong"
              :meta="fields[16].hint"
            />

            <SideEffectInput
              :ref="fields[17].name"
              :title="fields[17].label"
              :rules="rulesFactory(fields[17])"
              v-model="formValues[fields[17].name]"
              :required="fields[17].required"
              :message="translation[getLang].wrong"
              :meta="fields[17].hint"
            />
            <SideEffectInput
              :ref="fields[18].name"
              :title="fields[18].label"
              :rules="rulesFactory(fields[18])"
              v-model="formValues[fields[18].name]"
              :required="fields[18].required"
              :message="translation[getLang].wrong"
              :meta="fields[18].hint"
              type="date"
            />
            <SideEffectInput
              :ref="fields[19].name"
              :title="fields[19].label"
              :rules="rulesFactory(fields[19])"
              v-model="formValues[fields[19].name]"
              :required="fields[19].required"
              :message="translation[getLang].wrong"
              :meta="fields[19].hint"
              type="date"
            />

          </div>
        </side-effect-section>

        <side-effect-section >
          <h4 class="side-effect__title" v-html="titles.side">
          </h4>
          <div class="separator"></div>
          <div class="side-effect__title--bold">{{titles.firstLz}}</div>
          <div class="d-flex j-between wrap">
            <SideEffectInput
              :ref="fields[20].name"
              :title="fields[20].label"
              :rules="rulesFactory(fields[20])"
              v-model="formValues[fields[20].name]"
              :required="fields[20].required"
              :message="translation[getLang].wrong"
              :meta="fields[20].hint"
            />
            <SideEffectInput
              :ref="fields[21].name"
              :title="fields[21].label"
              :rules="rulesFactory(fields[21])"
              v-model="formValues[fields[21].name]"
              :required="fields[21].required"
              :message="translation[getLang].wrong"
              :meta="fields[21].hint"
            />

            <SideEffectInput
              :ref="fields[22].name"
              :title="fields[22].label"
              :rules="rulesFactory(fields[22])"
              v-model="formValues[fields[22].name]"
              :required="fields[22].required"
              :message="translation[getLang].wrong"
              :meta="fields[22].hint"
            />
            <SideEffectInput
              :ref="fields[23].name"
              :title="fields[23].label"
              :rules="rulesFactory(fields[23])"
              v-model="formValues[fields[23].name]"
              :required="fields[23].required"
              :message="translation[getLang].wrong"
              :meta="fields[23].hint"
            />

            <SideEffectInput
              :ref="fields[24].name"
              :title="fields[24].label"
              :rules="rulesFactory(fields[24])"
              v-model="formValues[fields[24].name]"
              :required="fields[24].required"
              :message="translation[getLang].wrong"
              :meta="fields[24].hint"
            />
            <SideEffectInput
              :ref="fields[25].name"
              :title="fields[25].label"
              :rules="rulesFactory(fields[25])"
              v-model="formValues[fields[25].name]"
              :required="fields[25].required"
              :message="translation[getLang].wrong"
              :meta="fields[25].hint"
              type="date"
            />

            <SideEffectInput
              :ref="fields[26].name"
              :title="fields[26].label"
              :rules="rulesFactory(fields[26])"
              v-model="formValues[fields[26].name]"
              :required="fields[26].required"
              :message="translation[getLang].wrong"
              :meta="fields[26].hint"
              type="date"
            />
          </div>

          <div class="side-effect__title--bold">{{titles.secondLz}}</div>
          <div class="d-flex j-between wrap">
            <SideEffectInput
              :ref="fields[27].name"
              :title="fields[27].label"
              :rules="rulesFactory(fields[27])"
              v-model="formValues[fields[27].name]"
              :required="fields[27].required"
              :message="translation[getLang].wrong"
              :meta="fields[27].hint"
            />
            <SideEffectInput
              :ref="fields[28].name"
              :title="fields[28].label"
              :rules="rulesFactory(fields[28])"
              v-model="formValues[fields[28].name]"
              :required="fields[28].required"
              :message="translation[getLang].wrong"
              :meta="fields[28].hint"
            />

            <SideEffectInput
              :ref="fields[29].name"
              :title="fields[29].label"
              :rules="rulesFactory(fields[29])"
              v-model="formValues[fields[29].name]"
              :required="fields[29].required"
              :message="translation[getLang].wrong"
              :meta="fields[29].hint"
            />
            <SideEffectInput
              :ref="fields[30].name"
              :title="fields[30].label"
              :rules="rulesFactory(fields[30])"
              v-model="formValues[fields[30].name]"
              :required="fields[30].required"
              :message="translation[getLang].wrong"
              :meta="fields[30].hint"
            />

            <SideEffectInput
              :ref="fields[31].name"
              :title="fields[31].label"
              :rules="rulesFactory(fields[31])"
              v-model="formValues[fields[31].name]"
              :required="fields[31].required"
              :message="translation[getLang].wrong"
              :meta="fields[31].hint"
            />
            <SideEffectInput
              :ref="fields[32].name"
              :title="fields[32].label"
              :rules="rulesFactory(fields[32])"
              v-model="formValues[fields[32].name]"
              :required="fields[32].required"
              :message="translation[getLang].wrong"
              :meta="fields[32].hint"
              type="date"
            />

            <SideEffectInput
              :ref="fields[33].name"
              :title="fields[33].label"
              :rules="rulesFactory(fields[33])"
              v-model="formValues[fields[33].name]"
              :required="fields[33].required"
              :message="translation[getLang].wrong"
              :meta="fields[33].hint"
              type="date"
            />
          </div>

          <div class="side-effect__title--bold">{{titles.thirdLz}}</div>
          <div class="d-flex j-between wrap">
            <SideEffectInput
              :ref="fields[34].name"
              :title="fields[34].label"
              :rules="rulesFactory(fields[34])"
              v-model="formValues[fields[34].name]"
              :required="fields[34].required"
              :message="translation[getLang].wrong"
              :meta="fields[34].hint"
            />
            <SideEffectInput
              :ref="fields[35].name"
              :title="fields[35].label"
              :rules="rulesFactory(fields[35])"
              v-model="formValues[fields[35].name]"
              :required="fields[35].required"
              :message="translation[getLang].wrong"
              :meta="fields[35].hint"
            />

            <SideEffectInput
              :ref="fields[36].name"
              :title="fields[36].label"
              :rules="rulesFactory(fields[36])"
              v-model="formValues[fields[36].name]"
              :required="fields[36].required"
              :message="translation[getLang].wrong"
              :meta="fields[36].hint"
            />
            <SideEffectInput
              :ref="fields[37].name"
              :title="fields[37].label"
              :rules="rulesFactory(fields[37])"
              v-model="formValues[fields[37].name]"
              :required="fields[37].required"
              :message="translation[getLang].wrong"
              :meta="fields[37].hint"
            />

            <SideEffectInput
              :ref="fields[38].name"
              :title="fields[38].label"
              :rules="rulesFactory(fields[38])"
              v-model="formValues[fields[38].name]"
              :required="fields[38].required"
              :message="translation[getLang].wrong"
              :meta="fields[38].hint"
            />
            <SideEffectInput
              :ref="fields[39].name"
              :title="fields[39].label"
              :rules="rulesFactory(fields[39])"
              v-model="formValues[fields[39].name]"
              :required="fields[39].required"
              :message="translation[getLang].wrong"
              :meta="fields[39].hint"
              type="date"
            />

            <SideEffectInput
              :ref="fields[40].name"
              :title="fields[40].label"
              :rules="rulesFactory(fields[40])"
              v-model="formValues[fields[40].name]"
              :required="fields[40].required"
              :message="translation[getLang].wrong"
              :meta="fields[40].hint"
              type="date"
            />
            <SideEffectTextarea
              :ref="fields[41].name"
              :placeholder="fields[41].placeholder"
              :rules="rulesFactory(fields[41])"
              v-model="formValues[fields[41].name]"
              :required="fields[41].required"
              :message="translation[getLang].wrong"
              :meta="fields[41].hint"
            />
          </div>
        </side-effect-section>
        <side-effect-section :title="titles.correction">
          <p class="label text text--main">{{`${fields[42].label}${fields[42].required ? ' *' : ''}`}}</p>
          <SideEffectCheckbox
            v-for="el in fields[42].items"
            :key="fields[42].name +el.id"
            :id="el.id"
            :label="el.value"
            v-model="formValues[fields[42].name]"
            :required="fields[42].required"
            :message="translation[getLang].wrong"
          />

          <p class="label text text--main">{{`${fields[43].label}${fields[43].required ? ' *' : ''}`}}</p>
          <div class="d-flex a-center">
            <SideEffectRadio
              v-for="(item, index) in fields[43].items"
              :key="fields[43].name +index"
              :label="item.value"
              :name="fields[43].name"
              v-model="formValues[fields[43].name]"
              :value="item.id"
            />
          </div>

          <p class="label text text--main">{{`${fields[44].label}${fields[44].required ? ' *' : ''}`}}</p>
          <SideEffectCheckbox
            v-for="el in fields[44].items"
            :key="fields[44].name +el.id"
            :id="el.id"
            :label="el.value"
            v-model="formValues[fields[44].name]"
            :required="fields[44].required"
            :message="translation[getLang].wrong"
          />

          <p class="label text text--main">{{`${fields[45].label}${fields[45].required ? ' *' : ''}`}}</p>
          <div class="d-flex a-center">
            <SideEffectRadio
              v-for="(item, index) in fields[45].items"
              :key="fields[45].name +index"
              :label="item.value"
              :name="fields[45].name"
              v-model="formValues[fields[45].name]"
              :value="item.id"
            />
          </div>
          <p class="label text text--main">{{`${fields[46].label}${fields[46].required ? ' *' : ''}`}}</p>
          <SideEffectCheckbox
            v-for="el in fields[46].items"
            :key="fields[46].name + el.id"
            :id="el.id"
            :label="el.value"
            v-model="formValues[fields[46].name]"
            :required="fields[46].required"
            :message="translation[getLang].wrong"
          />
          <SideEffectInput
            :ref="fields[47].name"
            :title="fields[47].label"
            :rules="rulesFactory(fields[47])"
            v-model="formValues[fields[47].name]"
            :required="fields[47].required"
            :message="translation[getLang].wrong"
            :meta="fields[47].hint"
          />
          <p class="label text text--main">{{`${fields[48].label}${fields[48].required ? ' *' : ''}`}}</p>
          <div class="d-flex a-center">
            <SideEffectRadio
              v-for="(item, index) in fields[48].items"
              :key="fields[48] + index"
              :label="item.value"
              :name="fields[48].name"
              v-model="formValues[fields[48].name]"
              :value="item.id"
            />
          </div>
          <p class="label text text--main">{{`${fields[49].label}${fields[49].required ? ' *' : ''}`}}</p>
          <SideEffectCheckbox
            v-for="el in fields[49].items"
            :key="fields[49]+ el.id"
            :id="el.id"
            :label="el.value"
            v-model="formValues[fields[49].name]"
            :required="fields[49].required"
            :message="translation[getLang].wrong"
          />
          <SideEffectTextarea
            :ref="fields[50].name"
            :placeholder="fields[50].placeholder"
            :rules="rulesFactory(fields[50])"
            v-model="formValues[fields[50].name]"
            :required="fields[50].required"
            :message="translation[getLang].wrong"
            :meta="fields[50].hint"
          />
        </side-effect-section>
        <side-effect-section :title="titles.casualay">
          <SideEffectRadio
            v-for="(item, index) in fields[51].items"
            :key="fields[51].name +index"
            :label="item.value"
            :name="fields[51].name"
            v-model="formValues[fields[51].name]"
            :value="item.id"
          />
        </side-effect-section>

        <side-effect-section :title="titles.informat">
          <div class="d-flex a-center j-between wrap">
            <SideEffectInput
              :ref="fields[52].name"
              :title="fields[52].label"
              v-model="formValues[fields[52].name]"
              :rules="rulesFactory(fields[52])"
              :required="fields[52].required"
              :message="translation[getLang].wrong"
            />
            <SideEffectInput
              :ref="fields[53].name"
              :title="fields[53].label"
              :rules="rulesFactory(fields[53])"
              v-model="formValues[fields[53].name]"
              :required="fields[53].required"
              mask="+38 (0##) ###-##-##"
              :message="translation[getLang].wrong"
            />

            <SideEffectInput
              :ref="fields[54].name"
              :title="fields[54].label"
              :rules="rulesFactory(fields[54])"
              v-model="formValues[fields[54].name]"
              :required="fields[54].required"
              :message="translation[getLang].wrong"
            />
          </div>
          <SideEffectCheckboxGroup
            :ref="fields[55].name"
            :field="fields[55]"
            v-model="formValues[fields[55].name]"
          />
          <SideEffectTextarea
            :ref="fields[56].name"
            :placeholder="fields[56].placeholder"
            :rules="rulesFactory(fields[56])"
            v-model="formValues[fields[56].name]"
            :required="fields[56].required"
            :message="translation[getLang].wrong"
            :meta="fields[56].hint"
          />

        </side-effect-section>

        <div class="d-flex a-center j-center row">
          <div class="btn type2 confirm" @click="submit">{{ submitLabel }}</div>
          <div class="btn not-confirm" @click="goToPrevPage">{{ cancelLabel }}</div>
        </div>
      </form>
    </custom-section>
  </main>
</template>

<script>
import CustomSection from "@/components/common/section/CustomSection";
import SideEffectInput from "@/components/common/inputs/side-effect-form/SideEffectInput";
import SideEffectCheckbox from "@/components/common/inputs/side-effect-form/SideEffectCheckbox";
import {mapActions, mapGetters} from "vuex";
import SideEffectSection from "@/components/common/inputs/side-effect-form/SideEffectSection";
import SideEffectRadio from "@/components/common/inputs/side-effect-form/SideEffectRadio";
import Vue from "vue";
import SideEffectTextarea from "@/components/common/inputs/side-effect-form/SideEffectTextarea";
import axios from "axios";
import translation from 'static/lang'
import { isArray, isNumber } from 'lodash'
import SideEffectCheckboxGroup from "@/components/common/inputs/side-effect-form/SideEffectCheckboxGroup";
export default {
  name: 'Problem',
  components: {
    SideEffectCheckboxGroup,
    SideEffectTextarea,
    SideEffectRadio,
    SideEffectSection,
    SideEffectCheckbox,
    SideEffectInput,
    CustomSection
  },
  data() {
    return {
      bool: false,
      formValues: {},
      translation
    }
  },
  watch: {
    'fields.length': {
      immediate: true,
      handler: function () {
        if(this.fields) {
          let keys = this.fields.map(el => el.name)
          let formData = {}
          keys.forEach(key => {
            formData[key] = ''

          })
          Vue.set(this, 'formValues', formData)
          Vue.set(this.formValues, this.gender.name, this.gender.items[0].id)
          Vue.set(this.formValues, this.fields[43].name, this.fields[43].items[0].id)
          Vue.set(this.formValues, this.fields[45].name, this.fields[43].items[0].id)
          Vue.set(this.formValues, this.fields[48].name, this.fields[48].items[0].id)
          Vue.set(this.formValues, this.fields[51].name, this.fields[51].items[0].id)
          Vue.set(this.formValues, this.fields[4].name, [])
          Vue.set(this.formValues, this.fields[42].name, [])
          Vue.set(this.formValues, this.fields[44].name, [])
          Vue.set(this.formValues, this.fields[46].name, [])
          Vue.set(this.formValues, this.fields[49].name, [])
          Vue.set(this.formValues, this.fields[55].name, [])
          Vue.set(this.formValues, this.fields[10].name, [])
        }
      }
    }
  },
  computed: {
    ...mapGetters(['getLang', 'getNamedPage' , 'getLoading']),
    getPage(){
      return this.getNamedPage && this.getNamedPage('side-effect')
    },
    content() {
      return this.getPage && this.getPage.blocks
    },
    submitSlug(){
      return this.formData && this.formData.submit &&
        this.formData.submit.slug
    },
    submitLabel(){
      return this.formData && this.formData.submit &&
        this.formData.submit.label
    },
    cancelLabel(){
      return this.formData && this.formData.cancel &&
        this.formData.cancel.label
    },
    formData() {
      return this.content && this.content[0] &&
        this.content[0].attributes &&
        this.content[0].attributes.form
    },
    gender() {
      return this.fields && this.fields[3]
    },
    fields() {
      return this.formData && this.formData.fields
    },
    pageTitle() {
      return this.content && this.content[0] &&
        this.content[0].attributes &&
        this.content[0].attributes.title
    },
    titles() {
      return this.content && this.content[0] &&
        this.content[0].attributes &&
        this.content[0].attributes.titles
    }
  },
  methods: {
    ...mapActions(['fetchData', 'fetchPageData']),
    goToPrevPage(){
      this.$router.push(this.localeRoute({name: 'pharma'}))
    },
    rulesFactory(inputData) {
      const { name, required } = inputData
      const rules = []
      if (required) {
        rules.push(this.required)
      }
      if(name.match('email')){ rules.push(this.emailValidation)}
      if(name.match('phone')){ rules.push(this.phoneValidation)}
      return rules
    },
    validate() {
      return Object.keys(this.formValues).reduce((acc, key) => {
        if (isArray(this.formValues[key] && this.fields.find(el => el.name === key).required)) {

          return acc && !!this.formValues[key].length
        }

        if(!(this.$refs[key])) return acc

        const isValid = this.$refs[key].validate()

        return acc && isValid
      }, true)
    },
    async clearForm() {
      Object.keys(this.formValues).forEach( key => {
        if ( isArray(this.formValues[key]) ) {
          this.formValues[key] = []
        }else if (isNumber(this.formValues[key])) {
          this.formValues[key] = 1
        } else {
          // this.formValues[key] = ''
        }
        if(!this.$refs[key]) return
        this.$refs[key].clear()
        this.$refs[key].$data.isValid = true
      })
      this.$refs.form.reset()
    },
    phoneValidation(value) {
      return value.replace(/[-+() ]/g, '').match(/[0-9]{12}/)
    },
    emailValidation(value) {
      return value.match(/^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-z]{2,}$/)
    },
    required(value) {
      return !!value
    },
    async loadPage() {
      try {
        let lang = this.$i18n.locale;
        await this.fetchData({url: 'global/data', lang});
        await this.fetchPageData({url: '/side-effectc', lang});
      } catch (error) {
        this.$router.replace(this.localeRoute({name: 'error'}))
      }
    },
    async submit() {
      if(! await  this.validate() || this.isLoading) return;
      this.isLoading = true

      try {
        let payload = {};
        for (let key in this.formValues) {
          if ( isArray(this.formValues[key]) ) {
            payload[key] = this.formValues[key].join(', ')
          }else if (isNumber(this.formValues[key])) {
            payload[key] = this.formValues[key].toString()
          } else {
            payload[key] = this.formValues[key]
          }
        }
        const result = await axios.post(process.env.API_URL + this.submitSlug, {...payload, url: this.$route.name})
        this.clearForm();
        this.$nuxt.$emit('show')
        this.$emit('close')

      } catch (e) {
        console.log(e)
      } finally {
        this.isLoading = false
      }
    },
  },
  async fetch({store, redirect, params}) {
    try {
      let lang = params === 'uk' ? 'ua' : params;
      await store.dispatch('fetchData', {url: 'global/data', lang});
      await store.dispatch('fetchPageData', {url: '/side-effect', lang});
    } catch (error) {
      redirect(this.localeRoute({name: 'error'}))
    }
  }
}
</script>

<style lang="scss" scoped>
.side-effect {
  &__form {
    width: 100%;
    max-width: 720px;
    margin: 15px auto;
  }
  /deep/.h2 {
    @include respond-from('medium'){
      max-width: 80%;
      margin: auto;
      font-size: 36px;
    }
  }
  .confirm {
    color: #fff;
    min-height: 50px;
    @include respond-to('special') {
      margin-top: 30px !important;
      width: 100%;
    }
  }
  .not-confirm {
    min-height: 50px;
    color: #b2b2b2;
    border: 1px solid #b2b2b2;
    margin-left: 30px;
    @include respond-to('special') {
      margin-top: 10px !important;
      width: 100%;
      margin-left: 0;
    }
  }
  .row {
    margin-top: 10px;
    @include respond-to('special') {
      flex-wrap: wrap;
    }
  }
  .label {
    margin-bottom: 10px;
  }
  &__title {
    font-size: 16px;
    line-height: 1.2;
    font-family: $font-secondary-regular;
    font-weight: 400;
    margin-bottom: 10px;
    strong {
      font-family: $font-secondary-bold;
      font-weight: 700;
    }
  }
  &__title--bold {
    font-size: 16px;
    line-height: 1.2;
    font-family: $font-secondary-bold;
    font-weight: 700;
    margin-bottom: 10px;

  }
}
</style>
