<template>
  <main class="side-effect container" v-if="getPage && getPage.id === 'problem'">
    <custom-section :title="pageTitle" is-title-center>
      <form class="side-effect__form"  @submit.prevent="submit" ref="form"  method="post">
        <side-effect-section :title="titles.patient">
          <div class="d-flex a-center j-between wrap">
            <SideEffectInput
              :ref="fields[0].name"
              :title="fields[0].label"
              v-model="formValues[fields[0].name]"
              :rules="rulesFactory(fields[0])"
              :required="fields[0].required"
              :message="translation[getLang].wrong"
            />
            <SideEffectInput
              :ref="fields[1].name"
              :title="fields[1].label"
              :rules="rulesFactory(fields[1])"
              v-model="formValues[fields[1].name]"
              :required="fields[1].required"
              mask="+38 (0##) ###-##-##"
              :message="translation[getLang].wrong"
            />

            <SideEffectInput
              :ref="fields[2].name"
              :title="fields[2].label"
              :rules="rulesFactory(fields[2])"
              v-model="formValues[fields[2].name]"
              :required="fields[2].required"
              :message="translation[getLang].wrong"
            />
            <SideEffectInput
              :ref="fields[3].name"
              :title="fields[3].label"
              :rules="rulesFactory(fields[3])"
              v-model="formValues[fields[3].name]"
              :required="fields[3].required"
              :message="translation[getLang].wrong"
            />
            <SideEffectInput
              :ref="fields[4].name"
              :title="fields[4].label"
              :rules="rulesFactory(fields[4])"
              v-model="formValues[fields[4].name]"
              :required="fields[4].required"
              :message="translation[getLang].wrong"
            />
          </div>
        </side-effect-section>
        <side-effect-section :title="titles.product">
          <div class="d-flex a-center j-between wrap">
            <SideEffectInput
              :ref="fields[5].name"
              :title="fields[5].label"
              :rules="rulesFactory(fields[5])"
              v-model="formValues[fields[5].name]"
              :required="fields[5].required"
              :message="translation[getLang].wrong"
            />
            <SideEffectInput
              :ref="fields[6].name"
              :title="fields[6].label"
              :rules="rulesFactory(fields[6])"
              v-model="formValues[fields[6].name]"
              :required="fields[6].required"
              :message="translation[getLang].wrong"
            />

            <SideEffectInput
              :ref="fields[7].name"
              :title="fields[7].label"
              :rules="rulesFactory(fields[7])"
              v-model="formValues[fields[7].name]"
              :required="fields[7].required"
              :message="translation[getLang].wrong"
            />
          </div>
        </side-effect-section>
        <side-effect-section :title="titles.recept">
          <p class="label text text--main">{{receptSect.label}}</p>
          <div class="d-flex a-center">
            <SideEffectRadio
              v-for="(item, index) in receptSect.items"
              :key="index"
              :label="item.value"
              :name="receptSect.name"
              v-model="formValues[receptSect.name]"
              :value="item.id"
            />
          </div>
        </side-effect-section>
        <side-effect-section :title="titles.side">
          <SideEffectTextarea
            :ref="fields[9].name"
            :rules="rulesFactory(fields[9])"
            :placeholder="fields[9].placeholder"
            v-model="formValues[fields[9].name]"
            :required="fields[9].required"
            :message="translation[getLang].wrong"
          />
        </side-effect-section>
        <side-effect-section :title="titles.informat">
          <div class="d-flex a-center j-between wrap">
            <SideEffectInput
              :ref="fields[10].name"
              :title="fields[10].label"
              :rules="rulesFactory(fields[10])"
              v-model="formValues[fields[10].name]"
              :required="fields[10].required"
              :message="translation[getLang].wrong"
            />
            <SideEffectInput
              :ref="fields[11].name"
              :title="fields[11].label"
              :rules="rulesFactory(fields[11])"
              v-model="formValues[fields[11].name]"
              :required="fields[11].required"
              mask="+38 (0##) ###-##-##"
              :message="translation[getLang].wrong"
            />

            <SideEffectInput
              :ref="fields[12].name"
              :title="fields[12].label"
              :rules="rulesFactory(fields[12])"
              v-model="formValues[fields[12].name]"
              :required="fields[12].required"
              :message="translation[getLang].wrong"
            />
            <SideEffectInput
              :ref="fields[13].name"
              :title="fields[13].label"
              :rules="rulesFactory(fields[13])"
              v-model="formValues[fields[13].name]"
              :required="fields[13].required"
              :message="translation[getLang].wrong"
            />
            <SideEffectInput
              :ref="fields[14].name"
              :title="fields[14].label"
              :rules="rulesFactory(fields[14])"
              v-model="formValues[fields[14].name]"
              :required="fields[14].required"
              :message="translation[getLang].wrong"
            />
          </div>
        </side-effect-section>
        <side-effect-section :title="titles.doctor">
          <div class="d-flex a-center j-between wrap">
            <SideEffectInput
              :ref="fields[15].name"
              :title="fields[15].label"
              :rules="rulesFactory(fields[15])"
              v-model="formValues[fields[15].name]"
              :required="fields[15].required"
              :message="translation[getLang].wrong"
            />
            <SideEffectInput
              :ref="fields[16].name"
              :title="fields[16].label"
              :rules="rulesFactory(fields[16])"
              v-model="formValues[fields[16].name]"
              :required="fields[16].required"
              :message="translation[getLang].wrong"
            />

            <SideEffectInput
              :ref="fields[17].name"
              :title="fields[17].label"
              :rules="rulesFactory(fields[17])"
              v-model="formValues[fields[17].name]"
              :required="fields[17].required"
              :message="translation[getLang].wrong"
            />
            <SideEffectInput
              :ref="fields[18].name"
              :title="fields[18].label"
              :rules="rulesFactory(fields[18])"
              v-model="formValues[fields[18].name]"
              :required="fields[18].required"
              mask="+38 (0##) ###-##-##"
              :message="translation[getLang].wrong"
            />
            <SideEffectTextarea
              :ref="fields[19].name"
              :placeholder="fields[19].placeholder"
              :rules="rulesFactory(fields[19])"
              v-model="formValues[fields[19].name]"
              :required="fields[19].required"
              :message="translation[getLang].wrong"
            />
          </div>
        </side-effect-section>
        <div class="d-flex a-center j-center row">
          <div class="btn type2 confirm" @click="submit">{{ submitLabel }}</div>
          <div class="btn not-confirm" @click="goToPrevPage">{{ cancelLabel }}</div>
        </div>
      </form>
    </custom-section>
  </main>
</template>

<script>
import CustomSection from "@/components/common/section/CustomSection";
import SideEffectInput from "@/components/common/inputs/side-effect-form/SideEffectInput";
import SideEffectCheckbox from "@/components/common/inputs/side-effect-form/SideEffectCheckbox";
import {mapActions, mapGetters} from "vuex";
import SideEffectSection from "@/components/common/inputs/side-effect-form/SideEffectSection";
import SideEffectRadio from "@/components/common/inputs/side-effect-form/SideEffectRadio";
import Vue from "vue";
import SideEffectTextarea from "@/components/common/inputs/side-effect-form/SideEffectTextarea";
import axios from "axios";
import { isArray, isNumber } from 'lodash'
import translation from 'static/lang'
export default {
  name: 'Problem',
  components: {
    SideEffectTextarea,
    SideEffectRadio,
    SideEffectSection,
    SideEffectCheckbox,
    SideEffectInput,
    CustomSection
  },
  data() {
    return {
      bool: false,
      formValues: {},
      translation
    }
  },
  watch: {
    'fields.length': {
      immediate: true,
      handler: function () {
        if(this.fields) {
          let keys = this.fields.map(el => el.name)
          let formData = {}
          keys.forEach(key => {
            if (isNumber(formData[key])){
              formData[key] = 1
            } else {
              formData[key] = ''
            }
          })
          Vue.set(this, 'formValues', formData)
          Vue.set(this.formValues, this.receptSect.name, this.receptSect.items[0].id)
        }
      }
    }
  },
  computed: {
    ...mapGetters(['getLang', 'getNamedPage' , 'getLoading']),
    getPage(){
      return this.getNamedPage && this.getNamedPage('problem')
    },
    content() {
      return this.getPage && this.getPage.blocks
    },
    submitSlug(){
      return this.formData && this.formData.submit &&
        this.formData.submit.slug
    },
    submitLabel(){
      return this.formData && this.formData.submit &&
        this.formData.submit.label
    },
    cancelLabel(){
      return this.formData && this.formData.cancel &&
        this.formData.cancel.label
    },
    formData() {
      return this.content && this.content[0] &&
        this.content[0].attributes &&
        this.content[0].attributes.form
    },
    receptSect() {
      return this.fields && this.fields[8]
    },
    fields() {
      return this.formData && this.formData.fields
    },
    pageTitle() {
      return this.content && this.content[0] &&
        this.content[0].attributes &&
        this.content[0].attributes.title
    },
    titles() {
      return this.content && this.content[0] &&
        this.content[0].attributes &&
        this.content[0].attributes.titles
    }
  },
  methods: {
    ...mapActions(['fetchData', 'fetchPageData']),
    goToPrevPage(){
      this.$router.push(this.localeRoute({name: 'pharma'}))
    },
    rulesFactory(inputData) {
      const { name, required } = inputData
      const rules = []
      if (required) {
        rules.push(this.required)
      }
      if(name.match('email')){ rules.push(this.emailValidation)}
      if(name.match('phone')){ rules.push(this.phoneValidation)}
      return rules
    },
    validate() {
      return Object.keys(this.formValues).reduce((acc, key) => {
        if(!(this.$refs[key])) return acc
        const isValid = this.$refs[key].validate()
        return acc && isValid
      }, true)
    },
    async clearForm() {
      Object.keys(this.formValues).forEach(key => {
        if ( isArray(this.formValues[key]) ) {
          this.formValues[key] = []
        }else if (isNumber(this.formValues[key])) {
          this.formValues[key] = 1
        }
        if(!this.$refs[key]) return
        this.$refs[key].clear()
      })

      this.$refs.form.reset()
    },
    phoneValidation(value) {
      return value.replace(/[-+() ]/g, '').match(/[0-9]{12}/)
    },
    emailValidation(value) {
      return value.match(/^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-z]{2,}$/)
    },
    required(value) {
      return !!value
    },
    async loadPage() {
      try {
        let lang = this.$i18n.locale;
        await this.fetchData({url: 'global/data', lang});
        await this.fetchPageData({url: '/problem', lang});
      } catch (error) {
        this.$router.replace({name: 'error'})
      }
    },
    async submit() {
      if(! await this.validate() || this.isLoading) return;
      this.isLoading = true

      try {
        const result = await axios.post(process.env.API_URL + this.submitSlug, {...this.formValues, url: this.$route.name})
        this.clearForm();
        this.$nuxt.$emit('show')
        this.$emit('close')

      } catch (e) {
        console.log(e)
      } finally {
        this.isLoading = false
      }
    },
  },
  async fetch({store, redirect, params}) {
    try {
      let lang = params === 'uk' ? 'ua' : params;
      await store.dispatch('fetchData', {url: 'global/data', lang});
      await store.dispatch('fetchPageData', {url: '/problem', lang});
    } catch (error) {
      redirect({name: 'error'})
    }
  }
}
</script>

<style lang="scss" scoped>
.side-effect {
  &__form {
    width: 100%;
    max-width: 720px;
    margin: 15px auto;
  }
/deep/.h2 {
  @include respond-from('medium'){
    max-width: 80%;
    margin: auto;
    font-size: 36px;
  }
}
  .confirm {
    color: #fff;
    min-height: 50px;
    @include respond-to('special') {
      margin-top: 30px !important;
      width: 100%;
    }
  }
  .not-confirm {
    min-height: 50px;
    color: #b2b2b2;
    border: 1px solid #b2b2b2;
    margin-left: 30px;
    @include respond-to('special') {
      margin-top: 10px !important;
      width: 100%;
      margin-left: 0;
    }
  }
  .row {
    margin-top: 10px;
    @include respond-to('special') {
      flex-wrap: wrap;
    }
  }
  .label {
    margin-bottom: 30px;
  }
}
</style>
