$main-text-color: #4A4A4A;
$secondary-text-color: #E3AF06;
$light-color: #fff;
$dark-text-color: #000;
$placeholder-color: #4a4a4a;


$meta-color: #9B9B9B;
$error: #FF0000;
$border-color: #d5d5d5;

$background-grey: rgba(155,155,155,.7);
$background: rgba(0, 0, 0, 0.7);
$background-secondary: rgba(227, 175, 6, 0.7);
$golden-gradient: linear-gradient(297.67deg, #E3AF06 4.15%, #FFEAA6 100%);

$border-radius: 10px;

