<template>
  <main class="apparat main pos-relative" v-if="content && getPage && getPage.id === 'medical-equipment-one' ">
   <BaseTitle :title="title" :level="2" class="h2" />
    <custom-section v-if="content[0] && content[0].attributes" :title="content[0].attributes.subtitle" with-separator >
      <div class="apparat__text text text--main" v-html="content[0].attributes.description"></div>
      <template v-slot:right>
        <div class="apparat__right">
          <stripped-container >
            <div class="img-wrap">
            <base-image v-if="content[0].attributes && content[0].attributes.image"
              :imageMobile="content[0].attributes.imageMobile && content[0].attributes.imageMobile.src? content[0].attributes.imageMobile: content[0].attributes.image"
                        :imageDesktop="content[0].attributes.image && content[0].attributes.image.src? content[0].attributes.image : content[0].attributes.imageMobile"
                        :alt="content[0].attributes.image.alt"
                        :title="content[0].attributes.image.title"/>
            </div>
          </stripped-container>
        </div>
      </template>
    </custom-section>
    <custom-section v-if="additionalContent && additionalContent.length">
    <template v-for="(el, index) in additionalContent" >
      <div class="video__wrap pos-relative"  v-if="el && el.id === 'BlockVideo'"  :key="index">
        <BaseVideo :video="{src:{youtube: el.attributes.video}}"/>
      </div>
      <template v-if="el && el.id === 'BlockContentWithImage'">
        <div class="container apparat__content text text--main "
             :key="index"
             v-html="el.attributes.content"
        />
        <div class="img-wrap" :key="index+`img`">
          <BaseImage
            :image-mobile="el.attributes.image"
                     :image-desktop="el.attributes.image"
          />
        </div>
      </template>
      <div class="video__wrap pos-relative"  v-if="el && el.id === 'BlockVideoFile'"  :key="index">
        <BaseVideo :video="{src: {video: {'mp4': el.attributes.video.src}}}" :lazy="false"/>
      </div>
      <template v-if="el && el.id === 'BlockImage'">
        <div class="img-wrap" :key="index+`img`">
          <BaseImage
                     :image-mobile="el.attributes.image"
                     :image-desktop="el.attributes.image"
          />
        </div>
      </template>
      <div class="container apparat__content text text--main "
           :key="index"
           v-if="el && el.id === 'richContent' && el.attributes"
           v-html="el.attributes.description"
      />
    </template>
    </custom-section>
  </main>
  <Loading v-else />
</template>

<script>
    import 'swiper/css/swiper.css'
    import {mapGetters, mapMutations} from 'vuex'
    import Panels from "@/components/main-page/Panels";
    import CustomSection from "@/components/common/section/CustomSection";
    import StrippedContainer from "@/components/common/stripped-container/StrippedContainer";
    import resizeMixin from "@/mixins/resizeMixin";
    import LazyImg from "@/components/common/LazyImg/LazyImg";
    import BaseTitle from "@/components/common/base/BaseTitle";
    import Loading from "@/components/Loading";
    import BaseVideo from "@/components/common/base/BaseVideo";
    import BaseImage from "@/components/common/base/BaseImage";

    export default {
        name: 'equipment',
        // transition: "page",
        layout: 'collaboration',
        mixin:[ resizeMixin ],
        components: {
          BaseImage,
          BaseVideo,
          Loading,
          BaseTitle,
          StrippedContainer,
          CustomSection,
          Panels,
          LazyImg
        },
        computed: {
          ...mapGetters(['getLang', 'getNamedPage' , 'getLoading']),
          getPage(){
            return this.getNamedPage && this.getNamedPage('medical-equipment-one')
          },
          content(){
            return this.getPage && this.getPage.blocks
          },
          additionalContent(){
            return this.content && this.content.filter(el=> el.id !== 'aboutCompany')
          },
          title() {
            return this.content && this.content[0] && this.content[0].attributes && this.content[0].attributes.title ||
              this.getPage && this.getPage.meta && this.getPage.meta.seo && this.getPage.meta.seo.title
          }
        },
      methods:{
        async loadPage() {
          try {
            let lang = this.$i18n.locale;
            await this.fetchData({url: 'global/data', lang});
            await this.fetchPageData({url: `/medical-equipment/${this.$route.params.id}`, lang});
          } catch (error) {
            this.$router.replace(this.localeRoute({name: 'error'}))
          }
        },
      },
      async fetch ({ store, redirect, params }) {
        try {
          let lang = params === 'uk'? 'ua' : params.lang;
            await store.dispatch('fetchData', {url: 'global/data',lang});
            await store.dispatch('fetchPageData', {url: `/medical-equipment/${params.id}`,  lang});
          } catch (error) {
            redirect(this.localeRoute({ name: 'error' }))
          }
        }
    }
</script>

<style lang="scss" scoped>
  .apparat {
    /deep/.h3 {
      @include respond-from('small'){
        font-size: 24px;
      }
    }
    /deep/.h2 {
      @include respond-from('small'){
        font-size: 30px;
      }
    }
    &__right {
      margin-top: 20px;
      @include respond-from('xsmall') {
        margin-top: 30px;
      }
      @include respond-from('large') {
        flex: 0 0 635px;
        margin-top: 40px;
      }
    }
    &__description {
      padding: 30px 0;
    }
    &__content {
      padding: 20px 0;
      @include respond-from('large'){
        padding: 50px 0;
      }
      /deep/ ul{
        display: flex;
        list-style: none;

        flex-wrap: wrap;
        justify-content: space-between;
        align-content: flex-start;

      }
      /deep/ li {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 20px auto 0 auto;
        text-align: center;

        &:nth-child(1), &:nth-child(2),
        &:nth-child(3), &:nth-child(4) {
          flex: 0 1 46%;
        }
        @include respond-from('small'){
          &:nth-child(1), &:nth-child(2),
          &:nth-child(3) {
            flex: 0 1 30%;
          }
          flex: 0 1 46%
        }
        @include respond-from('large') {
          &:nth-child(1), &:nth-child(2),
          &:nth-child(3), &:nth-child(4) {
            flex: 0 1 22%;
          }
          flex: 0 1 30%;
        }
      }
      /deep/ strong {
        display: block;
        font-family: $font-secondary-bold;
        font-size: 30px;
        margin-bottom: 10px;
      }

  }
    &__text {
      @include respond-from('large') {
        max-width: 445px;
        margin-right: 30px;
      }
    }
  }
</style>

