<template>
  <main class="collaboration" v-if="getPage && getPage.id === 'medical'">
    <custom-section :title="title" is-title-center>
      <div class="collaboration__grid">
        <panel-element v-for="(el, index) in content[0].attributes.items"
                       @click.native="(e)=>{e.stopPropagation()}"
                       :key="`colaboration-`+index"
                       :title="el.title"
                       :color="el.color"
                       :image="el.image"
                       :imageMobile="el.image_mobile? el.image_mobile : el.image"
                       :link="'/'+el.link"
                       type2
                       show-more
                       witout-slash
        />
      </div>
    </custom-section>
  </main>
  <Loading v-else />
</template>
<script>
    import CustomSection from "@/components/common/section/CustomSection";
    import MyForm from "@/components/form/Form";
    import PanelElement from "@/components/panel/PanelElement";
    import {mapGetters} from "vuex";
    import Loading from "@/components/Loading";

    export default {
      // transition: "page",
      name: 'medical-equipment-main',
      components: {Loading, MyForm,  CustomSection, PanelElement},
      computed: {
        ...mapGetters(['getLang', 'getNamedPage' , 'getLoading']),
        getPage(){
          return this.getNamedPage && this.getNamedPage('medical')
        },
        content() {
          return this.getPage && this.getPage.blocks && this.getPage.blocks
        },
        title() {
          return this.content && this.content[0] && this.content[0].attributes && this.content[0].attributes.title
        }
      },
      methods:{
        async loadPage() {
          try {
            let lang = this.$i18n.locale;
            await this.fetchData({url: 'global/data', lang});
            await this.fetchPageData({url: this.$router.path, lang});
          } catch (error) {
            this.$router.replace(this.localeRoute({name: 'error'}))
          }
        },
      },
      async fetch ({ store, redirect, params }) {
        try {
          let lang = params === 'uk' ? 'ua' : params;
          await store.dispatch('fetchData', {url: 'global/data',lang});
          await store.dispatch('fetchPageData', {url: '/medical',  lang});
        } catch (error) {
          redirect(this.localeRoute({ name: 'error' }))
        }
      }
    }
</script>

<style lang="scss" scoped>
  .collaboration {
    @include respond-to('medium'){
      align-items: center;
    }
    &__grid {
      display: grid;
      grid-row-gap: 20px;
      justify-content: center;
      max-width: 350px;
      width: 80%;
      grid-template-columns: 1fr;
      margin: 0 auto;

      @include respond-from('small'){
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 30px;
        max-width: 100%;
        width: 100%;
        margin: 0 0 120px 0;
      }
      @include respond-from('xlarge'){
        grid-row-gap: 30px;
      }
    }
    /deep/ .h2 {
      margin-bottom: 30px;
      margin-top: 0 !important;
      padding-top: 0;
      @include respond-from('small'){
        margin-top: 30px;

      }
    }
  }
</style>
