<template>
  <nuxt-link :to="localePath(link)"  class="panel"
     :class="{v2: type2}">
      <base-image v-if="" :image-mobile="image && image.src? image : imageMobile"
                  :image-desktop="imageMobile && imageMobile.src? imageMobile: image"
                  :title="image.title"
                  :reveal-animation="'slideWhite'"
      />
      <div class="panel__overflow d-flex b-box text-center col j-around a-center" ref="panel" :style="style">
        <h3 class="panel__title  text-center">{{title}}</h3>
        <p class="panel__link" v-if="showMore">{{translation[this.getLang]['more']}}</p>
      </div>
  </nuxt-link>
</template>
<script>
  import {mapGetters} from "vuex";
  import translation from 'static/lang'
  import BaseImage from "@/components/common/base/BaseImage";
  export default {
      name: 'panel',
      components: {BaseImage},
      data(){
          return {
              translation
          }
      },
      props: {
          image: {
              default:()=> {}
          },
          imageMobile: {
              default:()=> {}
          },
          title: {
              type: String,
              default: ''
          },
          link: {
              type: String | Object,
              default: ''
          },
          color: {
              type: String,
              default: ''
          },
          linkName:{
              type: String,
              default: ''
          },
          type2: {
              type: Boolean,
              default: false
          },
          showMore: {
              type: Boolean,
              default: false
          },
        withoutSlash: {
              type: Boolean,
              default: false
          }
      },
      computed:{
          ...mapGetters(['getLang']),
        finalLink(){
            return `/${this.$route.params.lang}/${this.link}`.replace('//', '/')
        },
        style(){
          switch (this.color){
            case 'yellow': return {
              background: `rgba(227, 175, 6, 0.7)`
            };
            case 'grey': return {
              background: `rgba(155,155,155,.7)`
            }
            default: return {}
          }
        }
      }
  }
</script>

<style lang="scss" scoped>
  .panel {
      width: 100%;
      padding-top: 62.86%;
      display: block;
      //width: 224px;
      //height: 140px;
      border-radius: $border-radius;
      overflow: hidden;
      position: relative;
    transition: all .3s ease-in-out;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
    &:hover {
      box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.4);
    }
      @include respond-from('medium'){
        //width: 100%;
        //height: 220px;
    }
&__wrap {
  height: 100%;
}
    &.v2 {
      .panel__title {
        font-size: 24px;
        @include respond-to('medium'){
          font-size: 16px;
          line-height: 19px;
        }
      }
      .panel__overflow {
        @include respond-from('medium'){
        height: 32.38%;
        }
      }
    }
    &__title {
      font-family: $font-secondary-bold, sans-serif;
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      text-transform: uppercase;
      color: $dark-text-color;
      margin-top: 0;
      @include respond-to('large'){
        font-size: 16px;
        line-height: 19px;
      }
    }
    &:nth-child(even) .panel__overflow {
      background: $background-secondary;
    }
    &:nth-child(odd) .panel__overflow {
      background: $background-grey;
    }
    &__link {
      font-family: $font-main-regular, sans-serif;
      font-size: 12px;
      line-height: 24px;
      position: relative;
      display: block;
      text-decoration-line: underline;
      color: #000000;
      &::before {
        position: absolute;
        content: '';
        bottom: 6px;
        left: 0;
        width: 12px;
        border-bottom: 1px solid currentColor;
      }
      @include respond-from('medium'){
        font-size: 14px;
        line-height: 1.71;
        &::before {
          bottom: 4px;
        }
      }
    }
    &__overflow {
      padding: 15px;
      height: 50%;
      position: absolute;
      bottom: 0;
      width: 100%;
      z-index: 1;
    }


  }
</style>
