<template>
  <div class="catalogue" v-if="getPage && (getPage.id === 'recept-category-one' || getPage.id === 'category-one' )">
    <div class="v-container main pos-relative">
      <h2 class="h2 catalogue__title" v-if="translation[getLang]">{{translation[getLang]['catalogue']}} </h2>
      <h2 class="h2 catalogue__title" v-else>{{translation['uk']['catalogue']}} </h2>
      <BlockProductTabs
        :tabs="tabs"
        v-if="tabs"
        :bg="'#E3AF06'"
        :active-bg="'#000'"
        :color="'#000'"
        :active-color="'#fff'"
      />
      <nuxt-child :nuxt-child-key="requestUrl"/>
    </div>
  </div>
</template>

<script>
  import 'swiper/css/swiper.css'
  import {mapActions, mapGetters} from 'vuex'
  import resizeMixin from "@/mixins/resizeMixin";
  import BlockCatalogProduct from "@/components/common/base/BlockCatalogProduct";
  import translation from 'static/lang'
  import BlockProductTabs from "@/components/product/BlockProductTabs";
  import BaseTitle from "@/components/common/base/BaseTitle";

  export default {
    name: 'catalogue',
    transition: "none",
    mixin: [resizeMixin],
    components: {
      BaseTitle,
      BlockProductTabs,
      BlockCatalogProduct,

    },
    data() {
      return {
        translation
      }
    },
    computed: {
      ...mapGetters(['getLang', 'getNamedPage' , 'getLoading']),
      getPage(){
        return this.getNamedPage && this.getNamedPage('recept-category-one')
      },
      content() {
        return this.getPage && this.getPage.blocks
      },
      tabs() {
        return this.content && this.content[0] && this.content[0].attributes && this.content[0].attributes.items
      },
      products() {
        return this.content && this.content[1] && this.content[1].attributes
      },
      slug() {
        return this.$route && this.$route.params && this.$route.params.catalogue
      },
      requestUrl() {
        return this.products && this.products.requestUrl
      }
    },
    watch: {
      getLang: function () {
        this.loadPage()
      }
    },
    methods: {
      ...mapActions(['fetchData', 'fetchPageData']),
      async loadPage() {
        try {
          let lang = this.$i18n.locale;
          await this.fetchData({url: 'global/data', lang});
          let recept = this.$route.query.isReceiptTab === false? '/category/': '/recept-category/'
          let url = recept + params.catalogue;
          this.fetchPageData({url: url, lang});
        } catch (error) {
          this.$router.replace(this.localeRoute({ name: 'error' }))
        }
      },
    },
    async fetch({store, redirect, params, query}) {
      try {
        let lang = params === 'uk' ? 'ua' : params;
        await store.dispatch('fetchData', {url: 'global/data', lang});
        let recept = query.isReceiptTab === false? '/category/' : '/recept-category/'
        let url = recept + params.catalogue;
        await store.dispatch('fetchPageData', {url: url, lang});
      } catch (error) {
        redirect(this.localeRoute({ name: 'error' }))
      }
    }
  }
</script>

<style lang="scss" scoped>
  .catalogue {
    margin-bottom: auto;
    &__title {
      //margin-top: 0 !important;
    }
  }

  h1 {
    width: 100%;
    text-align: center;
  }

  main {
    @include respond-from('large') {
      padding-top: 0 !important;
    }
  }

  /deep/ .tab-button {
    font-size: 14px !important;
    padding: 10px !important;
    font-family: $font-main-regular;
    font-weight: normal;
  }
</style>

