<template>
  <main v-if="content && getPage.id === 'catalog'">
    <custom-section
      :title="
        getPage && getPage.meta && getPage.meta.seo && getPage.meta.seo.title
      "
      is-title-center
      v-if="content"
    >
      <div class="grid" v-if="content.attributes && content.attributes.items">
        <panel-element
          v-for="(el, index) in content.attributes.items"
          :key="index"
          :image="el.imageDesktop"
          :image-mobile="
            el.imageMobile && el.imageMobile.src
              ? el.imageMobile
              : el.imageDesktop
          "
          :title="el.title"
          :link="{
            name: 'products-catalogue',
            params: { catalogue: el.link.split('/').pop() }
          }"
          :color="el.color"
          show-more
        />
      </div>
    </custom-section>
  </main>
</template>

<script>
import CustomSection from '@/components/common/section/CustomSection';
import LazyImg from '@/components/common/LazyImg/LazyImg';
import PanelElement from '@/components/panel/PanelElement';
import { mapActions, mapGetters } from 'vuex';
import Loading from '@/components/Loading';

export default {
  name: 'products',
  components: { Loading, LazyImg, CustomSection, PanelElement },
  props: {
    title: {
      type: String,
      default: ''
    }
  },
  computed: {
    ...mapGetters(['getLang', 'getNamedPage', 'getLoading']),
    getPage() {
      return this.getNamedPage && this.getNamedPage('catalog');
    },
    content() {
      return (
        this.getPage &&
        this.getPage
          .blocks /*&& this.getPage.blocks.data && this.getPage.blocks.data[0].id === 'products' &&*/ &&
        this.getPage.blocks[0]
      );
    },
    items() {
      return (
        this.content[0] &&
        this.content[0].attributes &&
        this.content[0].attributes.items
      );
    }
  },
  watch: {
    getLang: function() {
      this.loadPage();
    }
  },
  methods: {
    ...mapActions(['fetchData', 'fetchPageData']),
    async loadPage() {
      try {
        let lang = this.$i18n.locale;
        await this.fetchData({ url: 'global/data', lang });
        await this.fetchPageData({ url: '/catalog', lang });
      } catch (error) {
        this.$router.replace(this.localeRoute({ name: 'error' }));
      }
    }
  },
  async fetch({ store, redirect, params }) {
    try {
      let lang = params === 'uk' ? 'ua' : params;
      await store.dispatch('fetchData', { url: 'global/data', lang });
      await store.dispatch('fetchPageData', { url: '/catalog', lang });
    } catch (error) {
      redirect(this.localeRoute({ name: 'error' }));
    }
  }
};
</script>

<style lang="scss" scoped>
.grid {
  display: grid;
  max-width: 224px;
  margin: 15px auto;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
  justify-items: center;
  @include respond-from('small') {
    margin: 30px 0;
    max-width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
  }
}
</style>
