<template>
  <main class="container notification" v-if="content && content[0]">
    <h2 class="notification__title">{{ content[0].attributes.title}}</h2>
    <custom-section :title="content[0].attributes.subtitle" is-title-center>
      <div v-html="content[0].attributes.description" class="text text--main"></div>
      <div class=" notification__row">
        <div class="btn type2 confirm" @click="confirm">{{ translation[getLang]['confirm'] }}</div>
        <div class="btn not-confirm" @click="goToPrevPage(false)">{{ translation[getLang]['not-confirm'] }}</div>
      </div>
    </custom-section>
  </main>
</template>
<script>
  import CustomSection from "@/components/common/section/CustomSection";
  import {mapActions, mapGetters} from "vuex";
  import translation from 'static/lang'
  import Loading from "@/components/Loading";
  export default {
    name: 'notification',
    // transition: "page",
    components: {CustomSection, Loading},
    data(){
      return {
        translation
      }
    },
    computed: {
      ...mapGetters(['getLang', 'getNamedPage' , 'getLoading']),
      getPage(){
        console.log('sds',this.prevRoute);
        return this.getNamedPage && this.getNamedPage('notify')
      },
      content(){
        return this.getPage && this.getPage.blocks && this.getPage.blocks
      },
      prevRoute() {
        return this.$route.params.previousRoute
      }
    },
    watch:{
      getLang: function (){
        this.loadPage()
      }
    },
    methods: {
      ...mapActions(['fetchData', 'fetchPageData']),
      confirm(){
        localStorage.setItem('isProfessionalSkill', true)
        this.goToPrevPage(true)
      },
      goToPrevPage(confirmation = false) {
        if(this.prevRoute) {
          let route = this.prevRoute.startsWith('/en/') || this.prevRoute.startsWith('/ru/') ? this.prevRoute.substring(3) :this.prevRoute
          this.$router.replace(this.localeRoute({ path: route, query: { isReceiptTab: confirmation} }))
          return
        }
        this.$router.replace(this.localeRoute({ name: 'products'}))
      },
      async loadPage(){
        try {
          let lang = this.$i18n.locale;
          await this.fetchData({url: 'global/data',lang});
          await this.fetchPageData({url: '/notify',  lang});
        } catch (error) {
          this.$router.replace(this.localeRoute({ name: 'error' }))
        }
      },
    },
    async fetch ({ store, redirect, params }) {
      try {
        let lang = params === 'uk' ? 'ua' : params;
        await store.dispatch('fetchData', {url: 'global/data',lang});
        await store.dispatch('fetchPageData', {url: '/notify',  lang});
      } catch (error) {
        redirect(this.localeRoute({ name: 'error' }))
      }
    }
  }
</script>

<style lang="scss" scoped>
  .notification{
    @include respond-to('large'){
      padding: 20px 0 !important;
    }
    @include respond-from('large'){
      padding: 50px 0 !important;
    }
    &__title{
        margin-top: 0 !important;
    }
    &__row {
      @include respond-from('small') {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        margin-top: 50px;
        max-width: 540px;
      }
    }
    .confirm {
      color: #fff;
      @include respond-to('small') {
        margin-top: 30px !important;
      }
    }
    .not-confirm {
      color: #b2b2b2;
      border: 1px solid #b2b2b2;
      @include respond-to('small') {
        margin-top: 10px !important;
      }
    }
  }
</style>
