<template>
  <footer v-if="getFooter" class="footer">
    <div class="container footer__container">
      <div>
        <h2 class="footer__head">{{ getFooter.footerTitle }}</h2>
        <div v-html="getFooter.footerText"></div>
      </div>
      <nav v-if="!isDesktop">
        <menu-main-item v-for="(el, index) in getMenu"
                        :key="el.slug"
                        :main-link="el.slug"
                        :main-caption="el.label"
                        :submenu="el.items"
                        :use-main="index === 2 || index === 3"
        />
        <div class="footer__privacy-mobile">
          <LocaleLink
            v-for="{slug, label} in privacyLinks"
            :key="slug"
            :to="slug"
            class="footer__privacy-link"
          >
            {{ label }}
          </LocaleLink>
        </div>
      </nav>
      <nav v-else>
        <div class="col">
          <menu-main-item :main-link="getMenu[0].slug"
                          :main-caption="getMenu[0].label"
                          :submenu="getMenu[0].items"
          />
          <menu-main-item :key="`menu-block-1`" :main-link="getMenu[1].slug"
                          :main-caption="getMenu[1].label"
                          :submenu="getMenu[1].items"
          />

          <menu-main-item
            key="privacy"
            class="footer__privacy"
            :submenu="privacyLinks"
          />

        </div>
        <div class="col">
          <menu-main-item :main-link="getMenu[2].slug"
                          :main-caption="getMenu[2].label"
                          :submenu="getMenu[2].items"
                          :max="6"
                          use-main
          />
        </div>
        <div class="col">
          <menu-main-item :main-link="getMenu[3].slug"
                          :main-caption="getMenu[3].label"
                          use-main
                          :submenu="getMenu[3].items" :max="5"/>
          <menu-main-item :main-link="getMenu[4].slug"
                          :main-caption="getMenu[4].label"
                          :submenu="getMenu[4].items" :max="0"/>
          <menu-main-item :main-link="getMenu[5].slug"
                          :main-caption="getMenu[5].label"
                          :submenu="getMenu[5].items" :max="0"/>
        </div>
      </nav>
    </div>
    <div class="footer__bottom">
      <div class="d-flex j-between container a-center">
        <div class="footer__col">{{getGlobalData.copyright}}</div>
        <div class="footer__col">
          <div>Impulsed by</div>
          <a class="footer__citrine" href="http://www.citrine.com.ua/" v-html="logo"/>
        </div>
        <div class="footer__col d-flex" v-if="getSocials">
          <a
            :href="el.link"
            v-for="el in getSocials"
            :key="el.icon"
            v-html="getIcon(el.icon)"
          ></a>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
  import MenuMainItem from "../common/main-menu/MenuMainItem";
  import logo from "~/assets/img/vector/Logo 1.svg?raw";
  import facebook from "~/assets/img/vector/facebook-f.svg?raw";
  import instagram from "~/assets/img/vector/instagram.svg?raw";
  import {mapGetters, mapState} from "vuex";
  import resizeMixin from "@/mixins/resizeMixin";
  import LocaleLink from "@/components/LocaleLink";

  export default {
    name: 'Footer',
    components: {
      MenuMainItem,
      LocaleLink
    },
    mixins: [resizeMixin],
    data() {
      return {
        logo,
        instagram,
        facebook
      }
    },
    methods: {
      getIcon(type) {
        switch (type) {
          case 'facebook':
            return this.facebook;
          case 'instagram':
            return this.instagram;
          default:
            return null
        }
      }
    },
    computed: {
      ...mapGetters(['getLang', 'getMenu', 'getFooter', 'getSocials', 'getGlobalData']),
      ...mapState({
        privacyLinks: state => state.data?.footer?.links.filter(el => !!el.slug)
      })
    },
    mounted() {

    }
  }
</script>

<style lang="scss" scoped>
  .footer {
    background: url(~assets/img/raster/footer_background_mobile.png) no-repeat right top, #191825;
    background-size: 100% auto;
    min-height: 540px;
    color: $light-color;
    font-family: $font-main-regular;
    font-size: 12px;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include respond-from('footer') {
      font-size: 14px;
      background: url(~assets/img/raster/footer_background_tablet.png) no-repeat right top, #08080f;
      background-size: 100% auto;
    }

    @include respond-from('large') {
      background: url(~assets/img/raster/footer_background.png) no-repeat right center;
      background-size: cover;
      min-height: unset;
      height: 390px;
    }

    /deep/ .menu-item, /deep/ .menu__link {
      @include respond-from('large') {
        line-height: 40px;
        vertical-align: baseline;
      }
    }

    /deep/ .menu-item {
      font-size: 14px !important;
      font-weight: normal;
      font-family: $font-main-regular;

      @include respond-to('large') {
        text-align: center;
      }

      /deep/ .menu-item__link {
        white-space: nowrap;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &__privacy {
      margin-top: 30px;
    }

    &__privacy-mobile {
      margin-top: 15px;
    }

    &__privacy-link {
      font-size: 14px;
      color: #fff;
      display: block;
      margin-bottom: 15px;
      text-decoration: none;
    }

    &__container {
      @include respond-from('large') {
        display: grid;
        grid-template-columns: 257px 1fr;
        grid-gap: 28px;
      }
    }

    nav {
      @include respond-from('large') {
        height: 340px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        align-content: flex-start;
      }
    }

    &__col {
      flex: 0 0 30%;

      a:not(:last-child) {
        margin-right: 25px;
      }

      &:last-child {
        text-align: right;
        justify-content: flex-end;

        @include respond-from('large') {
          order: 3;
        }
      }

      &:nth-child(2) {
        text-align: center;
        justify-content: center;
        @include respond-from('large') {
          order: 1;
          text-align: left;
          display: flex;
          justify-content: flex-start;
          div {
            margin-left: 10px
          }
        }
      }

      &:nth-child(1) {
        @include respond-from('large') {
          order: 2;
          text-align: center;
        }
      }
    }

    &__bottom {
      background: #000;
      border-top: 1px solid #144B8B;
      @include respond-from('large') {
        padding: 15px 0;
      }

      .container {

        @include respond-from('large') {
          padding: 0 !important;
        }
        @include respond-to('large') {
          padding-top: 3px;
          padding-bottom: 3px;
        }
      }
    }

    &__citrine {
      display: block;
      margin-left: 8px;
    }

    &__head {
      color: $secondary-text-color;
      font-family: $font-main-bold;
      font-size: 18px;
      text-align: left;
      line-height: 25px;
      margin-bottom: 20px;
      @include respond-to('small') {
        font-size: 14px;
        line-height: 19px;
      }
      @include respond-to('medium') {
        font-size: 16px;
        line-height: 22px;
      }
      @include respond-from('large') {

        margin-top: 10px;
        margin-bottom: 20px;
      }
    }

    nav {
      @include respond-to('large') {
        overflow: hidden;
      }
    }

    ::v-deep .menu__sign {
      @include respond-from('large') {
        display: none;
      }
    }
  }
</style>
