<template>
    <div class="check-list b-box" v-animate="{delay: 1, opacity: 1}">
        <div class="check-list__item" v-for="(el, index) in list" :key="index">
            <div>
                <svg class="check-list__svg" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M38.233 5.75976C37.6538 5.1923 36.7139 5.19132 36.1347 5.75735L18.3319 23.1219L11.9087 16.2994C11.3537 15.7102 10.4153 15.672 9.81183 16.2147C9.20883 16.7575 9.17022 17.6757 9.72524 18.2654L17.1946 26.1986C17.4682 26.4893 17.851 26.6582 18.2547 26.6664C18.2655 26.6668 18.276 26.6668 18.2864 26.6668C18.6787 26.6668 19.056 26.5145 19.334 26.2435L38.2301 7.8123C38.8108 7.24635 38.8118 6.32721 38.233 5.75976Z"
                          fill="currentColor"/>
                    <path d="M38.4924 18.4924C37.6598 18.4924 36.9849 19.1673 36.9849 20C36.9849 29.3659 29.3659 36.9849 20 36.9849C10.6347 36.9849 3.01508 29.3659 3.01508 20C3.01508 10.6347 10.6347 3.01508 20 3.01508C20.8327 3.01508 21.5076 2.34023 21.5076 1.50758C21.5076 0.674844 20.8327 0 20 0C8.97188 0 0 8.97188 0 20C0 31.0277 8.97188 40 20 40C31.0277 40 40 31.0277 40 20C40 19.1673 39.3252 18.4924 38.4924 18.4924Z"
                          fill="currentColor"/>
                </svg>
            </div>
            <div class="check-list__caption">
                {{el.text}}
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'check-list',
        props: {
            list: {
                default: []
            }
        }
    }
</script>
<style lang="scss" scoped>
    .check-list {
        font-family: $font-main-regular;
        border-radius: $border-radius;
        overflow: hidden;
        background: $background;
        color: $light-color;
        font-size: 16px;
        margin-top: 10px;
        padding: 15px 25px;
        text-align: center;
        position: relative;
        opacity: 0;

        @include respond-from('small') {
            padding: 30px 40px;
        }

        &::before {
            position: absolute;
            content: '';
            height: 100%;
            width: 6px;
            top: 0;
            left: 0;
            background: $secondary-text-color;
            margin-bottom: 15px;

            @include respond-from('large') {
                width: 10px;
            }
        }

        @include respond-from('small') {
            margin-bottom: 0;
            display: flex;
            justify-content: space-around;
            padding: 21px 0;
        }

        @include respond-from('large') {
            margin-top: 0;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 320px;
            flex-direction: column;
            padding: 45px 21px 73px 35px;
            justify-content: space-between;
            z-index: 10;
            border-radius: $border-radius 0 0 $border-radius;
        }

        &__item {
            display: flex;
            text-align: left;
            align-items: center;
            margin: 20px 0;

            @include respond-from('small') {
                display: block;
                text-align: center;
            }
        }

        &__svg {
            width: 25px;
            height: 25px;

            @include respond-from('small') {
                width: 40px;
                height: 40px;
            }
        }

        &__item:last-child .check-list__caption {
            margin-bottom: 0;
        }

        &__caption {
            font-weight: bold;
            font-family: $font-secondary-bold;
            margin-left: 20px;

            @include respond-from('small') {
                max-width: 210px;
                margin: 15px auto 0 auto;
            }

            @include respond-from('large') {
                margin-top: 22px;
                max-width: unset;
                text-align: left;
            }
        }
    }
</style>
