<template>
<custom-section background v-if="titleData">
  <div class="section-wrapper">
    <div class="main pos-relative">
      <div class="main__img pos-relative">
        <video
          v-if="showVideo"
          ref="video"
          :controls="false"
          preload="auto"
          class="main__video"
          playsinline
          muted
        >
          <source
            v-for="videoFormat in Object.keys(titleData.video.video)"
            :key="videoFormat"
            :src="getVideoObjectFromSrc(titleData.video.video[videoFormat])"
            :type="`video/${videoFormat}`"
          >
        </video>
        <BaseImage
          v-else
          :image-mobile="image"
          :image-desktop="image"
        />
      </div>
      <check-list :list="titleData.items" />
    </div>
    <numbers :numbers="titleData.numbers" :title="titleData.title"/>
  </div>
</custom-section>
</template>

<script>
import CustomSection from "@/components/common/section/CustomSection";
import LazyImg from "@/components/common/LazyImg/LazyImg";
import CheckList from "@/components/main-page/title-section/CheckList";
import Numbers from "@/components/numbers/Numbers";
import LazyVideo from "@/components/common/lazy-video/LazyVideo";
import BaseImage from "@/components/common/base/BaseImage";

export default {
    name: 'title-section',
    components: {
        BaseImage,
        LazyVideo,
        Numbers,
        CheckList,
        LazyImg,
        CustomSection,
    },
    mounted(){
      if(this.$refs.video) {
        this.$refs.video.play()
      }
    },
    props: {
        titleData: Object
    },
    computed: {
        image(){
            return this.titleData && this.titleData.image
        },
      showVideo(){
          return  (this.titleData.video && Object.values(this.titleData.video.video).filter(el => !!el).length) ||
              !!this.titleData.video.youtube || !!this.titleData.video.vimeo
      }
    },
  methods: {
    getVideoObjectFromSrc (src) {
      if (new RegExp(`${'/uploads'}`, 'g').test(src)) {
        return `${process.env.BASE_URL}${src}`
      }

      return src
    },
  }
}
</script>

<style scoped lang="scss">
  .section-wrapper {
    padding-top: 60px;

    @include respond-from('large'){
      padding-top: 10px;
    }
  }

  .main {
    &__img {
      position: relative;
      padding-top: 52.25%;
      box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
      border-radius: $border-radius;
    }

    &__video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: $border-radius;
    }
  }
</style>
