<template>
  <label :class="textFieldClasses">

    <!--Input or textarea-->
    <component
      :is="tag || 'input'"
      ref="input"
      v-bind="$attrs"
      :value="value"
      :class="[
        'form-text-field__input',
        {'form-text-field__input_textarea': tag === 'textarea'}
      ]"
      @input="onInput"
      @change="onChange"
      @focus="onFocus"
      @blur="onBlur"
    />

    <!--Label-->
    <span class="form-text-field__label content" v-html="label" />

    <!--Errors-->
    <FormError :error="error" :margin-bottom="marginBottom" />

  </label>
</template>

<script>
  import inputMixin from './inputs-mixin'

  export default {
    name: 'BaseTextField',

    mixins: [inputMixin],

    computed: {
      textFieldClasses () {
        return [
          'form-text-field',
          { 'form-text-field--focus': this.isOnFocus },
          { 'form-text-field--has-content': this.value },
          { 'form-text-field--error': this.error },
          { 'form-text-field--is-placeholder': _get(this, '$attrs.placeholder') },
          `form-text-field__theme--${this.theme}`
        ]
      }
    },

    methods: {
      onInput (e) {
        // if (this.tag === 'textarea') this.calculateTextareaHeight()

        this.$emit('input', e.target.value)
      },

      onChange (e) {
        this.$emit('change', e.target.value)
      },

      onFocus () {
        this.isOnFocus = true

        this.$emit('focus', this.$attrs.name)
      },

      onBlur () {
        this.isOnFocus = false

        this.$emit('blur', this.$attrs.name)
      },

      calculateTextareaHeight () {
        const { input } = this.$refs
        if (input) {
          input.style.height = 0
          input.style.height = input.scrollHeight + 2 + 'px'
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
$form-text-field: form-text-field;

%font-style {
  padding: 10px 0 8px;
  font-family: $font-main-regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px;
  color: $main-text-color;
}

.#{$form-text-field} {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 26px;

  &__input {
    position: relative;
    z-index: 1;
    width: 100%;
    background: none;
    border: 0;

    @include transition(0.3);

    @extend %font-style;

    .ios & {
      font-size: 16px;
    }

    &_textarea {
      max-height: 300px;
      padding-top: 21px;
      line-height: 18px;
      color: $secondary-text-color;
      resize: vertical;
    }

    &:focus {
      outline: none;
    }
  }

  &__label {
    position: absolute;
    top: 1px;
    left: 0;
    z-index: 0;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    opacity: 1;

    @include transition(0.3);

    //@extend %font-style;
  }

  &.#{$form-text-field}--has-content .#{$form-text-field}__label,
  &.#{$form-text-field}--focus .#{$form-text-field}__label,
  &.#{$form-text-field}--is-placeholder .#{$form-text-field}__label {
    top: -18px;
  }

  &__theme {
    &--underline {
      .#{$form-text-field}__input {
        border-bottom: 1px solid #c7d9ec;
      }
    }

    &--default {
      &.#{$form-text-field}--error .#{$form-text-field}__input {
        border: 1px solid #ed1846;
      }

      .#{$form-text-field}__input {
        padding: 13px 15px;
        border: 1px solid #c7d9ec;
        border-radius: 10px;
      }

      margin-bottom: 50px;

      &.#{$form-text-field}--has-content .#{$form-text-field}__label,
      &.#{$form-text-field}--focus .#{$form-text-field}__label,
      &.#{$form-text-field}--is-placeholder .#{$form-text-field}__label {
        top: -36px;
      }

      &.#{$form-text-field}--error {
        margin-bottom: 30px;
      }
    }
  }

  &.#{$form-text-field}--disabled {
    pointer-events: none;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-animation: autofill 0s forwards;
  animation: autofill 0s forwards;
}

@keyframes autofill {
  100% {
    color: inherit;
    background: transparent;
  }
}

@-webkit-keyframes autofill {
  100% {
    color: inherit;
    background: transparent;
  }
}
</style>
