<template>
  <div class="dropdown">
    <p class="dropdown__label">
      {{ label }}
    </p>
    <div
      v-click-outside="close"
      class="dropdown__main"
      @click="show = !show"
    >
      <div
        :class="[
          'dropdown__toggle',
          { 'dropdown__toggle_active': show }
        ]"
      >
        <span class="dropdown__input">
          {{ selected }}
        </span>

        <SVGcaretDown
          :class="[
            'dropdown__arrow',
            { 'dropdown__arrow_active': show }
          ]"
        />
      </div>

      <transition name="fade">
        <div
          v-if="show"
          :style="manuStyles"
          :class="['dropdown-menu', `dropdown-menu_${theme}`]"
        >
          <ul class="dropdown-menu__list">
            <li
              v-for="(item, i) in itemsWithOutCurrent"
              :key="i"
              class="dropdown-menu__item"
              @click="updateOption(item)"
            >
              {{ item.label || item.value }}
            </li>
            <li v-if="itemsWithOutCurrent.length === 0" class="dropdown-menu__item">
              <SVGError class="dropdown-menu__error" />
            </li>
          </ul>
        </div>
      </transition>
    </div>
  </div>
</template>

<script>
  import SVGError from '~/assets/svg/error.svg'
  import SVGcaretDown from '~/assets/svg/caret-down.svg'

  export default {
    name: 'BaseDropDown',

    components: { SVGcaretDown, SVGError },

    props: {
      current: {
        type: String
      },

      label: {
        type: String,
        default: ''
      },

      placeholder: {
        type: String
      },

      items: {
        type: Array,
        default: () => ([])
      },

      manuStyles: {
        type: String,
        default: 'left: 0px'
      },

      theme: {
        type: String,
        default: 'black',
        validator: (value) => {
          return ['black', 'white'].indexOf(value) !== -1
        }
      },

      forseClose: {
        type: Boolean,
        default: false
      }
    },

    data () {
      return {
        show: false,
        selected: null
      }
    },

    computed: {
      itemsWithOutCurrent () {
        return this.items.reduce((acc, item) => {
          if (item.label || item.value !== this.selected) acc.push(item)
          return acc
        }, [])
      }
    },

    watch: {
      forseClose (v) { if (v) this.close() }
    },

    created () {
      this.selected = this.current || this.placeholder
    },

    methods: {
      updateOption (item) {
        this.selected = item.label || item.value
        this.show = false
        this.$emit('updateOption', item)
      },

      open () {
        this.show = true
      },

      close () {
        this.show = false
      }
    }
  }
</script>

<style lang="scss" scoped>
.dropdown {
  display: inline-block;

  &__main {
    position: relative;
  }

  &__label {
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 24px;
    color: $secondary-text-color;
  }

  &__input {
    min-width: 300px;
    min-height: 51px;
    padding: 13px 15px 12px;
    font-size: 16px;
    line-height: 24px;
    color: $secondary-text-color;
    letter-spacing: 0.05em;
    border: 1px solid #c7d9ec;
    border-radius: 10px;
  }

  &__toggle {
    @include transition(0.3);

    display: flex;
    align-items: center;
    cursor: pointer;
    opacity: 1;

    &_active {
      opacity: 0.9;
    }
  }

  &__arrow {
    position: absolute;
    top: 23px;
    right: 16px;
    width: 12px;
    height: 7px;

    @include transition(0.5);

    &_active {
      transform: rotate3d(1, 0, 0, 180deg);
    }
  }
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  z-index: 100;
  width: 100%;
  max-height: 350px;
  padding: 15px 0;
  overflow-y: auto;
  background-color: $meta-color;
  border-radius: 10px;
  box-shadow: 0 22px 40px 0 rgba(0, 0, 0, 0.16);

  &__item {
    padding: 10px 15px;
    font-size: 12px;
    line-height: 1;
    color: $secondary-text-color;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__error {
    width: 26px;
    height: 26px;
  }
}
</style>
