<template>
  <div class="video__wrapper" >
    <div
      ref="videoPlayTrigger"
      class="video__play-trigger"
      data-observer-repeat="true"
    />
    <template v-if="video.src.youtube || video.src.vimeo">
      <transition name="fade" v-if="video.poster && video.poster.src && !withoutPoster">
        <div v-if="!isPlaying" class="video__poster">
          <BaseImage :image-mobile="video.poster" :image-desktop="video.poster" :lazy="false"/>
          <div class="play pos-absolute d-flex j-center a-center" ref="play" @click="isPlaying=true"><img src="/img/vector/play.svg" alt=""></div>
        </div>
      </transition>
      <iframe
        v-if="readyToLoad && (video.src.youtube || video.src.vimeo)"
        :src="videoIframe"
        iframeborder="0"
        class="iframe w-100 h-100"
        allowfullscreen="allowfullscreen"
        mozallowfullscreen="mozallowfullscreen"
        msallowfullscreen="msallowfullscreen"
        oallowfullscreen="oallowfullscreen"
        webkitallowfullscreen="webkitallowfullscreen"
      ></iframe>
    </template>
    <video
      v-else-if="readyToLoad"
      ref="video"
      :controls="controls"
      preload="auto"
      class="video"
      :poster="videoPoster"
      muted
      @loadeddata="onLoaded"
    >
      <source
        v-for="(videoFormat, i) in Object.keys(video.src.video)"
        :key="`video-source-${i}`"
        :src="getVideoObjectFromSrc(video.src.video[videoFormat])"
        :type="`video/${videoFormat}`"
      >
    </video>

    <transition name="fade" v-if="video.poster && video.poster.src && !withoutPoster">
      <div v-if="!isLoaded &&  !isPlaying" class="video__poster">
        <BaseImage :image-mobile="video.poster" :image-desktop="video.poster" :lazy="false"/>
        <div class="play pos-absolute d-flex j-center a-center" ref="play" @click="playVideo"><img src="/img/vector/play.svg" alt=""></div>
      </div>
    </transition>
  </div>
</template>

<script>
  // BaseVideo requires wrapper element with:
  //   1. non-static positioning
  //   2. width&height OR aspect ratio
  import BaseImage from "@/components/common/base/BaseImage";

  let loadObserver, playObserver
  if (process.browser) {
    const Observer = require('~/assets/js/modules/Observer').default

    loadObserver = new Observer({ root: null, rootMargin: '350px', threshold: 0 })
    playObserver = new Observer({ root: null, rootMargin: '0px', threshold: 0 })
  }

  export default {
    name: 'BaseVideo',
    components: {
      BaseImage
    },
    props: {
      video: {
        type: Object,
        required: true,
      },
      lazy: {
        type: Boolean,
        default: true
      },
      withoutPoster: {
        type: Boolean,
        default: false
      },
      controls: {
        type: Boolean,
        default: true
      }
    },

    data () {
      return {
        readyToLoad: false,
        isLoaded: false,
        isPlaying: false
      }
    },
    computed: {
      videoPoster() {
        return this.withoutPoster ? '' : this.video.poster
      },
      videoIframe(){
        return this.video && this.video.src && (
          this.video.src.youtube
            ? this.getYoutube
            : this.video.src.vimeo
              ? 'https://player.vimeo.com/video/' + this.getVimeo + '?background=1&tarnsparent=0'
              :''
        )
      },
      getVimeo(){
        let regExp = /^.*(vimeo.com\/)((channels\/[A-z]+\/)|(groups\/[A-z]+\/videos\/))?([0-9]+)/
        let parseUrl = regExp.exec(this.video.src.vimeo)
        return parseUrl[5]
      },
      getYoutube(){
        let videoId, start, finalSrc = 'https://youtube.com/embed/';
        if(this.video.src.youtube && this.video.src.youtube.includes('/watch?')){
          let query = this.video.src.youtube.split('/watch?')[1]
          query = query.split('&');
          let item;
          query.map((el)=>{
            item = el.split('=');
            switch (item[0]) {
              case 'v':
                videoId = item[1];
                break;
              case 't': case 'time_continue':
                start = item [1];
            }
          })
          finalSrc = finalSrc + videoId + `?&showinfo=0&controls=2&modestbranding=1&enablejsapi=1${this.video && this.video.poster && this.video.poster.src?'&autoplay=1': ''}`
          if (start){
            finalSrc += `&start=${start}`
          }
        } else if (this.video.src.youtube.includes('youtu.be')){
          finalSrc = this.video.src.youtube.replace('youtu.be','youtube.com/embed') +
            `?&showinfo=0&controls=2&modestbranding=1&enablejsapi=1${this.video && this.video.poster && this.video.poster.src?'&autoplay=1': ''}`
        } else {
          finalSrc = this.video.src.youtube + `?&showinfo=0&controls=2&modestbranding=1&enablejsapi=1${this.video && this.video.poster && this.video.poster.src ?'&autoplay=1': ''}`
        }
        return finalSrc
      }
    },
    mounted () {
      if (!this.lazy) {
        this.loadVideo()
      } else {
        loadObserver.observe(this.$el)
        this.$el.addEventListener('inview', event => {
          event.stopPropagation()
          this.loadVideo()
        })
        if (this.withoutPoster) {
          this.play()
        }
      }

      playObserver.observe(this.$refs.videoPlayTrigger)
      this.$refs.videoPlayTrigger.addEventListener('inview', event => {
        event.stopPropagation()
        this.play()
      })
      this.$refs.videoPlayTrigger.addEventListener('outview', event => {
        event.stopPropagation()
        this.pause()
      })


    },

    beforeDestroy () {
      loadObserver.unobserve(this.$el)
      playObserver.unobserve(this.$refs.videoPlayTrigger)
    },

    methods: {
      async play () {
        if (this.$refs.video) {
          await this.$nextTick()
          this.$refs.video.play()
        }
      },
      getVideoObjectFromSrc (src) {
        if (new RegExp(`${'/uploads'}`, 'g').test(src)) {
          const fullUrl = `${process.env.BASE_URL}${src}`
          src = fullUrl
            // .replace(/api\//g, '')
        }

        return src
      },
      async pause () {
        if (this.$refs.video) {
          await this.$nextTick()
          if(this.video.poster && this.video.poster.src){
            this.$refs.video.setAttribute('poster', this.video.poster.src)
          }
          this.$refs.video.pause()
        }
      },
      onLoaded () {
        this.isLoaded = true
        this.$emit('load', this._uid)
      },
      playVideo(){
        this.$refs.video.play();
        this.isPlaying = true;
      },
      loadVideo () {
        this.readyToLoad = true
        this.pause()
      }
    }
  }
</script>

<style lang="scss" scoped>
  .iframe {
    object-fit: cover;
    background: #000;
  }

  .video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    @include object-fit(cover);


    &__play-trigger {
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      pointer-events: none;
      visibility: hidden;
    }

    &__wrapper {
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden;
      top: 0;
      left: 0;
      z-index: 1;
      border-radius: $border-radius;
    }

    &__poster {
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
    }
  }

  .play {
    height: 100%;
    width: 100%;
    z-index: 1000;

    img {
      height: 42px;
      width: 42px;
    }

  }
</style>
