<template>
  <div v-if="imageObject" :class="classes" v-animate>
    <div ref="imageRevealTrigger" class="lazy-image__reveal-trigger" />

    <div
      :class="[
        'lazy-image__overlay',
        { 'lazy-image__overlay_hidden': readyToShow }
      ]"
    >
      <div class="lazy-image__overlay-div" />
    </div>

    <div
      v-if="readyToLoad"
      :class="[
        'lazy-image__picture',
        { 'lazy-image__picture_ready': readyToShow }
      ]"
    >
      <img
        v-if="imageObject"
        :src="imageObject.src"
        :alt="imageObject.alt"
        :title="imageObject.title"
        class="lazy-image"
        @load="onLoaded"
      >
    </div>
  </div>
</template>

<script>
  import resizeMixin from "@/mixins/resizeMixin";

  let loadObserver, revealObserver
  if (process.browser) {
    const Observer = require('~/assets/js/modules/Observer').default

    loadObserver = new Observer({ root: null, rootMargin: '150px', threshold: 0 })
    revealObserver = new Observer({ root: null, rootMargin: '0px', threshold: 0.2 })
  }

  export default {
    name: 'BaseImage',
    mixins: [resizeMixin],
    props: {
      imageDesktop: Object,
      imageMobile: Object,
      revealAnimation: {
        type: String,
        default: 'slideWhite',
        validator (revealAnimation) {
          return ['blur', 'fromDark', 'fromOpacity', 'slideWhite', 'slideBlack'].includes(revealAnimation)
        }
      },
      objectFit: {
        type: String,
        default: 'cover'
      },
      lazy: {
        type: Boolean,
        default: true
      },
      alt: String,
      title: String
    },

    data () {
      return {
        readyToLoad: false,
        isInViewport: false,
        isLoaded: false
      }
    },

    computed: {
      classes () {
        return [
          'lazy-image__wrapper',
          `lazy-image__wrapper_reveal_${this.revealAnimation}`,
          { 'lazy-image__wrapper_visible': this.readyToShow },
          `lazy-image__wrapper_object-fit_${this.objectFit}`
        ]
      },

      readyToShow () {
        return this.isLoaded && this.isInViewport
      },

      imageObject () {
        return this.getImageObjectFromSrc(this.imageDesktop, this.imageMobile)
      }
    },

    mounted () {
      if (!this.imageObject) return

      if (!this.lazy) {
        this.readyToLoad = true
      } else {
        loadObserver.observe(this.$el)
        this.$el.addEventListener('inview', event => {
          event.stopPropagation()
          this.readyToLoad = true
        })
      }

      revealObserver.observe(this.$refs.imageRevealTrigger)
      this.$refs.imageRevealTrigger.addEventListener('inview', event => {
        event.stopPropagation()
        this.isInViewport = true
      })
    },

    beforeDestroy () {
      if(loadObserver && this.$el) {
        loadObserver.unobserve(this.$el)
      }
      if (revealObserver && this.$refs.imageRevealTrigger) {
        revealObserver.unobserve(this.$refs.imageRevealTrigger)
      }
    },

    methods: {
      onLoaded () {
        this.isLoaded = true
        this.$emit('load', this._uid)
      },

      getImageObjectFromSrc (desktop, mobile) {
        let src = this.$resp.lgUp ? _get(desktop, 'src', '/img/footer.jpg') : _get(mobile, 'src', '/img/footer0.jpg')

        if (new RegExp(`${'uploads'}`, 'g').test(src)) {
          const fullUrl = `${process.env.BASE_URL}${src}`
          src = fullUrl
            // .replace(/api\//g, '')
        }
        return {
          alt: this.$resp.lgUp ? _get(desktop, 'alt', '') : _get(mobile, 'alt', ''),
          title: this.$resp.lgUp ? _get(desktop, 'title', '') : _get(mobile, 'title', ''),
          src
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  .lazy-image {
    width: 100%;
    height: 100%;
    border-radius: $border-radius;

    &__wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;

      &_reveal {
        &_fromDark {
          .lazy-image__overlay-div {
            background: $meta-color;
          }
        }

        &_fromOpacity {
          opacity: 0;
          transition: 1s;
        }

        &_slideWhite,
        &_slideBlack {
          .lazy-image__picture {
            transition: 0.8s;
            transform: translateX(7%);

            &_ready {
              transform: translateX(0);
            }
          }

          .lazy-image__overlay {
            opacity: 1;
            transform-origin: 0 0;

            &_hidden {
              transform: scaleX(0);
            }
          }
        }

        &_slideWhite {
          .lazy-image__overlay {
            &-div {
              background: rgba(255, 255,255,.4) ;
            }
          }
        }

        &_slideBlack {
          .lazy-image__overlay {
            &-div {
              background:  $meta-color;
            }
          }
        }
      }

      &_visible {
        opacity: 1;
      }

      &_object-fit {
        &_cover {
          .lazy-image {
            @include object-fit(cover);

            &__overlay-thumb {
              @include object-fit();
              @include object-fit();
            }
          }
        }

        &_contain {
          .lazy-image {
            @include object-fit(contain);

            &__overlay-thumb {
              @include object-fit(contain);
            }
          }
        }
      }
    }

    &__reveal-trigger {
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      pointer-events: none;
      visibility: hidden;
    }

    &__picture {
      z-index: 1;
      width: 100%;
      height: 100%;

      @include fully();
    }

    &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      height: 100%;
      overflow: hidden;
      transition: 1s;

      &-div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      &_hidden {
        opacity: 0;
        transition: 1s;
      }
    }
  }
</style>
