<template>
  <component
    :is="tag"
    :href="tag !== 'button' ? link || slug : null"
    :to="tag === 'nuxt-link' ? link || slug : null"
    :target="target"
    :class="classes"
    @click="onClick"
  >
    <span class="link__text">
      <slot v-if="!label" />
      <span v-else>{{ label }}</span>
    </span>
  </component>
</template>

<script>
  export default {
    name: 'BaseLink',

    props: {
      label: String,
      link: {
        type: String | Object,
        default: ''
      },
      slug: {
        type: String,
        default: ''
      },
      target: {
        type: String
      },
      disabled: {
        type: Boolean,
        default: false
      },
      noStyles: {
        type: Boolean,
        default: false
      }
    },

    computed: {
      classes () {
        return [
          'link',
          { 'link_styled': !this.noStyles },
          { 'link_disabled': this.disabled }
        ]
      },
      tag () {
        if (!this.link && !this.slug) {
          return 'button'
        } else if (/(http|https)|(tel:)|(mailto:)|(uploads)/.test(this.link || this.slug) || this.target === '_blank') {
          return 'a'
        } else {
          return 'nuxt-link'
        }
      }
    },

    methods: {
      onClick () {
        if (this.disabled) return

        this.$emit('click')
      }
    }
  }
</script>

<style lang="scss" scoped>
  .link_styled {
    &.link {
      cursor: pointer;
      outline: none;
    }
  }
</style>
