<template>
  <span class="content" v-html="replaceImgLinks" />
</template>

<script>
  export default {
    name: 'BaseContent',

    props: ['content'],


    computed: {
      replaceImgLinks () {
        return this.content.replace(/\/uploads(.*?)\./, (match, key) => {
          const domainPart = process.env.API_URL.replace(/api/g, '')
          return `${domainPart}uploads${key}.`
        })
      }
    }
  }
</script>

<style lang="scss" scoped>
.content {
  display: block;
  overflow: hidden;

  img {
    max-width: 100%;
    height: auto;
  }

  a {
    text-decoration: underline;
  }


  p {
    font-family: $font-main-regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: $secondary-text-color;

    b {
      font-weight: 700;
    }
  }

  b,
  strong {
    font-weight: 700;
  }

  ul {
    li {
      position: relative;
      padding-left: 18px;
      margin-bottom: 3px;
      font-family: $font-main-regular;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      color: $secondary-text-color;

      &::after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        font-size: 16px;
        line-height: 15px;
        content: '.';
      }
    }
  }

  ol {
    list-style-type: none;
    counter-reset: item;

    li {
      position: relative;
      padding-left: 18px;
      margin-bottom: 3px;
      font-family: $font-main-regular;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      color: $secondary-text-color;

      &::before {
        position: absolute;
        top: 5px;
        bottom: 0;
        left: 0;
        font-size: 16px;
        line-height: 15px;
        content: counter(item) ')';
        counter-increment: item;
      }
    }
  }
}
</style>
