<template>
  <component
    :is="`h${level}`"
    v-if="level && text || title"
    v-animate="animatiosOptions"
    class="base-title"
    v-html="text || title"
  />
</template>

<script>
  export default {
    name: 'BaseTitle',
    props: {
      level: [String, Number],
      text: String,
      title: String,
      animatiosOptions: {
        type: Object,
        default: () => ({
          delay: 0.1
        })
      }
    }
  }
</script>

<style lang="scss" scoped>
.base-title {
  text-transform: uppercase;
}
</style>
