<template>
  <component
    :is="tag"
    :href="tag !== 'button'
      ? isNativeLink(slug)
      : null
    "
    :to="tag === 'nuxt-link' ? slug : null"
    :target="target"
    :class="classes"
    @click="onClick"
  >
    <BaseLoader :isLoading="loading" />
    <span class="button__text">
      <slot v-if="!label" />
      <span v-else>{{ label }}</span>
    </span>
  </component>
</template>

<script>
  export default {
    name: 'BaseButton',

    props: {
      label: {
        type: String
      },
      slug: {
        type: String,
        default: ''
      },
      target: {
        type: String
      },
      disabled: {
        type: Boolean,
        default: false
      },
      theme: {
        type: String,
        default: 'blue',
        validator: value => ['blue', 'orange', 'white-blue', 'white-blue-dark'].indexOf(value) !== -1
      },
      loading: {
        type: Boolean,
        default: false
      }
    },

    computed: {
      classes () {
        return [
          { 'button_disabled': this.disabled || this.loading },
        ]
      },
      tag () {
        if (!this.slug) {
          return 'button'
        } else if (/(http|https)|(tel:)|(mailto:)|(uploads)/.test(this.slug) || this.target === '_blank') {
          return 'a'
        } else {
          return 'nuxt-link'
        }
      }
    },

    methods: {
      isNativeLink (str) {
        if (/(uploads)/.test(str)) {
          let fullUrl = `${process.env.API_URL}${str}`

          if (/(\/\/uploads)/.test(fullUrl)) {
            fullUrl = fullUrl.replace(/(\/\/uploads)/g, '/uploads')
          }

          const _API_PORT = `:${process.env.API_PORT}`

          if (fullUrl.match(_API_PORT)) {
            fullUrl = fullUrl.replace(new RegExp(_API_PORT), '')
          }

          return fullUrl
          // fullUrl.replace(/\/api/g, '')
        }

        return str
      },

      onClick (event) {
        if (this.tag === 'nuxt-link') {
          event.preventDefault()
        }

        if (this.disabled) return

        this.$emit('click')
      }
    }
  }
</script>

<style lang="scss" scoped>
.button {
  position: relative;
  display: inline-block;
  padding: 16px 16px 15px;
  cursor: pointer;
  border-radius: 10px;
  outline: none;

  span {
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;

    @include transition(0.3);
  }

  @include transition(0.3);

  &_disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  &__theme {
    background: $secondary-text-color;
    border: 0;

    span {
      color: $light-color;
    }

    @include hover {
      background-color: rgba($secondary-text-color, 0.4);

      span {
        color: $secondary-text-color;
      }
    }

    /*&--orange {
      background: $c-orange;
      border: 0;

      span {
        color: $c-white;
      }

      @include hover {
        background-color: rgba($c-orange, 0.4);

        span {
          color: $c-blue-dark;
        }
      }
    }

    &--white-blue {
      background: $c-white;
      border: 2px solid $c-blue;

      span {
        color: $c-blue;
      }

      @include hover {
        background-color: $c-blue;

        span {
          color: $c-white;
        }
      }
    }

    &--white-blue-dark {
      background: $c-white;
      border: 1px solid  $c-blue-dark;

      span {
        color: $c-blue-dark;
      }

      @include hover {
        background-color: $c-blue-dark;

        span {
          color: $c-white;
        }
      }
    }*/
  }
}
</style>
