<template>
  <section class="product-description">
    <div class="container">
      <div class="row">
        <div class="col col-md-3 col-lg-6">
          <div class="product-description__image-wrapper">
            <BaseImage :imageDesktop="imageDesktop" :imageMobile="imageMobile" class="bg-image" />
          </div>
        </div>
        <div class="col col-md-3 col-lg-6">
          <BaseTitle v-bind="title" class="h3" />
          <span class="product-description__description content" v-html="description" />
          <p class="product-description__brand">
            <b>{{ brand.label }}:</b> {{ brand.value }}
          </p>
          <p class="product-description__form">
            <b>{{ form.label }}:</b> {{ form.value }}
          </p>

          <div class="product-description__btns">
            <BaseButton
              v-bind="{
                label: linkLabel,
                slug: link,
                target: '_blank'
              }"
              class="product-description__btn"
            />
            <BaseButton
              v-bind="{
                label: instructionLabel,
                slug: instruction,
                target: '_blank',
              }"
              class="product-description__btn"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: 'BlockProductDescription',

    props: ['title', 'description', 'brand', 'form',
            'link', 'linkLabel', 'instructionLabel', 'instruction',
            'imageDesktop', 'imageMobile']
  }
</script>

<style lang="scss" scoped>
.product-description {
  margin-bottom: 30px;

  &__image-wrapper {
    position: relative;
    min-height: 350px;
    overflow: hidden;
    background: #d8d8d8;
    border-radius: 10px;

    @include respUp(md) {
      min-height: 350px;
    }
  }

  .h3 {
    margin: 20px 0;
  }

  &__description {
    display: block;
    margin-bottom: 20px;
  }

  &__form {
    margin-bottom: 30px;
  }

  &__btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__btn {
    min-width: 100%;
    padding: 12px 10px 9px;
    margin-bottom: 15px;
    font-family: $font-main-regular;
    //@include respUp(md) {
    //  min-width: 48%;
    //}
    @include respond-to('xsmall'){
      width: calc (50% - 5px) !important;
      min-width: unset;
    }
  }
}
</style>
