<template>
  <div class="catalog-header">
    <ul class="catalog-tabs" v-if="$route && $route.params && $route.params.catalogue !== 'diagnostika-medicne-obladnanna'">
      <li
        v-for="(item, i) in tabs"
        :key="i"
        @click="changeActive(i)"
      >
        <p :class="{ 'active': item.isActive }">
          {{ item.label }}
        </p>
      </li>
    </ul>

    <form
      novalidate
      class="catalog-search"
      @submit.prevent="onSearch"
    >
      <div class="catalog-search__input-wrapper">
        <BaseTextField
          v-model="searchValue"
          theme="underline"
          :label="searchLabel"
          class="catalog-search__input"
        />
        <button type="submit" class="catalog-search__btn">
          <div v-html="SVGSearch" class="catalog-search__icon" />
        </button>
      </div>
    </form>
  </div>
</template>

<script>
  import SVGSearch from '~/assets/img/vector/search.svg?raw'
  import {mapActions} from "vuex";

  export default {
    name: 'CatalogHeader',
    components: { SVGSearch },
    props: ['tabs', 'searchLabel', 'active', 'changeActive'],
    data () {
      return {
        loading: false,
        searchValue: '',
        SVGSearch
      }
    },

    created () {
      this.searchValue = _get(this, '$route.query.label')
    },

    methods: {
      ...mapActions(['fetchData', 'fetchPageData']),
      onSearch () {
        this.$emit('search', this.searchValue);
      }
    }
  }
</script>

<style lang="scss" scoped>
.catalog-header {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 30px;

  @include respUp(lg) {
    margin-bottom: 50px;
  }
  @include respond-from('medium') {
    flex-wrap: nowrap;
  }
}

.catalog-tabs {
  display: flex;
  border: 1px solid #c7d9ec;
  border-radius: 10px;
  list-style: none;
  flex-shrink: 0;
  max-width: 100%;
  @include respond-to('xsmall'      ) {
    min-width: 100%;
    width: 100%;
    margin-bottom: 20px;
    li {
      width: 50% !important;
    }
  }
  @include respond-from('xsmall') {
    margin-right: 25px;
  }

  @include respOnly(md) {
    width: 48%;
  }

  li {
    @include respDown(md) {
      width: 50%;
    }
  }

  p {
    display: block;
    padding: 10px 40px;
    font-size: 14px;
    color: $dark-text-color;
    text-align: center;
    cursor: pointer;
    background: $light-color;
    border-radius: 10px;
    font-family: $font-main-regular;
    @include respond-to(small) {
      padding: 10px 30px 10px;
    }

    @include transition(0.3);

    @include hover {
      opacity: 0.7;
    }
  }

  .active {
    color: $dark-text-color;
    cursor: default;
    background: $secondary-text-color;

    @include hover {
      opacity: 1;
    }
  }
}

.catalog-search {
  position: relative;
  width: 100%;

  @include respond-from('small') {
    width: 48%;
    margin-left: auto;
  }

  @include respond-from('large') {
    width: 445px;
  }

  &__input-wrapper {
    position: relative;
    width: 100%;
    max-width: 350px;
    margin-left: auto;
    font-family: $font-main-regular;

    @include respond-to('medium'){
      margin-top: 20px;
      max-width: unset;
    }
  }

  &__input {
    color: $dark-text-color !important;
    margin-bottom: 0 !important;

    /deep/ input {
      border-radius: 0;
      padding-right: 30px;
    }
  }

  &__btn {
    position: absolute;
    top: 10px;
    right: 0;
    z-index: 10;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
  }

  &__icon {
    width: 20px;
    height: 20px;
  }
}
/deep/ .form-text-field__label {
  color: $dark-text-color !important;
}
</style>
