<template>
  <transition
    name="fade"
  >
    <span
      v-if="error"
      ref="error"
      class="form-error"
    >
      {{ error }}
    </span>
  </transition>
</template>

<script>
  export default {
    name: 'FormError',

    props: {
      marginBottom: Number,
      error: String
    }
  }
</script>

<style lang="scss" scoped>
.form-error {
  position: relative;
  width: 100%;
  font-size: 12px;
  line-height: 30px;
  color: red !important;
  text-align: left;
  word-wrap: break-word;
  -webkit-text-fill-color: red !important;
}
</style>
