<template>
  <section class="product-description">
    <div class="v-container">
      <div class="row">
        <div class="product-description__col">
          <div class="product-description__image-wrapper">
            <BaseImage
              :imageDesktop="imageDesktop && imageDesktop.src ? imageDesktop : imageMobile "
              :imageMobile="imageMobile && imageMobile.src? imageMobile : imageDesktop"
              :alt="title"
              :title="title"
              class="bg-image"
              :reveal-animation="'slideWhite'"
            />
          </div>
        </div>
        <div class="product-description__col">
          <BaseTitle :title="title" level="1" class="h3" />
          <span class="text text--main product-description__description" v-html="description" />
          <p class="product-description__brand" v-if="brand && brand.value">
            <b>{{ brand.label }}:</b> {{ brand.value }}
          </p>
          <p class="product-description__form" v-if="form && form.value">
            <b>{{ form.label }}:</b> {{ form.value }}
          </p>

          <div class="product-description__btns">
            <BaseButton
              :label="linkLabel"
              :slug="link"
              target='_blank'
              class="product-description__btn btn type2"
              @click.native="checkModal"
            />

            <BaseButton
              v-if="instruction && instructionLabel"
                :label="instructionLabel"
                :slug="instruction"
                target='_blank'
                class="product-description__btn btn"
                download
            />
            <div class="modal" v-if="shownModal">

              <div class="modal__inner pos-relative">
                <div class="h2">{{formData.title}}</div>
                <div class="subtitle">{{formData.subTitle}}</div>
                <div class="modal__close pos-absolute " @click="shownModal = false" v-html="close"></div>

                <MyForm v-if="formData" @close="shownModal = false" :info="{form: formData} "/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import BaseButton from "@/components/common/base/BaseButton";
  import BaseImage from "@/components/common/base/BaseImage";
  import BaseTitle from "@/components/common/base/BaseTitle";
  import MyForm from "@/components/form/Form";
  import close from '~/assets/svg/close.svg?raw'
  import translation from 'static/lang'
  import {mapGetters} from "vuex";
  export default {
    name: 'BlockProductDescription',
    components:{
      MyForm,
        BaseTitle,
        BaseImage,
        BaseButton,
    },
    data(){
      return {
        close,
        shownModal: false,
        translation
      }
    },
    computed: {
      ...mapGetters(['getLang']),
    },
    props: ['title', 'description', 'brand', 'form',
            'link', 'linkLabel', 'instructionLabel', 'instruction',
            'imageDesktop', 'imageMobile', 'formData'],
    methods: {
      checkModal(){
        if (!this.link) {
          this.shownModal = true;
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
.product-description {
  margin-bottom: 30px;
  &__col {
    width: 100%;
    margin-bottom: 20px;
    @include respond-from('small'){
     width: 48%;
    }
  }
  .row {
    @include respond-from('small'){
      display: flex;
      justify-content: space-between;
    }
  }
  &__image-wrapper {
    position: relative;
    min-height: 350px;
    overflow: hidden;
    background: #d8d8d8;
    border-radius: 10px;
  }

  .h3 {
    margin: 20px 0;
  }

  &__description {
    display: block;
    margin-bottom: 20px;
  }

  &__brand {
    font-family: $font-main-regular;
  }
  &__form {
    font-family: $font-main-regular;
    margin-bottom: 30px;
  }

  &__btns {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include respond-to('xsmall'){
      flex-wrap: nowrap;
    }
  }

  &__btn {
    min-width: 100% !important;
    padding: 12px 10px 9px;
    margin-bottom: 15px;
    flex-grow: 0;
    flex-shrink: 0;
    @include respond-to('xsmall'){
      width: calc(50% - 5px) !important;
      min-width: unset !important;
      font-size: 13px !important;
    }
    @include respond-from('large') {
      min-width: 48% !important;
      width: 48% !important;
    }
  }

  .modal {
    position: fixed;
    background: $background;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    &__close {
      top: 10px;
      right: 10px;
      height: 14px;
      width: 14px;
    }

    &__inner {
      box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
      background: $light-color;
      width: 570px;
      max-width: calc(100% - 20px);
      min-height: 573px;
      border-radius: $border-radius;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px;
      box-sizing: border-box;
      @include respond-to('xsmall'){
        padding: 10px;
        box-sizing: border-box;
      }
      .h2 {
        @include respond-to('large') {
          margin-top: 24px;
        }
      }
      .subtitle {
        font-size: 16px;
        line-height: 45px;
        margin-bottom: 20px;
      }
    }

    &__caption {
      font-family: $font-secondary-bold;
      font-size: 24px;
      line-height: 48px;
      color: $main-text-color;

      &.small {
        font-size: 16px;
        line-height: 45px;
        color: #323232;
      }
    }

    &__button {
      background: $secondary-text-color;
      color: $light-color;
      margin-top: 40px;
    }
  }

  }
</style>
