<template>
  <section class="product-tabs" v-if="tabs && tabs[0]" :class="{'catalogue': tabs[0].slug}">
    <Swiper
      class="product-tabs__list"
      :options="{
        slidesPerView: 'auto',
      }"
    >
      <SwiperSlide
        v-for="(item, i) in tabsWithActiveTabOnFirstPosition"
        :key="i"
        class="product-tabs__item-wrapper"
      >
        <button
          class="product-tabs__item"
          :style="i === 0 ? activeStyle : commonStyle"
          :class="{ 'active': i === 0 }"
          @click="setActive(item, i)"
        >
          {{ captionFinal(item.title) }}
        </button>
      </SwiperSlide>
    </Swiper>
    <ul
      class="product-tabs-ul"
      :style="commonStyle"
    >
      <li
        v-for="(item, i) in tabs"
        :key="i"
      >
        <button
          class="tab-button"
          :style="i === active ? activeStyle : commonStyle"
          :class="{ 'active': i === active }"
          @click="setActive(item, i)"
        >
          {{ captionFinal(item.title) }}
        </button>
      </li>
    </ul>
    <div class="product-tabs__content text" v-if=" activeContent">
      <div class="inside" v-html="activeContent"/>
    </div>
  </section>
</template>

<script>
  import {mapActions, mapGetters} from "vuex";
  import {Swiper, SwiperSlide} from 'vue-awesome-swiper'

  export default {
    name: 'BlockProductTabs',
    components: {
      Swiper,
      SwiperSlide,
    },
    props: {
      tabs: {
        type: Array,
        default: () => []
      },
      bg: {
        type: String,
        default: ''
      },
      activeBg: {
        type: String,
        default: ''
      },
      color: {
        type: String,
        default: ''
      },
      activeColor: {
        type: String,
        default: ''
      }
    },

    data() {
      return {
        active: -1
      }
    },
    created() {
      if (this.tabs && this.tabs[0] && this.tabs[0].link) {
        this.active = this.tabs.findIndex(el => {
          return el.link.match(this.$route.params.catalogue)
        })
      } else {
        this.active = 0
      }
    },
    computed: {
      ...mapGetters(['getLang', 'getNamedPage' , 'getLoading']),
      getPage(){
        return this.getNamedPage && this.getNamedPage('recept-category-one')
      },
      activeContent() {
        return this.tabs && this.tabs[this.active] && this.tabs[this.active].content
      },
      activeStyle() {
        return {
          border: this.activeBg ? this.activeBg : '#E3AF06',
          background: this.activeBg ? this.activeBg : '#E3AF06',
          color: this.activeColor ? this.activeColor : '#000',
          fontFamily: this.$route.name === 'products-catalogue-id' ? 'OpenSans-Bold, sans-serif' : 'OpenSans-Regular, sans-serif'
        }
      },
      commonStyle() {
        return {
          border: this.bg ? this.bg : '#d5d5d5',
          background: this.bg ? this.bg : '#fff',
          color: this.color ? this.color : '#000'
        }
      },
      tabsWithActiveTabOnFirstPosition() {
        const activeTab = this.tabs[this.active]
        const uniqueTabs = new Set([activeTab, ...this.tabs]);

        return Array.from(uniqueTabs)
      }
    },
    methods: {
      ...mapActions(['fetchData', 'fetchPageData']),
      captionFinal(el) {
        return el && el.toLowerCase().charAt(0).toUpperCase() + el.toLowerCase().slice(1)
      },
      async setActive(item, i) {
        this.active = i;
        if (item.link && item.link.match('category')) {
          this.$router.push(this.localeRoute({
            name: 'products-catalogue',
            params: {catalogue: item.link.split('/')[item.link.split('/').length - 1] }
          }))
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  $tablet-width: 800px;

  .product-tabs {
    font-family: $font-main-regular;
    margin-bottom: 10px;
    margin-top: 15px;

    @include respond-from('small') {
      margin-bottom: 20px;
      margin-top: 30px;
    }

    @media (min-width: $tablet-width) {
      margin-bottom: 36px;
    }

    &__list {
      background: $secondary-text-color;
      margin-right: -15px;
      margin-left: -15px;
      padding: 2px 10px;

      @include respond-from('small') {
        margin-left: -40px;
        margin-right: -40px;
      }

      @media (min-width: $tablet-width) {
        display: none;
      }
    }

    &__item-wrapper {
      width: auto;
    }

    &__item {
      color: $dark-text-color;
      border: 1px solid #d5d5d5;
      border-radius: 10px;
      padding: 10px 25px;
      text-align: center;
    }

    &.catalogue {
      .product-tabs-ul,
      .product-tabs-ul button {
        background: #f5f5f5;
        color: $dark-text-color;
        border: 1px solid #d5d5d5;

        &.active {
          background: $secondary-text-color;
          border: 1px solid $secondary-text-color;
        }
      }
    }

    .product-tabs-ul {
      @media (max-width: $tablet-width) {
        display: none;
      }
    }

    &__content {
      padding: 13px 13px 20px 13px;
      //overflow: hidden;
      border: 2px solid #f0f0f0;
      border-radius: $border-radius;
      background: #fff;
      margin-bottom: 50px;
      //@extend .text;
      color: $dark-text-color;

      @include respond-from('xsmall') {
        padding: 30px 26px 30px 19px;
        margin-bottom: 30px;
      }

      @include respond-from('large') {
        padding: 30px 28px 23px 35px;
        border: 2px solid #f9f9f9;
        margin-bottom: 80px;
      }

      /deep/ li {
        display: block;
        font-family: $font-main-regular;
      }

      .inside {
        @include respond-to('small') {
          word-break: break-word;
        }
        overflow: auto;
      }
    }
  }

  .product-tabs-ul {
    margin-bottom: 20px;
    overflow: hidden;
    background: #eaeff3;
    border-radius: 10px;
    list-style: none;

    @include respond-to('xsmall') {
      min-width: 100%;
      margin-bottom: 20px;
    }

    @media (min-width: $tablet-width) {
      display: flex;
      justify-content: space-between;
    }

    li {
      font-family: $font-main-regular;
      flex-grow: 1;
      flex-shrink: 1;
      display: block;
      max-width: 140px;

      @media (max-width: $tablet-width) {
        width: 100%;
        max-width: none;
      }
    }

    .tab-button {
      display: block;
      min-height: 100%;
      padding: 7px 13px !important;
      font-size: 16px;
      color: $dark-text-color;
      text-align: center;
      cursor: pointer;
      width: 100%;
      border-radius: 10px;

      @include respond-to('large') {
        font-size: 12px !important;
      }

      @include respond-to('small') {
        width: 100%;
      }

      @include respond-to('xsmall') {
        padding: 14px 4px 13px;
      }
      @media (max-width: $tablet-width) {
        width: 100%;
      }

      transition: all .3s ease-in-out;

      &:hover {
        opacity: 0.7;
      }
    }

    .active {
      color: $dark-text-color;
      cursor: default;
      background: $secondary-text-color;
      //font-family: $font-main-bold;
      &:hover {
        opacity: 1;
      }
    }
  }
</style>
