<template>
  <IntersectionObserver
    @inView="animateText"
    once
    class="h-100"
  >
    <div class="product-box">
        <nuxt-link
          :to="localeRoute({
            name: 'products-product-id',
            params: {catalogue: $route.params.catalogue, id: link.slug.split('/').pop() }
          })"
          class="product-box__link"
        />
        <div class="product-box__image-wrapper">
          <div ref="overlay" class="product-box__animation-bg"></div>
          <BaseImage
            ref="image"
            :imageDesktop="imageDesktop"
            :imageMobile="imageMobile && imageMobile.src? imageMobile : imageDesktop"
          />
        </div>
        <div class="product-box__content">
          <div>
            <h4 v-if="label" ref="title" class="animation-element">{{ label }}</h4>
            <p ref="details" v-if="form && form.label" class="product-box__form animation-element">{{form.label}}:  {{form.value}}</p>
            <p ref="description" class="text product-box__description animation-element" v-html="description" />
          </div>

          <p ref="footer" class="product-box__footer animation-element">
            <BaseLink :link="{ name: 'products-product-id', params: {catalogue: $route.params.catalogue, id: link.slug.split('/')[2]}}"
                      :label="translation[getLang]['more']"
                      target="_blank"
                      class="product-box__link2" />
          </p>
        </div>
    </div>
  </IntersectionObserver>
</template>

<script>
  import {mapGetters} from "vuex";
  import translation from 'static/lang';
  import IntersectionObserver from "@/components/common/IntersectionObserver";

  export default {
    name: 'ProductBox',
    components: { IntersectionObserver },
    props: ['imageDesktop', 'imageMobile', 'label', 'description', 'link', 'form'],
    data(){
      return {
        translation
      }
    },
    computed:{
      ...mapGetters(['getLang']),
      animationItems() {
        const { title, details, description, footer } = this.$refs;
        return [title, details, description, footer].filter(el => !!el)
      },
      imageRef() {
        return this.$refs.image.$el
      }
    },
    methods: {
      animateText() {
        const { overlay } = this.$refs
        const tl = gsap.timeline()

        tl
          .to(overlay, { scaleX: 0, duration: 0.8, stagger: 0.2, delay: 0.6, ease: 'power2.out' })
          .to(this.imageRef, { x: 0, duration: 0.8, ease: 'power2.out' }, '-=0.8')
          .to(this.animationItems, { y: 0, opacity: 1, duration: 0.6, stagger: 0.2 }, '-=0.5')
      }
    },
    mounted() {
      if(this.animationItems && this.imageRef) {
        gsap.set(this.animationItems, {y: 50})
        gsap.set(this.imageRef, {x: 30})
      }
    }
  }
</script>

<style lang="scss" scoped>
.animation-element {
  opacity: 0;
}

.product-box {
  position: relative;
  align-self: stretch;
  border: 1px solid #ECEAEA;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
  flex: 1 1 100%;
  max-height: 100%;
  color: $dark-text-color;

  ::v-deep .lazy-image {
    border-radius: 0;
  }

  @include transition(0.5);

  @include respUp(md) {
    padding: 0 0 30px;
  }
  &:hover {
    box-shadow: 0px 10px 30px rgba(78, 96, 136, 0.2);
  }
  &__main {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
    @include transition(0.5);
  }

  &__link2 {
    color: #979797;
    font-family: $font-main-regular;
    transition: color 0.4s;
    font-size: 13px;

    @include respond-from('xsmall') {
      font-size: 14px;
    }
  }

  @include hover {
    .product-box {
      &__main {
        box-shadow: 0 10px 30px rgba(78, 96, 136, 0.2);
      }

      &__link2 {
        color: $secondary-text-color;
        font-family: $font-main-regular;
      }
    }
  }

  &__link {
    @include fully();
    z-index: 5;
  }

  &__image-wrapper {
    position: relative;
    padding-top: 77.43%;
    width: 100%;
    flex-shrink: 0;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    overflow: hidden;
  }

  &__animation-bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #ebeaea;
    z-index: 1;
    transform-origin: 0 0;
  }

  h4 {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 1.5;
    text-transform: uppercase;
    font-weight: bold;
    font-family: $font-main-bold;
    color: $secondary-text-color;

    @include respond-from('xsmall') {
      font-size: 16px;
    }
  }

  &__description {
    margin-bottom: 20px;
    font-size: 13px;

    @include respond-from('xsmall') {
      font-size: 14px;
    }
  }

  &__form {
    margin-bottom: 10px;
    font-size: 12px;
  }

  &__content {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 15px 16px;

    @include respond-from('xsmall') {
      padding: 23px 29px 17px;
    }
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    padding-top: 14px;
    font-size: 12px;
    color: #a8a8a8;
    border-top: 1px solid #eceaea;
  }
}
</style>
