<template>
  <div class="product" v-if="content && getPage.id === 'product-one'">
    <template v-if="content">
      <BlockProductDescription
        :title="content.title"
        :description="content.description"
        :imageMobile="content.imageMobile"
        :image-desktop="content.imageDesktop"
        :tabs="content.tabs"
        :brand="content.brand"
        :form="content.form"
        :instruction-label="translation[getLang]['instruction']"
        :instruction="instruction"
        :link-label="content.linkLabel"
        :link="content.link"
        :form-data="formData"
      />
      <div class="container" v-if="content.tabs && content.tabs.length">
        <ProductTabs
          :items="content.tabs"
          :active-index="activeTabIndex"
          @tabClick="tabClickHandler"
        />
        <CmsContent :html="tabDescription" class="tab-description"/>
      </div>
    </template>
    <div v-else class="container">
      <div class="product__not-fount text text--main">
        {{translation[getLang]['not-found']}}
      </div>
    </div>
  </div>
</template>
<script>
import LazyImg from "@/components/common/LazyImg/LazyImg";
import {mapActions, mapGetters} from "vuex";
import translation from 'static/lang';
import BaseImage from "@/components/common/base/BaseImage";
import BlockProductDescription from "@/components/product/BlockProductDescription";
import ProductTabs from "@/components/product/product-tabs/index";
import CmsContent from '@/components/common/CmsContent'

export default {
  name: 'product',
  // transition: "page",
  components: {
    ProductTabs,
    BlockProductDescription,
    BaseImage,
    LazyImg,
    CmsContent
  },
  data(){
    return {
      translation,
      activeTabIndex: 0
    }
  },
  computed: {
    ...mapGetters(['getLang', 'getNamedPage' , 'getLoading']),
    getPage(){
      return this.getNamedPage && this.getNamedPage('product-one')
    },
    tabDescription() {
      return this.content.tabs && this.content.tabs[this.activeTabIndex] && this.content.tabs[this.activeTabIndex].content
    },
    content(){
      return this.getPage && this.getPage.blocks &&
        this.getPage.blocks && this.getPage.blocks[0] && this.getPage.blocks[0].attributes
    },

    instruction(){
      return this.content && this.content.instruction
    },
    formData () {
      return this.content && this.content.formCallback
    }
  },
  watch:{
    getLang: function (){
      this.loadPage()
    }
  },
  methods: {
    ...mapActions(['fetchData', 'fetchPageData']),
    tabClickHandler(index) {
      this.activeTabIndex = index
    },
    async loadPage(){
      try {
        let lang = this.$i18n.locale;
        await this.fetchData({url: 'global/data',lang});
        await this.fetchPageData({url: '/product/'+ this.$route.params.id,  lang});
      } catch (error) {
        this.$router.replace(this.localeRoute({ name: 'error' }))
      }
    },
  },
  async fetch ({ store, redirect, params }) {
    try {
      let lang = params === 'uk' ? 'ua' : params;
      await store.dispatch('fetchData', {url: 'global/data',lang});
      let url = '/product/' + params.id;
      await store.dispatch('fetchPageData', {url: url,  lang});
    } catch (error) {
      redirect(this.localeRoute({ name: 'error' }))
    }
  }
}
</script>

<style lang="scss" scoped>
.bg {
  background: #f9f9f9;

  @include respond-from('large'){
    background: #FDFDFD;
  }
}

.product {
  padding-bottom: 30px;

  @include respond-from('xsmall'){
    padding-bottom: 60px;
  }

  a, /deep/ a {
    text-decoration: none;
  }

  &__content {
    padding: 30px 0 90px 0;
    flex-grow: 1;
  }

  &__img {
    width: 100%;
    min-height: 208px;
    position: relative;

    @include respond-from('xsmall') {
      min-height: 435px;
    }

    @include respond-from('xsmall') {
      min-height: 435px;
    }

    @include respond-from('large') {
       min-height: 490px;
    }
  }

  &__meta {
    padding: 10px 0;
    border-bottom: 1px solid $border-color;
    margin-bottom: 15px;
  }

  &__container {
    @include respond-from('medium'){
      display: flex;
      justify-content: space-between;
    }
  }
}

.aside {
  @include respond-from('medium'){
    margin: 30px 0 0 30px;
    flex: 0 0 350px;
  }

  &__link {
    @media (min-width: 400px )and (max-width: 992px){
      width: 210px;
      flex-grow: 0;
      margin: 30px auto 0 auto;
      text-decoration: none;
    }
  }

  &__title {
    padding: 13px;
    color: $dark-text-color;
    background: $secondary-text-color;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 20px;
  }
}

.news {
  text-decoration: none;
  margin-bottom: 22px;
  border-bottom: 1px solid $border-color;
  padding-bottom: 10px;

  &__container {
    flex-grow: 1;
  }

  &__title {
    font-family: $font-secondary-bold;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    color:$dark-text-color;
    @include respond-from('xsmall'){
      font-size: 16px;
    }
  }

  &__meta {
    font-size: 12px;
    margin-left: auto;
    font-family: $font-main-regular;
    text-align: right;
    margin-top: 10px;
  }

  img, &__fake-img{
    flex: 0 0 96px;
    margin-right: 23px;
  }
}

.tab-description {
  padding: 13px;
  border: 2px solid #f9f9f9;
  border-radius: $border-radius;
  background: #fff;
  color: $dark-text-color;
  margin-top: 20px;

  @include respond-from('xsmall') {
    padding: 30px 20px;
  }

  @include respond-from('large') {
    margin-top: 10px;
    padding: 30px 35px;
  }
}
</style>
