<template>
  <fieldset v-if="field" >
    <div class="label text text--main pos-relative" >{{`${field.label}${field.required ? ' *' : ''}`}}
      <div v-if="!isValid" class="input__error  error pos-absolute">
        {{ translation[this.getLang].wrong }}
      </div>
    </div>
    <SideEffectCheckbox
      v-for="el in field.items"
      :key="field.name + el.id"
      :id="el.id"
      :label="el.value"
      v-model="dataField"
    />
  </fieldset>
</template>

<script>
import SideEffectCheckbox from "@/components/common/inputs/side-effect-form/SideEffectCheckbox";
import {mapGetters} from "vuex";
import translation from 'static/lang'

export default {
  name: 'SideEffectCheckboxGroup',
  data() {
    return {
      isValid: true,
      dataField: [],
      isFirst: true,
      translation
    }
  },
  props: {
    field: {
      type: Object,
      default: () => {}
    }
  },
  watch: {
    'dataField.length': {
      handler: function () {

        this.$emit('input', this.dataField)
        if(!this.isFirst) {
          if (!(this.dataField && this.dataField.length)) {
            this.isValid = false
          } else {
            this.isValid = true
          }
        }
        this.isFirst = false
      }
    },
    // 'value.length': {
    //   handler: function () {
    //     this.isValid = true;
    //     this.dataField = this.value
    //   }
    // }
  },
  components: {
    SideEffectCheckbox
  },
  computed: {
    ...mapGetters(['getLang'])
  },
  methods: {
   validate(){
     this.isValid = this.field.required ? !!this.dataField && !!this.dataField.length : true;
     return this.isValid
    },
    async clear(){
      await this.$nextTick()
      this.dataField = [];
      this.$emit('input', this.dataField)
      this.isValid = true
      this.isFirst = true
    }
  }
}
</script>
<style lang="scss" scoped>
fieldset{
  border: none;
  -webkit-appearance: none;
}
.label {
  margin-bottom: 10px;
}
</style>
