<template>
  <section v-animate
           class="side-effect-section"
  >
    <h4 class="side-effect-section__title" v-if="title">{{ title }}</h4>
    <div class="separator" v-if="title"></div>
    <slot></slot>
  </section>
</template>

<script>
export default {
  name: 'SideEffectSection',
  props:{
    title: {
      type: String,
      default: ''
    }
  }
}
</script>

<style lang="scss" scoped>
.side-effect-section {
  &__title {
    font-size: 16px;
    line-height: 1.2;
    font-family: $font-secondary-bold;
    font-weight: 700;
    margin-bottom: 10px;
  }

}
.separator {
  margin-top: 15px !important;
  margin-bottom: 30px;
}
</style>
