<template>
  <div class="input">
    <div class="input__title">
      {{ finalLabel }}
    </div>
    <input
      class="input__input text"
      :type="type"
      v-on="getListeners()"
      v-bind="$attrs"
      :value="value"
      v-mask="mask"
    />
    <div class="input__meta text text--meta" v-if="meta">
      {{meta}}
    </div>
    <div v-if="!isValid" class="input__error  error pos-absolute">
      {{ message }}
    </div>
  </div>
</template>

<script>
import VueMask from 'v-mask'
import Vue from 'vue'
Vue.use(VueMask)
export default {
  name: 'SideEffectInput',
  data: () => ({
    isValid: true,
    firstInput: true
  }),
  props: {
    title: {
      type: String,
      default: ''
    },
    meta: {
      type: String,
      default: ''
    },
    type: {
      type: String,
      default: 'text'
    },
    mask: {
      type: String,
      default: ''
    },
    message: {
      type: String,
      default: ''
    },
    value: {
      type: String,
      default: ''
    },
    required: {
      type: Boolean,
      default: false
    },
    rules: {
      type: Array,
      default: () => []
    }
  },
  watch: {
    value(value) {
      if(!this.firstInput) this.validate()
    }
  },
  computed: {
    finalLabel(){
      return this.title && `${this.title} ${this.required? '*': ''}`
    }
  },
  methods: {
    getListeners(){
      return {
        ...this.$listeners,
        input: (event) => {
          const { value } = event.target

          this.$emit('input', value)
        },
        blur: () => {
          this.enableValidationAfterFirstInput()
        }
      }
    },
   validate() {
      // await this.$nextTick()
      this.firstInput = false
      if(!this.rules.length) {
        this.isValid = true
        return true
      }

      this.isValid = this.rules.every(rule => {
        if(!this.required && !this.value) {
          return true
        }
         return rule(this.value)
      })
      return this.isValid
    },
    enableValidationAfterFirstInput() {
      if(this.firstInput)
        this.validate()
    },
    async clear() {
      await this.$nextTick()
      this.$emit('input', '')
      this.firstInput = true
      this.isValid = true
    }
  }
}
</script>

<style lang="scss" scoped>
.input {
  width: 100%;
  position: relative;
  padding-bottom: 20px;
  @include respond-from('special'){
    width: 48%;
    max-width: 350px;
  }
  &__input {
    border-radius: $border-radius;
    border: 2px solid #D5D5D5;
    font-size: 12px;
    padding: 13px 18px;
    width: 100%;
    background: transparent;
    box-sizing: border-box;
    resize: none;
    min-height: 54px;
    display: block;
    color: $main-text-color;
    box-shadow: none;
    -webkit-appearance: none;
    &::placeholder {
      color: $main-text-color;
    }

    @include respond-from('xsmall'){
      font-size: 14px !important;
    }
  }
  &__title {
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 10px;
    color: #000;
    font-family: $font-main-regular;
    @include respond-from('small'){
      font-size: 16px;
    }
  }

    &__meta {
      font-size: 12px;
      line-height: 1.5;
    }

    &__error {
      bottom: 0;
      left: 0;
      font-family: inherit;
    }

}
</style>
