<template>
  <div class="input">
    <textarea
      class="input__input text"
      type="text"
      :placeholder="`${placeholder}${required ? ' *' : '' }`"
      v-on="getListeners()"
      v-bind="$attrs"
      :value="value"
    />
    <div class="input__meta text text--meta" v-if="meta">
      {{meta}}
    </div>
    <div v-if="!isValid" class="input__error error pos-absolute">
      {{ message }}
    </div>
  </div>
</template>

<script>
export default {
  name: 'SideEffectTextarea',
  data: () => ({
    isValid: true,
    firstInput: true
  }),
  props: {
    title: {
      type: String,
      default: ''
    },
    meta: {
      type: String,
      default: ''
    },
    message: {
      type: String,
      default: ''
    },
    placeholder: {
      type: String,
      default: ''
    },
    value: {
      type: String,
      default: ''
    },
    rules: {
      type: Array,
      default: () => []
    },
    required: {
      type: Boolean,
      default: false
    }
  },
  watch: {
    value(value) {
      if(!this.firstInput) this.validate()
    }
  },
  methods: {
    getListeners(){
      return {
        ...this.$listeners,
        input: (event) => {
          const { value } = event.target

          this.$emit('input', value)
        },
        blur: () => {
          this.enableValidationAfterFirstInput()
        }
      }
    },
   validate() {
      // await this.$nextTick()
      this.firstInput = false
      if(!this.rules.length) {
        this.isValid = true
        return true
      }
      this.isValid = this.rules.every(rule => rule(this.value))
      return this.isValid
    },
    enableValidationAfterFirstInput() {
      if(this.firstInput)
        this.validate()
    },
    async clear() {
      await this.$nextTick()
      this.$emit('input', '')
      this.firstInput = true
    }
  }
}
</script>

<style lang="scss" scoped>
.input {
  width: 100%;

  position: relative;
  padding-bottom: 20px;
  user-select: none;
  &__input {
    min-height: 120px;
    border-radius: $border-radius;
    border: 2px solid #D5D5D5;
    font-size: 12px;
    padding: 13px 18px;
    width: 100%;
    background: transparent;
    box-sizing: border-box;
    resize: none;
    display: block;
    color: $main-text-color;
    box-shadow: none;
    -webkit-appearance: none;
    &::placeholder {
      color: $main-text-color;
    }

    @include respond-from('xsmall'){
      font-size: 14px !important;
    }
  }
    &__meta {
      font-size: 12px;
      line-height: 1.5;
    }

    &__error {
      bottom: 0;
      left: 0;
      font-family: inherit;
    }
}
</style>
