<template>
  <label :for="$attrs.id" class="input d-flex a-center text text--main pos-relative" @click.prevent="change" >
    <div class="input__check" :class="{checked: value.find(el => el === id)}"></div>
    <input
      ref="input"
      class="input__input"
      type="checkbox"
      :id="$attrs.id"
      :checked="value.find(el => el === id)"
    />
    {{ captionFinal(label) }}
    </label>
</template>

<script>
export default {
  name: 'SideEffectCheckbox',
  data: () => ({
    isValid: true,
    firstInput: true
  }),
  props: {
    label: {
      type: String,
      default: ''
    },
    meta: {
      type: String,
      default: ''
    },
    message: {
      type: String,
      default: ''
    },
    id: {
      type: String | Number,
      default: ''
    },
    rules: {
      type: Array,
      default: () => []
    },
    value: {
      type: Array,
      default: () => []
    }
  },
  methods: {
    change () {
      if (!this.value.find(el => el === this.id)) {
        this.$emit('input', [...this.value, this.id])
      } else {
        this.$emit('input', this.value.filter(el => el !== this.id))
      }
    },
    captionFinal(val){
      return val.toLowerCase().charAt(0).toUpperCase() + val.toLowerCase().slice(1)
    },
    getListeners(){
      return {
        ...this.$listeners,

        blur: () => {
          this.enableValidationAfterFirstInput()
        }
      }
    },
    async validate() {
      await this.$nextTick()
      this.firstInput = false
      if(!this.rules.length) {
        this.isValid = true
        return true
      }

      this.isValid = this.rules.every(rule => rule(this.value))
      return this.isValid
    },
    enableValidationAfterFirstInput() {
      if(this.firstInput)
        this.validate()
    },
    async clear() {
      await this.$nextTick()
      this.$emit('input', '')
      this.firstInput = true
    }
  }
}
</script>

<style lang="scss" scoped>
.input {
  width: 100%;
  position: relative;
  margin-bottom: 18px;
  user-select: none;
  &:last-of-type {
    margin-bottom: 30px;
  }
  @include respond-to('xsmall'){
    font-size: 14px;
  }
  &__check{
    height: 18px;
    width: 18px;
    display: inline-block;
    border: 2px solid #607D8B;
    border-radius: 3px;
    box-sizing: border-box;
    margin-right: 20px;
  }
  &__check.checked {
    border: none;
    position: relative;
    &::before {
      content: url("~assets/img/vector/On.svg");
      position: absolute;
      top: 0;
      left: 0;
      outline: none;
    }
  }
  &__input[type="checkbox"] {
    display: none;
  }
  &__title {
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 10px;
    color: #000;
    font-family: $font-main-regular;
    @include respond-from('small'){
      font-size: 16px;
    }
  }

  &__meta {
    font-size: 12px;
    line-height: 1.5;
  }

  &__error {
    bottom: 0;
    left: 0;
    font-family: inherit;
  }

}
</style>
