<template>
  <label :for="value"
         class="input d-flex a-center text text--main pos-relative"
  @click="handlerChange"
  >
    <span class="radio"
      :class="{'checked': checked === value}"></span>
    <input
      :id="value"
      class="input__input"
      type="radio"
      :checked="checked"
      :name="name"
      @change="handlerChange"
    />
    {{ captionFinal(label) }}
  </label>
</template>

<script>
export default {
  name: 'SideEffectRadio',
  data: () => ({
    isValid: true,
    firstInput: true
  }),
  props: {
    label: {
      type: String,
      default: ''
    },
    value: {
      type: String | Number,
      default: ''
    },
    name: {
      type: String,
      default: ''
    },
    checked: {
      type: String | Number,
      default: ''
    },
    rules: {
      type: Array,
      default: () => []
    }
  },
  model: {
    prop: 'checked',
    event: 'change'
  },
  watch: {
    value(value) {
      if (!this.firstInput) this.validate()
    }
  },
  methods: {
    handlerChange(e) {
        this.$emit('change', this.value)
    },
    captionFinal(val){
      return val.toLowerCase().charAt(0).toUpperCase() + val.toLowerCase().slice(1)
    },
    getListeners() {
      return {
        ...this.$listeners,

        blur: () => {
          this.enableValidationAfterFirstInput()
        }
      }
    },
    validate() {
      // await this.$nextTick()
      this.firstInput = false
      if (!this.rules.length) {
        this.isValid = true
        return true
      }

      this.isValid = this.rules.every(rule => rule(this.value))
      return this.isValid
    },
    enableValidationAfterFirstInput() {
      if (this.firstInput)
        this.validate()
    },
    async clear() {
      await this.$nextTick()
      this.$emit('input', '')
      this.firstInput = true
    }
  }
}
</script>

<style lang="scss" scoped>
.input {
  position: relative;
  margin-bottom: 18px;
  user-select: none;
  flex-grow: 0;
  margin-right: 35px;
  @include respond-to('xsmall') {
    font-size: 14px;
  }
  &__input[type="radio"]{
    display: none;
  }
  .radio {
    width: 18px;
    height: 18px;
    border: 1px solid #D5D5D5;
    box-sizing: border-box;
    position: relative;
    border-radius: 50%;
    margin-right: 18px;

    &.checked:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
     transform: translate(-50%, -50%);
      height: 8px;
      width: 8px;
      border-radius: 50%;
      background: $secondary-text-color;
    }
  }

  &__title {
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 10px;
    color: #000;
    font-family: $font-main-regular;
    @include respond-from('small') {
      font-size: 16px;
    }
  }

  &__meta {
    font-size: 12px;
    line-height: 1.5;
  }

  &__error {
    bottom: 0;
    left: 0;
    font-family: inherit;
  }

}
</style>
