<template>
<intersection-observer @intersect-enter="onUpdateWidth" :threshold="[0, 0.1, 1]">
  <img :src="imgSrc" :alt="alt" :class="imgClass">
</intersection-observer>
</template>

<script>
    import IntersectionObserver from "@/components/common/intersection-observer/IntersectionObserver";
    import resizeMixin from "@/mixins/resizeMixin";
    export default {
        components: {IntersectionObserver},
        mixins:[resizeMixin],
        props: {
            imgMobile: {
                type: String,
                default: ''
            },
            imgDesktop: {
                type: String,
                default: ''
            },
            alt: {
                type: String,
                default: ''
            },
            imgStyle: {
                type: String,
                default: ''
            }
        },
        data(){
            return {
                imgSrc: null
            }
        },
        computed: {
            imgClass(){
                return this.imgStyle?this.imgStyle :`lazy-img`
            }
        },
        mounted(){

        },
        methods: {
            onUpdateWidth(){
                this.imgSrc = this.width >= 768 ? this.imgDesktop : this.imgMobile
            }
        }
    }
</script>

<style lang="scss" scoped>
.lazy-img {
  /*min-width: 100%;*/
  /*min-height: 100%;*/
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}
</style>
