<template>
  <v-lazy-image
    :src-placeholder="props.srcPlaceholder"
    :srcset="imgMobile+' 100%, '+imgDesktop+ ' 100%'"
    sizes="(max-width: 320px) 280px, 440px"
    :src="imgMobile"
    :alt="alt"
  ></v-lazy-image>
</template>

<script>
    // import IntersectionObserver from "@/components/common/intersection-observer/IntersectionObserver";
    import resizeMixin from "@/mixins/resizeMixin";
    export default {
        // components: {IntersectionObserver},
        mixins:[resizeMixin],
        props: {
            imgMobile: {
                type: String,
                default: ''
            },
            imgDesktop: {
                type: String,
                default: ''
            },
            alt: {
                type: String,
                default: ''
            },
            imgStyle: {
                type: String,
                default: ''
            }
        },
        data(){
            return {
                imgSrc: null
            }
        },
        computed: {
            imgClass(){
                return this.imgStyle?this.imgStyle :`lazy-img`
            }
        },
        mounted(){

        },
        methods: {
            onUpdateWidth(){
                this.imgSrc = this.width >= 768 ? this.imgDesktop : this.imgMobile
            }
        }
    }
</script>


  <style lang="scss" scoped>
  .v-lazy-image {
    opacity: 0;
    transform: translate3d(0, 50%, 0);
    transition: opacity 0.5s, transform 0.5s;
  }
  .v-lazy-image-loaded {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  </style>
