
@import "./variables/breakpoints";
@import "./variables/colors";
@import "./mixins/index";
@import "./variables/fonts";

body {
  font-family: $font-main-regular;;
}


.page-enter-active, .page-leave-active {
  transition: opacity 0.6s;
}
.page-enter, .page-leave-active {
  opacity: 0;
}
html,body, ._nuxt, ._layout, .page { height:100%;}

.container {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  overflow-x: visible;
  @include respond-from('small')  {
    padding: 20px 40px;
  }
  @include respond-from('large') {
    padding: 20px 0 0 0;
    max-width: 1110px;
    margin:  0 auto;
  }
}

.v-container {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;

  @include respond-from('small')  {
    padding: 0 40px;
  }

  @include respond-from('large') {
    padding: 0;
  }
}
* {
  margin: 0;
  padding: 0;
  outline: none;
}

.separator {
 height: 4px;
  width: 65px;
  background-color: #E3AF06;
  margin: 15px 0;
  @include respond-from('large') {
    margin: 30px 0;
  }
}
main {
  flex-grow: 1;
  padding-top: 15px;
}
.text {
  font-family: $font-main-regular;
  font-size: 13px;
  line-height: 24px;
  @media (min-width: 768px) {
    font-size: 16px;
  }
  &--main {
    color: $main-text-color;
  }
  &--light {
    color: $light-color !important;
  }
  &--secondary {
    color: $secondary-text-color !important;
  }
  &--meta {
    color: $meta-color;
    font-size: 12px;
    @include respond-from('xsmall'){
      font-size: 14px;
    }
  }
}

.more {
  display: block;
  margin: 30px 0 0 0;
  position: relative;
  @include respond-to('small'){
    margin-bottom: 25px;
  }
  &::before {
    position: absolute;
    content: '';
    bottom: 5px;
    left: 0;
    width: 12px;
    border-bottom: 1px solid currentColor;
    @include respond-from('small'){
      bottom: 4px;
    }@include respond-from('large'){
      bottom: 5px;
    }
  }
  @include respond-from('large'){
    font-size: 14px !important;
  }
}


.d-flex {
  display: flex;
}

.d-none {
  display: none;
}
.d-block {
  display: block;
}
.b-box {
  box-sizing: border-box;
}
.reverse {
  flex-direction: row-reverse;
}

.j-between {
  justify-content: space-between;
}
.j-around {
  justify-content: space-around;
}
.j-center {
  justify-content: center;
}
.col {
  flex-direction: column;
}
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
.a-center {
  align-items: center;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.rounded-corners {
  border-radius: $border-radius;
}
.pos-relative {
  position: relative;
}
.pos-absolute {
  position: absolute;
}

h3, .h3 {
  font-family: $font-secondary-bold, sans-serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: $dark-text-color;
  text-align: left;

  @include respond-to('small') {
    font-size: 18px;
    line-height: 22px;
    margin-top: 0;
  }
}

h2, .h2 {
  @extend .h3;
  text-align: center;
  margin-top: 0;
  @include respond-to('small') {
    font-size: 24px;
    line-height: 29px;
  }
  @include respond-from('large') {
    font-size: 36px;
    line-height: 43px;
  }
}

.swiper-pagination, .swiper-pagination-collage {
  margin: 35px auto;
  position: static !important;
  width: fit-content;

}
.swiper-pagination-bullet{
  margin: 0 15px;
  border: 2px solid #979797;
  background: transparent;

  &-active {
    border: 2px solid $secondary-text-color !important;
    background: $secondary-text-color !important;
    outline: none;
  }
}
strong {
  font-family: $font-main-bold;
  font-weight: 700;
}

input {
  width: 350px;
  box-sizing: border-box;
  border: 2px solid #D5D5D5;
  border-radius: 10px;
  font-family: $font-main-regular;
  font-size: 14px;
  line-height: 24px;
  color: $main-text-color;
  &::placeholder {
    color: $placeholder-color;
  }
}
.error {
  font-family: $font-main-thin;
  font-weight: 300;
  font-size: 11px;
  line-height: 18px;
  color: $error;
}

h2 {
  font-family: $font-secondary-bold, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: $dark-text-color;
  @include respond-from('small') {
    font-size: 30px;
    line-height: 36px;
  }
}

img {
  width: 100%;
  border-radius: $border-radius;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $border-radius;
  min-width: 255px;
  min-height: 40px;
  font-family: $font-main-regular;
  border: 1px solid $dark-text-color;
  color: $dark-text-color;
  box-sizing: border-box;
  padding: 8px;
  background: transparent;
  text-decoration: none;
  cursor: pointer;
  transition: all .3s ease-in-out;
  &:hover {
    background: #f9f9f9;

  }
  &:active, &.active {
    background: #DADADA;
  }
  &.type2 {
    background: $secondary-text-color;
    border: 1px solid $secondary-text-color;
    &:hover {
      background: $meta-color;
    }
    &:active, &.active, &:hover {
      background: $dark-text-color;
      border: 1px solid $dark-text-color;
      color: $light-color;
    }
  }
  &.type3 {
    border: 1px solid $secondary-text-color;
    min-width: 220px;
    min-height: 50px;
    padding: 13px;
    color: $secondary-text-color;
    &:hover {
      background: #FDFDFD;
    }
    &:active, &.active {
      background: #EEB01E;
      border: 1px solid #EEB01E;
      color:$light-color;
    }
  }
}

.img-wrap {
  flex-grow: 0;
  width: 100%;
  position: relative;
  border-radius: $border-radius;
  overflow: hidden;
  padding-top: 74.24%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  /deep/img{
    object-fit: cover;
  }
}
.video__wrap {
  flex-grow: 0;
  flex-shrink: 0;
  width: 100%;
  padding-top: 62.73%;
  @include respond-from('xlarge') {
    flex-basis: 635px;
  }
}
.youtube {
  padding-top: 56.25%;
}
.wrap {
  flex-wrap: wrap;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: none;
  border-radius: 10px 10px 0 0;
  background: #FDFDFD;
  margin: 20px auto;
  //@extend .text;
  //@extend .text--main;
  tbody {
    border-radius: 10px 10px 0 0;
    overflow: hidden;
  }
  th, td {
    padding: 13px;
    vertical-align: center;
    border-collapse: collapse;
    border: none;
    &:not(:last-child){
      border-right: 1px solid #d8d8d8;
    }
  }
  tr:first-child {
    th:first-child, td:first-child{
      border-top-left-radius: $border-radius;
    }
    td:last-child, td:last-child{
      border-top-right-radius: $border-radius;
    }
  }
  th, tr:first-child {
    background: #DADADA;
  }

  tr:nth-child(even){
    background: #F9F9F9;
  }
}
//
//.page-enter-active,
//.page-leave-active {
//  transition-property: opacity;
//  transition-timing-function: ease-in-out;
//  transition-duration: 1500ms;
//}
//.page-enter,
//.page-leave-to {
//  opacity: 0;
//}
